---
title: Run experiments
---

<div class="bordered-section bdr">
	<h2 class="section-heading">Run experiments</h2>

	<h3 class="section-miniheading"><u>Context</u></h3>
	<p class="section-content">As a technology company, we are concerned with decay on multiple fronts: a stale ecosystem weakens the company’s competitive advantage but is also boring to members and potential hires.</p>
	<p class="section-content">Conversely, we are wary of “move fast and break things” corporate culture and fad-based technology bandwagons.</p>

	<h3 class="section-miniheading"><u>Decision</u></h3>
	<p class="section-content">We will run discrete, low-risk experiments to try new operational, business, and technology models.</p>

	<h3 class="section-miniheading"><u>Status:</u> Accepted.</h3>

	<h3 class="section-miniheading"><u>Consequences</u></h3>
	<p class="section-content">We have adopted Clojure and distributed systems as a core competency. We have explored a number of new technologies. We have attempted product development. We have created policy from operational experiments. Careful experiments seem to work: success is sustainable, failures are opportunities for learning.</p>

</div>

<p class="section-content bdr-footer"><a href="/decisions">◀ Return to Decisions List</a></p>
