---
title: nilenso is “nilenso”
---


<div class="bordered-section">
	<h2 class="section-heading">nilenso is “nilenso”</h2>
	<h3 class="section-heading"><u>Context </u></h3>
	<p class="section-content">Our company needed a name, we also had some vague idea that we wanted a company which was existentially recursive. </p>
	<h3 class="section-heading"><u>Decision </u></h3>

	<p class="section-content"> Our company is “nilenso” in both name and spirit. The “n” is always lower-case. The spirit is: we can be anything.</p>
	<h3 class="section-heading"><u> Status: </u>Tentatively Accepted.</h3>
	<h3 class="section-heading"><u>Consequences </u></h3>
	<p class="section-content">“we can be anything” has led to some difficult conversations. People outside nilenso are frustrated with –or confused by- a recursive corporate entity. </p>



</div>