---
title: 
---


<div class="bordered-section">
	<h2 class="section-heading">Annual Reviews</h2>
	<h3 class="section-heading"><u>context </u></h3>
	<p class="section-content">“review season” can be difficult in any company often these ddiculties are not met head-on but instead dealt with through obscurity and secrecy. Given our collective preference for open, honest communication described in [BDR-012 “no secrets”] we must also address performance reviews openly and honestly.</p>

	<h3 class="section-heading"><u>Decision </u></h3>
	<p class="section-content">“review season” can be difficult in any company often these ddiculties are not met head-on but instead dealt with through obscurity and secrecy. Given our collective preference for open, honest communication described in [BDR-012 “no secrets”] we must also address performance reviews openly and honestly. </p>
	<h3 class="section-heading"><u> Status: </u>Accepted</h3>
	<h3 class="section-heading"><u>Consequences </u></h3>
	<p class="section-content">Internally, the review process has been well-received. Externally, the articles on our blog have given us some exposure. One difficulty in herring the process has been a consequent expectation that the review process can be dissected scientifically. It cannot. The paradox of a “pretty good” system in the face of an uncertain and imprecise task is that we will always yearn to improve it further. We must be vigilant against diminishing returns. </p>



</div>