---
title: Provide annual reviews
---


<div class="bordered-section bdr">
	<h2 class="section-heading">Provide annual reviews</h2>

	<h3 class="section-miniheading"><u>Context</u></h3>
	<p class="section-content">“Review season” can be difficult in any company. Often these difficulties are not met head-on but instead dealt with through obscurity and secrecy. Given our collective preference for open, honest communication described in "BDR012: no secrets" we must also address performance reviews openly and honestly.</p>

	<h3 class="section-miniheading"><u>Decision</u></h3>
	<p class="section-content">Feedback loops should be short, not annual. Annual Reviews provide a formal opportunity for feedback and evaluation but the intention is to summarize the year. While we are small, everyone is welcome at the review of anyone else. Reviews are shared openly on the "Reviews" app: <a href="https://github.com/nilenso/reviews/">[GitHub]</a>. The specific process changes year to year but we have written articles: <a href="https://blog.nilenso.com/blog/2015/06/30/how-to-co-op-salaries-reviews/">"How to Co-op: Salaries and Reviews"</a> and <a href="https://blog.nilenso.com/blog/2017/04/06/black-mirror-or-a-review-of-the-review-process-at/">A review of the review process at a software co-operative</a>.</p>

	<h3 class="section-miniheading"><u>Status:</u> Accepted.</h3>

	<h3 class="section-miniheading"><u>Consequences</u></h3>
	<p class="section-content">Internally, the review process has been well-received. Externally, the articles on our blog have given us some exposure. One difficulty in honing the process has been a consequent expectation that the review process can be dissected scientifically. It cannot. The paradox of a “pretty good” system in the face of an uncertain and imprecise task is that we will always yearn to improve it further. We must be vigilant against diminishing returns.</p>

</div>

<p class="section-content bdr-footer"><a href="/decisions">◀ Return to Decisions List</a></p>
