
---
title: Prefer Open [Source, data, etc]
---


<div class="bordered-section">
	<h2 class="section-heading">Prefer Open [Source, data, etc]</h2>
	<h3 class="section-heading"><u>context </u></h3>
	<p class="section-content">As a software consultancy, it is often the preference of our clients to build proprietary software as it is often in its proprietary nature that companies perceive software as creating value as “intellectual property”.</p>
	<p class="section-content">Proprietary software is of limited value to us and to society. It cannot be reused. Lessons cannot be learned, collectively, from closed code bases. </p>
	<p class="section-content">Proietary data sets suffer similar but tangential diseases. They, too, live on only as long as the corporation which “owns” them. However, they may at least see public consumption through public APIs. In cases of narrow or specialized data sets, this may be enough. </p>
	<p class="section-content">Open source is commonly (if not ubiquitously) consumed. As far as libraries, tools, and generic  services are concerned, it is also commonly contributed to by many companies. Open data, much less so on both counts.</p>
	<p class="section-content">Open documentation(text, audio, video, etc) is widely accepted and contributed to. </p>
	<h3 class="section-heading"><u>Decision </u></h3>
	<p class="section-content">wherever possible, bilenso will prefer open technologies: we will avoid contributing to patents. We will encourage our clients to extract open source tools, libraries, services, and applications from their proprietary codebases. We will prefer to work with clients who exclusively produce open source (free) software and/or contribute to open data sets. We will encourage our clients to open their code, if they can, and open their data sets, if doing so is safe. </p>
	<ul>	
		<li>When nilenso builds any software, we will prefer to do so under an open license.</li>
		<li>When nilenso exposes a data set, we will try to do so under an open license.</li>
		<li>When nilenso release documentation, we will prefer to do so under the most liberal open license the author(s) is/are confortable whit.</li>
	</ul>
	<h3 class="section-heading"><u> Status: </u>proposed, debated. </h3>
	<h3 class="section-heading"><u>Consequences </u></h3>
	<p class="section-content"> Open documentation and open data have rarely, if ever, been points of contention at nilenso. Blog post, openly-licensed talks on youtube, white papers, and podcasts are baked into an industry built on information sharing. When consuming large data sets, open data is always less restrictive and causes us fewer follow-on concerns (legal, technical, and otherwise) that closed data sets do. It is natural as a software company to prefer that we work with-and contribute back to- open data.</p>
	<p class="section-content">Open soruce is more complicated. Although every single layer between our code and the hardware it run on (servers, clients, and networks) is a built almost exclusively on free and open source software, it is always the “last mile”, where all our consumer-focused software live, which is most difficult to license openly. This difficulty is twofold: we need not only convince our clients –we must also convice ourselves. “selling” open source to our clients is not always an easy task: over simplification leads to a very common argument” </p>
	<p class="section-content">“this [app/service/library] is too specific. It has no value as reusable open source”. </p>
	<p class="section-content">This argument is not incorrect. It is simply too crude to capture any meaning. It is also self-defeating in the face of coupling with any “intellectual property” argument. Let’s examine both. </p>
	<p class="section-content">It is “too crude” because it forsakes all parts, all components, and all wheles (alexander) for a singular totality. Code is never reused in its totality. Perhaps one service is useful in the commons. One namespace. One function. Open source is capable of analysis at every granularity. Proprietary software cannot be analyzed or reused at anygranularity – not even by its original authors. </p>
	<p class="section-content">It is “self-defeating” because the truth that any software package is not valuable when reused in its totality means it also carries minimal value as “property”. Most clients do not want to hear this. We also not want to hear this, as the engineers of such “property”. If we look to the crudeness argument we , as authors, may feel reassured. Our clients, not so much. </p>
	<p class="section-content">It is a difficult case to make but it is the case our industry is built upon and we will continue to make it. </p>


</div>