---
title: Try new things.
---


<div class="bordered-section">
	<h2 class="section-heading">Try new things.</h2>
	<h3 class="section-heading"><u> Context</u></h3>
	<p class="section-content">We wanted nilenso to be different from other companies in many ways. We had no intention of being different simply for the sake of being different. We hopped to have policies which corrected shortcomings we saw in other companies. </p>
	<p class="section-content">One such shortcoming was the narrowing and specialization of skill sets in the “knowledge work economy”. </p>
	<h3 class="section-heading"><u>Decision </u></h3>
	<p class="section-content">To broaden horizons for members of nilenso, we discussed a policy which would not only enable members to change their roles and responsibilities but would encourage them to do so.</p>
	<h3 class="section-heading"><u> Status: </u>Accepted</h3>
	<h3 class="section-heading"><u>Consequences </u></h3>
	<p class="section-content">On a small scale, this policy has brought us many succeses. We have avoided pigeon-holing any one person into a single role; particularly technical staff. </p>
	<p class="section-content">Our larger attempts have not always been successful: hiring consultants and full role changes (admin -> project manager) have thus for been disappointing. In most such cases, it seems that more formal education may present a better alternative than abandoning this policy. </p>
</div>