---
title: Use the best tools
---


<div class="bordered-section bdr">
	<h2 class="section-heading">Use the best tools</h2>

	<h3 class="section-miniheading"><u>Context</u></h3>
	<p class="section-content">Many modern work environments sacrifice both the comfort and health of employees in the name of efficiency. While we recognize trade-offs in every potential expenditure we all recognize specific improvements we would like to see to our environments.</p>

	<h3 class="section-miniheading"><u>Decision</u></h3>
	<p class="section-content">We unanimously agreed on this principle for our workstations, before anything else: computers provided by the company, comfortable and supportive chairs, large monitors, customs keyboards, etc.</p>
	<p class="section-content">The decision was the broadened to our entire environment. We should always have ergonomic furniture, physical spaces which are easy on the five senses (ex. dampening sound and muting colours), the right software, fast internet connections, good books, etc.</p>

	<h3 class="section-miniheading"><u>Status:</u> Accepted.</h3>

	<h3 class="section-miniheading"><u>Consequences</u></h3>
	<p class="section-content">This policy has pushed us to buy lampshades, a washing machine, a large refrigerator, powerful laptops, custom desks, sit/stand desks, high quality chairs, sound dampening material, and software packages.</p>
	<p class="section-content">This policy finds very little contention in a worker co-op.</p>

</div>

<p class="section-content bdr-footer"><a href="/decisions">◀ Return to Decisions List</a></p>
