---
title: Progressive Work
---


<div class="bordered-section">
	<h2 class="section-heading">Progressive Work</h2>
	<h3 class="section-heading"><u>Context </u></h3>
	<p class="section-content">It is a curious consequence of our generation’s privilege –one which places our means well beyond the scope of our needs- that the bar for what one considers “meaningful work” Is raised so substantially. How substantial? Well even to say “raise the bar” is overly simplistic, one-dimensional imagery. One might say the field has changed shape and the goal post have moved to at least add a second dimension. </p>
	<p class="section-content">Everywhere one looks, the technology industry and its sibling shout about “impact” and “scale” and “meaning” and “revolution” and “disruption”. The rhetoric is so consistent it becomes impossible to sort signal from noise on content alone. </p>
	<p class="section-content">If nilenso hopes to define “impact” and “progress” for itself, it will become a constant task, a constant discussion. If the goal is constantly moving we must –collectively and cooperatively- open our eyes and agree on its location today, And tomorrow. </p>

	<h3 class="section-heading"><u> Decision</u></h3>
	
	<p class="section-content">We will pursue progressive work. We will constantly redefine what “progress” means: it may mean primary producer verticals, healthcare or education verticals, or any other vertical we deem important to us and to society. It may also mean our methods or the technology we use; Artificial intelligence, language design, and cryptography are on our minds in early 2018 –but this could be anything. </p>

	<h3 class="section-heading"><u> Status: </u>Accepted</h3>

	<h3 class="section-heading"><u>Consequences </u></h3>

	<p class="section-content">This has been one of nilenso’s most difficult policies to explain, given it fluid nature. People often mistake this policy for altruism. It is not. It may lead to altruistic decisions but progress has no specific dependency on selflessness. </p>
	<p class="section-content">Projects we have taken up under this banner have included transportation, media, instant payments, education, solar energy, rural India healthcare, clean water, open data maps, citizen activism, Haskell in the browser, and massive horizontal scaling of millions of videos streams. </p>




</div>