---
title: nilenso is international
---


<div class="bordered-section">
	<h2 class="section-heading">nilenso is international</h2>
	<h3 class="section-heading"><u>context </u></h3>
	<p class="section-content">the members of nilenso realize that almost any other employment opportunity in the software industry would afford us the possibility of traveling, living, and working internationally. </p>
	<h3 class="section-heading"><u>Decision </u></h3>
	<p class="section-content">In the interest of competing with comparable software companies and for the job satisfaction of nilenso members, we agree to pursue international projects, conferences, and offices (virtual or physical) whenever it is financially sound to do so. </p>
	<h3 class="section-heading"><u> Status: </u>Accepted</h3>
	<h3 class="section-heading"><u>Consequences </u></h3>


	<p class="section-content">Members of nilenso have attended many international conferences. We have not successfully moved a member outside of India or hired a foreign employee. </p>
</div>