---
title: Keep no secrets
---


<div class="bordered-section bdr">
	<h2 class="section-heading">Keep no secrets</h2>

	<h3 class="section-miniheading"><u>Context</u></h3>
	<p class="section-content">Many of nilenso’s members have worked for highly secretive organizations: defense departments, banks, trading firms, R&amp;D departments of large corporations. We did not like the secretive and/or mysterious nature of these groups. While <i>individual</i> privacy is paramount, <i>collective</i> secrets are rarely progressive. In our experience, these types of secrets further cliques and in-fighting, grow fear/uncertainly/doubt, polish pride, egos and self-importance, and even cause people to act with irrational greed (in banks and trading firms, especially) or, at worst, to actively pursue the harm of others (in defense).</p>
	<p class="section-content">Having run a successful experiment with one of industry’s most internally secretive metrics &mdash; salaries &mdash; we were curious if complete internal transparency could be applied everywhere. </p>

	<h3 class="section-miniheading"><u>Decision</u></h3>
	<p class="section-content"> We will always be internally transparent. We will not hold secret meetings. We will fight to avoid creating a privileged class of member entitled to more information than other members. We will provide feedback openly, when possible. We will educate new members on the value and process of transparency within nilenso. We will inevitable fail and when we do we will identify and attempt to correct this failure.</p>

	<h3 class="section-miniheading"><u>Status:</u> Accepted.</h3>

	<h3 class="section-miniheading"><u>Consequences</u></h3>
	<p class="section-content">This policy, although not always convenient or easy to uphold, has served members of nilenso well so far. The one exception we have had to take into account is sensitive information private to any one individual. Drugs abuse, mental illness, and domestic violence are examples of truly private individual information the co-operative have no right to expose without the express consent of the individual. </p>
</div>

<p class="section-content bdr-footer"><a href="/decisions">◀ Return to Decisions List</a></p>
