---
title: Match charity and donations
---


<div class="bordered-section bdr">
	<h2 class="section-heading">Match charity and donations</h2>

	<h3 class="section-miniheading"><u>Context</u></h3>
	<p class="section-content">There are many worthy charities. It is impossible to construct a partial order (is “save the whales” more important or “save the Western Ghats”?) much less the total order of all causes we might support.</p>

	<h3 class="section-miniheading"><u>Decision</u></h3>
	<p class="section-content">To avoid endless debate and focus on execution, we will have a one-for-one, “put your money where your mouth is” policy for charity.</p>
	<p class="section-content">In short, any personal donation made by any individual member of nilenso will be matched by nilenso. This rule has one exemption which is when nilenso is asked for donation directly, in which case it is up for discussion. An example of this latter case can be found in Clojurists Together, an open source non-profit which has asked us directly for corporate donations in the past.</p>

	<h3 class="section-miniheading"><u>Status:</u> Accepted</h3>

  <h3 class="section-miniheading"><u>Consequences</u></h3>
  <p class="section-content">This policy has all but ended fruitless debate on charity. However, we have not publicized the policy very well, internally. Many people make donations without knowing precisely how to get their donations matched by nilenso.</p>

</div>

<p class="section-content bdr-footer"><a href="/decisions">◀ Return to Decisions List</a></p>
