---
title: the best tools
---


<div class="bordered-section">
	<h2 class="section-heading">the best tools</h2>
	<h3 class="section-heading"><u>context </u></h3>
	<p class="section-content"> many moderm wrk environments sacrifice both the comfort and health of employees in the name of efficiency, while we recognize trade-effs in every potential expenditure we all recognize specific improvements we would like to see to our environments.</p>
	<h3 class="section-heading"><u>Decision </u></h3>
	<p class="section-content"> We unanimously agreed on this principle for our workstations, before anything else: computers provided by the company, comportable and supportive chais, large monitors, customs keyboards, etc.</p>
	<p class="section-content">The decision was the broadened to our entire environment. </p>
	<h3 class="section-heading"><u> Status: </u>Accepted</h3>
	<h3 class="section-heading"><u>Consequences </u></h3>

	<p class="section-content">This policy has left us to buy lampshades a washing machine, a large refrigerator, powerful laptops, custom desk. And high quality chairs. Eventually, this expanded to sound dampening material for ceilings and software packages. </p>
	<p class="section-content">This policy finds very little contention in a worker co-op </p>


</div>