---
title: Provide menstrual leave
---


<div class="bordered-section bdr">
	<h2 class="section-heading">Provide menstrual leave</h2>

	<h3 class="section-miniheading"><u>Context</u></h3>
	<p class="section-content">Many countries and companies around the globe already offer some form of leave which coincides with menstrual discomfort. The existence of such a policy only seems logical and civilized. The question therefore is one of presentation: how can we avoid engendering confusion/FUD? How can the policy be self-explanatory, to this end? Even among educated men &amp; women there can be confusion about such a policy being “unfair” or surface confusion which conflates such a policy with sick leave.</p>

	<h3 class="section-miniheading"><u>Decision</u></h3>
	<p class="section-content">We have articled the <a href="https://blog.nilenso.com/blog/2016/05/16/i-have-cramps/">genesis of our policy</a>. We have a simple, no-questions-asked Menstrual Leave Policy. How simple? The preceding sentence basically encompasses the entire thing: Say you are taking the day off, then take it. Need two days? Take two days. You do not need to justify this to anyone. Menstrual Leave is not the same as Sick Leave.</p>
  <p class="section-content">We will have ongoing discussions with the intention of destroying the taboos associated with menstruation.</p>

	<h3 class="section-miniheading"><u>Status:</u> Accepted.</h3>

	<h3 class="section-miniheading"><u>Consequences</u></h3>
	<p class="section-content">As a consultancy, we must explain “menstrual leave” to our clients and attempt to educate them and eliminate taboos outside nilenso.</p>
	<p class="section-content">Reception to our policy has been positive. It has been duplicated elsewhere and we have had some opportunities to publish it and to provide support to <a href="https://www.reuters.com/article/us-india-women-menstruation/indian-firm-offers-menstrual-leave-for-women-on-first-day-of-period-idUSKBN19X24A">similar initiatives</a> on a larger scale.</p>

</div>

<p class="section-content bdr-footer"><a href="/decisions">◀ Return to Decisions List</a></p>
