
---
title: Run experiments
---


<div class="bordered-section">
	<h2 class="section-heading">Run experiments</h2>
	<h3 class="section-heading"><u>context </u></h3>
	<p class="section-content">As a technology company, we are concerned with decay on multiple fronts: a state ecosystem weakens the company’s competitive advantage but is also boring to member and potential hires. </p>
	<p class="section-content">Conversely, we are wery  of “move fast and break things” corporate culture and fad-based technology bandwagons </p>
	<h3 class="section-heading"><u>Decision </u></h3>
	<p class="section-content">We will run discrete, low-risk experiments to try new operational, business, and technology models. </p>
	<h3 class="section-heading"><u> Status: </u>Accepted</h3>
	<h3 class="section-heading"><u>Consequences </u></h3>
	<p class="section-content">We have adopted clojure and distributed systems as a core competency. We have explored a number of new technologies. We have attempted product development. We have created policy from operational experiments. </p>

</div>