---
title: Prefer transparency
---


<div class="bordered-section bdr">
	<h2 class="section-heading">Prefer transparency</h2>

	<h3 class="section-miniheading"><u>Context</u></h3>
	<p class="section-content">If we consider “keeping secrets” the opposite of “being transparent” there is, beyond that dichotomy, a clear and inherent distinction between transparency <i>internal</i> to the organization (already decided to be our preferred Modus Operandi in "BDR012: Keep no secrets") and <i>external</i> transparency. Collectively, the transparency of nilenso in its entirety amounts to the transparency of the professional lives of nilenso’s individual members. Clearly, external transparency therefore requires more careful consideration to protect the privacy and safety of nilenso’s members. It cannot be declared in the absolute. </p>
	<p class="section-content">As such, we must search for the boundaries of our comfort and safety. Some transparency leads to exposure which in turn leads to potential embarrassment. When are we comfortable with this? When are we not? Can the organization itself absorb consequences of exposure to limit discomfort for individuals?</p>
	<p class="section-content">Extreme examples can be found in “radically” transparent organizations such as Buffer, Inc. &mdash; where data like salary and stock per employee is not only internally transparent but also externally transparent.</p>

	<h3 class="section-miniheading"><u>Decision</u></h3>
	<p class="section-content"> We will be externally transparent wherever possible. In many cases, this has been an organizational beheviour since nilenso’s genesis: we are open and honest with potential clients regarding our consulting availability, rates, discounts, plans, and previously–engaged clients. We have even considered putting this information on our website.</p>
	<p class="section-content">Wherever transparency means publishing nilenso’s experiences, learnings, plans, policies, partnerships and processes we will endeavor to do so. In particular, publication valuable to our customers or society at large is preferred. This is similar to "BDR011: Prefer open", though "transparency" implies visibility into something a corporation would normally consider its own (as opposed to source code or data sets). Not every plan, experience, or process can or should be published. Some are still under development or up for debate. Whether nilenso publishes our administrative work to the Commons, and how quickly we do so, will be a discussion for each individual publication.</p>

	<h3 class="section-miniheading"><u>Status:</u> Accepted.</h3>

	<h3 class="section-miniheading"><u>Consequences</u></h3>

	<p class="section-content">Transparent publication and discussion of <a href="https://blog.nilenso.com/blog/2017/02/14/nilenso-policies-by-the-people-for-the-people/">nilenso’s policies</a> and <a href="https://blog.nilenso.com/blog/2017/09/12/gunak-designing-with-the-indian-government/">processes</a> has gained us local and global notoriety. Similarly, publishing <a href="https://www.youtube.com/c/nilenso">our conference talks</a> is an industry default and we have extended this to publishing local talks given to small audiences. Such exposure has not caused us collective or individual issue yet &mdash; but we acknowledge the potential. As such, we will always favour the safety and privacy of the individual over our desire to publish our work.</p>
</div>

<p class="section-content bdr-footer"><a href="/decisions">◀ Return to Decisions List</a></p>
