---
title: nilenso has structure (representative democracy)
---


<div class="bordered-section bdr">
	<h2 class="section-heading">nilenso is a democracy</h2>

	<h3 class="section-miniheading"><u>Context</u></h3>
	<p class="section-content">Our initial approach of “bikeshed and referundums for everything” quickly became too expensive. We required a lightweight alternative.</p>

	<h3 class="section-miniheading"><u>Decision</u></h3>
	<p class="section-content">Twofold: (1) We will appoint elected representative management (“executives”-2x) to lead the company. (2) We will not strive for an artificially “flat” hierarchy or deny natural pecking orders.</p>

	<h3 class="section-miniheading"><u>Status:</u> Accepted.</h3>

	<h3 class="section-miniheading"><u>Consequences</u></h3>
	<p class="section-content">There has been confusion about the fact that, despite having one vote in any major decision, not everyone’s opinion counts equally in discussion. This more natural structure has made us more effective; someone with 15 years of experience usually has more to contribute than someone with 15 months of. </p>

</div>

<p class="section-content bdr-footer"><a href="/decisions">◀ Return to Decisions List</a></p>
