---
title: Prefer Transparency
---


<div class="bordered-section">
	<h2 class="section-heading">Prefer Transparency</h2>
	<h3 class="section-heading"><u>context </u></h3>
	<p class="section-content">If we consider “keeping secrets” the opposite of “being transparent” there is a clear and inherent distinction between transparency <u>internal</u>  to the organization (already decided to be our preferred M.O in BDR012: no secrets) and <u>external</u>  transparency. Collectively, the transparency of nilenso in its entirety amounts  to the transparency of the professional lives of nilenso’s individual members. Clearly, external transparency therefore requires moer careful consideration to protect the privacy and safety of nilenso’s members. It cannot be declared in the absolute. </p>
	<p class="section-content"> As such, we must search for the boundaries of our comfort and safety. Some transparency leads to exposure which in turn leads to potential embarrassment. When are we comfortable with this? When are we not? Can the organization itself absorb consequences of exposure to limit discomfort for individuals?</p>
	<p class="section-content">Extreme examples can be found in “radically” transparent organizations such as buffer, inc. where data like salary and stock per employee is not only internally transparent but also externally transparent. </p>
	<h3 class="section-heading"><u>Decision </u></h3>
	<p class="section-content"> We will be externally transparent wherever possible. In many cases, this has been an organizational beheviour since nilenso’s genesis: we are open and honest with potential clients regarding our consulting availability, rates, discounts, plans, and previously –engaged clients. We have even considered putting this information on our website.</p>

	<p class="section-content">Wherever transparency means publishing nilenso’s experiences, learnings, plans, policies, partnerships and processes we will endeavor to do so. In particular, publication valuable to our customers or society at large is preferred. This is similar to BDR011: Prefer Ppen. </p>
	<h3 class="section-heading"><u> Status: </u>proposed, debated.</h3>
	<h3 class="section-heading"><u>Consequences </u></h3>

	<p class="section-content"> Transparent publication and discussion of nilenso’s policies and processes has gained us local and global notoriety. Such exposure has not caused us collective or individual issue yet-but we acknowledge this potential. [Ref: blog, youtube]</p>
</div>