---
title: Incorporate as an LLP
---


<div class="bordered-section bdr">
	<h2 class="section-heading">Incorporate as an LLP</h2>

	<h3 class="section-miniheading"><u>Context</u></h3>
	<p class="section-content">We largely preferred the idea of incorporating a business in India, but India has no legal framework for technology co-operatives or co-operatives conducting overseas business.</p>
	<p class="section-content">All possible legal entities were considered:</p>

	<ul>
    <li>Incorporating a true Worker Co-op in Canada and running nilenso as an Indian subsidiary</li>
		<li>Using an actual Co-operative Society</li>
	  <li>Forming a Trust to govern a Pvt. Ltd.</li>
	  <li>Using a regular Pvt. Ltd.</li>
	  <li>Using a customized LLP</li>
	</ul>

	<p class="section-content">Each had its problems. A true co-op incorporated in Canada relied an external participation (a second Canadian) and put the core entity in the wrong country altogether.</p>
	<p class="section-content">An Indian Co-operative Society has a minimum member count restriction, cannot hire foreign workers, and cannot sell its product or services outside of India. The current state of Indian corporate law pertaining to Co-operatives is too antiquated to permit co-operative technology companies.</p>
	<p class="section-content">A Trust may have worked but ran the risk of appearing “suspicious” to the income tax department.</p>
	<p class="section-content">A Pvt. Ltd. has a strict structure which work only if directors do not change too frequently &mdash; a restriction we were not willing to accept.</p>
	<p class="section-content">A customized LLP required that we use our LLP agreement to nearly invert the terms of a normal partnership: partners claim no rights to profits whatsoever. Although somewhat awkward, our LLP agreement is legally sound and does a very effective job of describing the worker-owned nature of nilenso as a corporation.</p>

	<h3 class="section-miniheading"><u>Decision</u></h3>
	<p class="section-content">We opted for a customized LLP, heavily reviewed by Khaitan & Co. The agreement would be refined every April, upon renewal. </p>

	<h3 class="section-miniheading"><u>Status:</u> Accepted.</h3>

	<h3 class="section-miniheading"><u>Consequences</u></h3>
	<p class="section-content">Other companies, such as Hamon Technologies, have used our LLP agreement to incorporate. This is possible because we released the agreement in template form as an open document: <a href="https://github.com/nilenso/cooperative-agreement/">View on GitHub</a>.</p>
	<p class="section-content">Our auditors have warned us about an LLP appearing “suspicious” by holding on to too many assets, as capital is paid out to Partners in a standard LLP. We essentially do the opposite of this.</p>
	<p class="section-content">The co-operative community has been receptive to our structure, in lieu of current Indian corporate law.</p>

</div>

<p class="section-content bdr-footer"><a href="/decisions">◀ Return to Decisions List</a></p>
