---
title: nilenso is a co-operative
---


<div class="bordered-section bdr">
	<h2 class="section-heading">nilenso is a co-operative</h2>

	<h3 class="section-miniheading"><u>Context</u></h3>
	<p class="section-content">In 2013, after closely witnessing the failure of multiple in-spirit-but-not-on-paper “software collectives”, the founders of nilenso wanted a resilient legal structure which could sustain a self-contained institution over any number of employee or founder exits.</p>

	<h3 class="section-miniheading"><u>Decision</u></h3>
	<p class="section-content">We evaluated an array of structures: Umbrella, Founder-based, Equity-based, “decaying” equity-based, and co-operatives. Only an employee-owned, worker co-operative could meet our institution requirement over medium and long-term modeling. This decision was also based on what would appeal most to potential employees in the long run.</p>

	<h3 class="section-miniheading"><u>Status:</u> Accepted.</h3>

	<h3 class="section-miniheading"><u>Consequences</u></h3>
	<p class="section-content">This worked. People frequently say they want to work with us because we are a Co-op. Six of eight founding members have left whithout disrupting nilenso’s active employee ownership and control.</p>
	<p class="section-content">Beyond control, a formal co-operative also dictates seven principles which the corporation must abide by:</p>
	<ol>
	  <li>Voluntary, open ownership.</li>
	  <li>Democratic owner control.</li>
	  <li>Owner economic participation.</li>
	  <li>Autonomy and independence.</li>
	  <li>Education, training, and information.</li>
	  <li>Cooperation among co-operatives.</li>
	  <li>Concern for community.</li>
	</ol>
	<p class="section-content">Points #4 - #7 heavily influence our long-term operations where #1-#3 are more structural. Operational points were not taken seriously until much later in nilenso’s evolution.</p>

</div>

<p class="section-content bdr-footer"><a href="/decisions">◀ Return to Decisions List</a></p>
