---
title: nilenso will use business decision records
---

<div class="bordered-section bdr">
  <h2 class="section-heading">nilenso will use business decision records</h2>

  <h3 class="section-miniheading"><u>2018-07-17</u><h3>

  <h3 class="section-miniheading"><u>Note</u></h3>
  <p class="section-content">This BDR is one-of-a-kind. It marks the end of "historical" decisions documented with BDRs. After this BDR, all future decisions will be documented shortly after they are made and will include a date, like the one above.</p>

  <h3 class="section-miniheading"><u>Context</u></h3>
	<p class="section-content">It has been hard to answer the question “what is nilenso?” Are we well described on our website? Can you get a sense of us from our Twitter account? Blog post? Talks? Publicized policy? </p>

	<p class="section-content">nilenso is many things: a worker cooperative, a “hacker’s collective”, an experimental technology consultancy, a design firm, an Ops Team, an office space. Policy is verbose and blog posts are piecemeal. Principle is not easy to document. Moreover, as soon as a document is written it is out of date. All companies are built of ephemeral moving parts &mdash; nilenso especially so.</p>

    <h3 class="section-miniheading"><u>Decision</u></h3>
	<p class="section-content">We have seen the effectiveness of <a href="http://thinkrelevance.com/blog/2011/11/15/documenting-architecture-decisions">“Architectural Decision Records (ADRs)”</a> on our software projects and in open source. We believe that by documenting coarse-grained decision on an immutable, append-only timeline similar to a list of ADRs, we can capture much of the essence of our strategy, policy, and principles &mdash; in a consistent, reproducible, publishable format.</p>
	<p class="section-content">This format, structured as <strong>Context-Decision-Status-Consequences</strong> allow us to be both concise and informal while directing the reader to living documents such as policies, references, and long-form material such as articles, blog posts, and videos.</p>
  <ul>
    <li class="section-content">BDR = “Business Decision Record”</li>
  </ul>

	<h3 class="section-miniheading"><u>Status:</u> Accepted.</h3>

	<h3 class="section-miniheading"><u>Consequences</u></h3>
	<p class="section-content">Publicizing BDRs gives readers &mdash;both members of nilenso and the public&mdash; a singular starting point for discovery of material behind major decision nilenso has taken. This provides a modular blueprint for other organizations to examine, copy, and implement.</p>
	<p class="section-content">A very real danger exists that major decisions will go unrecorded. When this occurs, we must write retrospective BDRs (as all BDRs preceding this BDR have been) dependent on our memories and occurrences between the actual event and when the BDR is written.</p>
	<p class="section-content">We will try our best to write a meaningful BDR as and when a major decision is made. </p>
	<p class="section-content">It is important to note that a “major decision” can only be <u>strategic</u>. A BDR describes strategy, philosophy, principle, or policy. </p>
	<p class="section-content">BDRs should <u>not</u> describe tactics, implementation, or the specifics of an event. A good litmus test is whether or not a BDR contains the name of an individual. If it does, it is probably not a BDR.</p>
	<p class="section-content">BDRs should also not be confused for board resolutions. BDRs are not contracts; while they do express intent, they are not binding documents like a policy document or board resolution. Principle and philosophy BDRs tend to be emergent and are often decided and implemented implicitly before they are explicit. Board resolutions are a formal (and contractual!) document and should be written elsewhere. </p>

 </div>

<p class="section-content bdr-footer"><a href="/decisions">◀ Return to Decisions List</a></p>
