---
title: Solve difficult Problems
---


<div class="bordered-section bdr">
	<h2 class="section-heading">Solve difficult Problems</h2>

	<h3 class="section-miniheading"><u>Context</u></h3>
	<p class="section-content">Our company genesis as a software consultancy initially led us down the well-worn path of “web application development”. It wasn’t long until we realized that solving the same problem over and over would prove unsatisfying for everyone. Boredom means attirion and attrition eventually means the death of a company. </p>
	<p class="section-content">Conversely, tackling new and difficult problems can be fun. For the happiness of nilenso’s members and for the sustainability and longevity of the organization we wanted to fend of boredom.</p>

	<h3 class="section-miniheading"><u>Decision</u></h3>
	<p class="section-content">Whenever possible, we would approach marketing, sales, and recruitment with an eye toward problems just outside our collective comfort zone. This might involve changes to programming language, tech stack, business, role, activity, or even geography and culture.</p>

	<h3 class="section-miniheading"><u>Status:</u> Accepted.</h3>

	<h3 class="section-miniheading"><u>Consequences</u></h3>
	<p class="section-content">Early on, we took on Clojure and machine learning work that was well beyond our capability at the time. With heavy mentoring, open and honest communication with the client, and an extended evaluation period, this was a huge success.</p>
	<p class="section-content">Since then, we have built fault-tolerant distributed systems, built software in GoLang, Haskell, and Elixi, and learned to apply these skills across numerous verticals. </p>
	<p class="section-content">A few members of nilenso have also become respected public speakers.</p>

</div>

<p class="section-content bdr-footer"><a href="/decisions">◀ Return to Decisions List</a></p>
