---
title: Charity and donations
---


<div class="bordered-section">
	<h2 class="section-heading">Charity and donations</h2>
	<h3 class="section-heading"><u>context </u></h3>
	<p class="section-content">There are many worthy charities. It is impossible to construct a partial order (is “save the whales” more important or “save the ghost”?) much less the total order of all causes we might support. </p>

	<h3 class="section-heading"><u>Decision </u></h3>
	<p class="section-content">To avoid endless debate and focus on execution, we will have a one-for-one, “put your money where your mouth is” policy for charity [link]. </p>
	<p class="section-content">In short, any personal donation made by any individual member of nilenso will be matched by nilenso. This rule has one exemption which is when nilenso is asked for donation directly, in which case it is up for discussion. </p>
	<h3 class="section-heading"><u> Status: </u>Accepted</h3>


</div>
