---
title: nilenso is “nilenso”
---


<div class="bordered-section bdr">
	<h2 class="section-heading">nilenso is “nilenso”</h2>

	<h3 class="section-miniheading"><u>Context</u></h3>
	<p class="section-content">Our company needed a name, we also had some vague idea that we wanted a company which was existentially recursive. </p>

	<h3 class="section-miniheading"><u>Decision</u></h3>
	<p class="section-content">Our company is “nilenso” in both name and spirit. The “n” is always lower-case. The spirit is: we can be anything. We have <a href="https://nilenso.com/name.html">a brief explanation of what the name means</a>.</p>

	<h3 class="section-miniheading"><u>Status:</u> Accepted.</h3>

	<h3 class="section-miniheading"><u>Consequences</u></h3>
	<p class="section-content">“We can be anything” has led to some difficult conversations. People outside nilenso are frustrated with &mdash; or confused by &mdash; a recursive corporate entity.</p>

</div>

<p class="section-content bdr-footer"><a href="/decisions">◀ Return to Decisions List</a></p>
