---
title: nilenso is international
---


<div class="bordered-section bdr">
	<h2 class="section-heading">nilenso is international</h2>

	<h3 class="section-miniheading"><u>Context</u></h3>
	<p class="section-content">The members of nilenso realize that almost any other employment opportunity in the software industry would afford us the possibility of traveling, living, and working internationally.</p>

	<h3 class="section-miniheading"><u>Decision</u></h3>
	<p class="section-content">In the interest of competing with comparable software companies, and for the job satisfaction of nilenso members, we agree to pursue international projects, conferences, and offices (virtual or physical) whenever it is financially sound to do so.</p>

	<h3 class="section-miniheading"><u>Status:</u> Accepted.</h3>

	<h3 class="section-miniheading"><u>Consequences</u></h3>
	<p class="section-content">Members of nilenso have attended many international conferences. We have not successfully moved a member outside of India or hired a foreign employee but we have actively discussed both and still look forward to executing both. We have also actively discussed the possibility of federating the nilenso co-operative by opening sister offices in other countries (often codenamed "nilenso.jp").</p>
</div>

<p class="section-content bdr-footer"><a href="/decisions">◀ Return to Decisions List</a></p>
