---
title: Incorporate as an LLP
---


<div class="bordered-section">
	<h2 class="section-heading">Incorporate as an LLP</h2>
	<h3 class="section-heading"><u>Context </u></h3>
	<p class="section-content">  We largely preferred the idea of incorporating a business in India, But India has no legal framework for technology co-operatives or co-operatives conducting overseas business.</p>
	<p class="section-content">All possible legal entities were considered: </p>
	<p class="section-content">Incorporating a worker co-op in Canada and running an indian subsidiary. </p>
	<ul>
		<li>Using an actual co-operative society.</li>
		<li>Using an actual co-operative society.</li>
	    <li>Forming a trust to govern a pvt. Ltd.</li>
	    <li>Using a regular pvt. Ltd.</li>
	    <li>Using a customized LLP.</li>
	</ul>

	<p class="section-content">Each had its problems. A true co-op incorporated in Canada relied an external participation ( a second Canadian) and put the entity in the wrong country altogether. </p>
	<p class="section-content">An Indian co-operative society has a minimum member count restriction. Cannot hire foreign workers, and cannot sell its product or services outside of India. </p>
	<p class="section-content">A trust may have worked but ran the risk of appearing “suspicios” to the income tax department. </p>

	<p class="section-content">A Pvt. Ltd. Has a strict structure which work only if directors do not change too frequently – a restructuib we were not willing to accept. </p>
	<p class="section-content">A customized LLP required that we use our LLP agreement to nearly invert the terms of a normal partnership: partners claim no rigths to profits whatsoever although somewhat awkard, our  LLP agreement is legally sound and does a very effective job of describing the worker-owned nature of nilenso as corporation. </p>

	<h3 class="section-heading"><u>Decision </u></h3>
	<p class="section-content">We opted for a customized LLP, heavily reviewed by Khaitan & Co. the agreement would be refined every april, upon renewal. </p>
	<h3 class="section-heading"><u> Status: </u>Accepted</h3>
	<h3 class="section-heading"><u>Consequences </u></h3>

	<p class="section-content">Other companies, such as Hamon Technologies, have used our LLP agreement to incorporate. This is possible because we released the agreement in template form as an open document [github link] </p>
	<p class="section-content">Our auditors have warned us about appearing “suspicious” by holding on to assets. </p>
	<p class="section-content">The co-operative community has been receptive to our structure, in line of modern laws. </p>

</div>