---
title: Sabbatical policy
---


<div class="bordered-section">
	<h2 class="section-heading">Sabbatical policy</h2>
	<h3 class="section-heading"><u>context </u></h3>
	<p class="section-content">Initially, it was a collective desire within nilenso that members could take sabbaticals. </p>
	<p class="section-content">Sabbaticals (extended, unpaid leave) taken in nilenso’s early years were disruptive to clients and to our own business. </p>
	<h3 class="section-heading"><u>Decision </u></h3>
	<p class="section-content">Sabbaticals are permitted given a discussion with the entire team and plenty of lead time to notify the client and/or prepare for a member’s absence. See official policy [link] </p>
	<h3 class="section-heading"><u> Status: </u>Accepted</h3>
	<h3 class="section-heading"><u>Consequences </u></h3>
	<p class="section-content"> The new sabbatical policy has worked well as relief from stressful projects, wedding/honeymoon leave, etc. it has proved a minimum disruption but should be treated with due respect, given our early history.</p>

</div>