---
title: Business Decision Records
---


<div class="bordered-section bdr">
	<h2 class="section-heading">Business Decision Records</h2>


  <h3 class="section-miniheading">What are "Business Decision Records"?</h3>
  <p class="section-content">Business Decision Records (BDRs) are documents written to capture significant <em>strategic</em> decisions, in the style of software <a href="http://thinkrelevance.com/blog/2011/11/15/documenting-architecture-decisions">Architecture Decision Records</a>. We have found ADRs to be very useful to retrospect and introspect on our software projects. BDRs are an attempt to bring that utility to the arc of our business.</p>
    <p class="section-content">BDRs have some distinct properties: <strong>First and foremost, they are immutable.</strong> Once a BDR is written, it cannot be modified or removed. To alter or "undo" a BDR, nilenso must create another new, immutable BDR. <strong>Second, they are historical.</strong> Because BDRs cannot be modified, they do not represent a policy and they are not a living document. They may of course point to a policy or living document which represents the most current version of the decision.</p>
  <p class="section-content">BDRs are used to identify decision points for high-level strategy, policy, and company principles. They should not be used to describe or document specific actions the company or its employees take.</p>

  <h3 class="section-miniheading">List of Decisions</h3>
  <ul class="section-content">
    <li><a href="/decisions/bdr001-nilenso-is-nilenso.html">001 &mdash; nilenso is "nilenso"</a></li>
    <li><a href="/decisions/bdr002-nilenso-is-a-coop.html">002 &mdash; nilenso is a co-operative</a></li>
    <li><a href="/decisions/bdr003-nilenso-is-a-democracy.html">003 &mdash; nilenso is a democracy</a></li>
    <li><a href="/decisions/bdr004-incorporate-as-llp.html">004 &mdash; Incorporate as an LLP</a></li>
    <li><a href="/decisions/bdr005-try-new-things.html">005 &mdash; Try new things</a></li>
    <li><a href="/decisions/bdr006-nilenso-is-international.html">006 &mdash; nilenso is international</a></li>
    <li><a href="/decisions/bdr007-best-tools.html">007 &mdash; Use the best tools</a></li>
    <li><a href="/decisions/bdr008-run-experiments.html">008 &mdash; Run experiments</a></li>
    <li><a href="/decisions/bdr009-difficult-problems.html">009 &mdash; Solve difficult problems</a></li>
    <li><a href="/decisions/bdr010-progressive-work.html">010 &mdash; Do progressive work</a></li>
    <li><a href="/decisions/bdr011-prefer-open.html">011 &mdash; Prefer "open"</a></li>
    <li><a href="/decisions/bdr012-no-secrets.html">012 &mdash; Keep no secrets</a></li>
    <li><a href="/decisions/bdr013-prefer-transparency.html">013 &mdash; Prefer transparency</a></li>
    <li><a href="/decisions/bdr014-menstrual-leave-policy.html">014 &mdash; Provide menstrual leave</a></li>
    <li><a href="/decisions/bdr015-annual-reviews.html">015 &mdash; Provide annual reviews</a></li>
    <li><a href="/decisions/bdr016-charity.html">016 &mdash; Match charity and donations</a></li>

  </ul>
</div>
