---
title: Business Decision Records
---


<div class="bordered-section bdr">
	<h2 class="section-heading">Business Decision Records</h2>


  <h3 class="section-miniheading">What are "Business Decision Records"?</h3>
  <p class="section-content">This is a paragraph. This is a paragraph. This is a paragraph. This is a paragraph. This is a paragraph. This is a paragraph. This is a paragraph. This is a paragraph. This is a paragraph. This is a paragraph. This is a paragraph. This is a paragraph. This is a paragraph. This is a paragraph. This is a paragraph. This is a paragraph. This is a paragraph. This is a paragraph. This is a paragraph.</p>


  <h3 class="section-miniheading">List of Decisions</h3>
  <ul class="section-content">
    <li><a href="/decisions/bdr001-nilenso-is-nilenso.html">001 - nilenso is "nilenso"</a></li>

  </ul>
</div>
