---
title: Business Decision Records
---


<div class="bordered-section bdr">
	<h2 class="section-heading">Business Decision Records</h2>


  <h3 class="section-miniheading">What are "Business Decision Records"?</h3>
  <p class="section-content">This is a paragraph. This is a paragraph. This is a paragraph. This is a paragraph. This is a paragraph. This is a paragraph. This is a paragraph. This is a paragraph. This is a paragraph. This is a paragraph. This is a paragraph. This is a paragraph. This is a paragraph. This is a paragraph. This is a paragraph. This is a paragraph. This is a paragraph. This is a paragraph. This is a paragraph.</p>


  <h3 class="section-miniheading">List of Decisions</h3>
  <ul class="section-content">
    <li><a href="/decisions/bdr001-nilenso-is-nilenso.html">001 &mdash; nilenso is "nilenso"</a></li>
    <li><a href="/decisions/bdr002-nilenso-is-a-coop.html">002 &mdash; nilenso is a co-operative</a></li>
    <li><a href="/decisions/bdr003-nilenso-is-a-democracy.html">003 &mdash; nilenso is a democracy</a></li>
    <li><a href="/decisions/bdr004-incorporate-as-llp.html">004 &mdash; Incorporate as an LLP</a></li>
    <li><a href="/decisions/bdr005-try-new-things.html">005 &mdash; Try new things</a></li>

  </ul>
</div>
