body, h1, h2, h3, h4, h5, h6, p, div, span {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
  text-align: center;
  font-size: 6em;
  margin-top: 20px;
  font-family: 'Junction';
}

/* 5% / n / 5% / n / 5% */
section {
  border: 0px solid;
  float: left;
  width: 40%;
  background: #EEF2DC;
  -moz-border-radius: 15px;
  border-radius: 15px;
  padding: 10px;
  margin-bottom: 50px;
}

section:nth-of-type(2n+1) {
  margin-left: 5%;
  margin-right: 5%;
}

section:nth-of-type(2n) {
  margin-left: 0%;
  margin-right: 5%;
}

section img {
  float: left;
  -moz-border-radius: 8px;
  border-radius: 8px;
}

section p {
  font-size: 1.5em;
}

section .social {
  float: left;
  margin: 0 20px 0 20px;
}

section .social ul li {
  font-size: 4em;
  display: block;
  clear: both;
}
