.job-post a {
  color: #f8337d;
}

.job-post .section {
  margin-bottom: 3em;
}

.job-post .section-content {
  font-size: 18px;
  line-height: 26px;
}

.job-post h1.section-heading, h2.section-heading, h3 {
  text-align: left;
  margin-bottom: 0.5em;
}

.job-post h1.section-heading {
  font-size: 42px;
}

.job-post h2.section-heading {
  font-size: 36px;
}

.job-post .section h3 {
  font-size: 20px;
  margin: 1em 0;
}

.job-post .section-content li {
  margin-bottom: 0.5em;
}