/*
===========
Variables
===========
*/


/*
---
Font sizes
---
*/

$page-heading          : 2.5rem; // page heading
$page-heading-mobile   : 1.5rem; // heading on mobile
$section-heading       : 2rem; // section heading
$section-heading-mobile: 1.5rem; // section heading on mobile
$body-text             : 1.125rem; // body text

@font-face {
    font-family: 'Junction';
    src: url('../font/junction-webfont.eot?v=1.0');
    src: url('../font/junction-webfont.eot?#iefix&v=1.0') format('embedded-opentype'), url('../font/junction-webfont.woff?v=1.0') format('woff'), url('../font/junction-webfont.ttf?v=1.0') format('truetype'), url('../font/junction-webfont.svg#junctionregular?v=1.0') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*
---
Colors
---
*/

$body-bg: #FFFCF9;
$body-bg-dark: #FCEADE;
$pink: #F6387E;
$light-pink: #F6E8EA;
$blue: #3A506B;
$dark-blue: #003D5B;
$white: #FFFFFF;
$black: #1C0F13;

/*
===========
Variables end
===========
*/


/*
===========
General
===========
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: $body-text;
    font-family: 'HK Grotesk', Arial, Helvetica, sans-serif;
}

body {
    background: $body-bg;
}

ul {
    list-style-type: none;

    li {
        display: inline-block;
    }
}

h1,
h2,
h3 {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
    font-size: inherit;
    padding-bottom: 2px;
    border-bottom: 2px solid;

    &.active {
        color: $pink;
    }

    &:hover,
    &:active {
        color: $pink;
    }
}

p {
    font-size: $body-text;
    line-height: 1.65em;
    margin: 16px 0;
}

button.btn {
    border: none;
    border-radius: 4px;
    background: none;
    padding: 16px;

    &.btn-primary {
        background: $pink;
        color: $white;

        &:hover {
            background: darken($pink, 4%);
        }
    }

    &.btn-secondary {
        background: $light-pink;
        color: $black;

        &:hover {
            background: darken($light-pink, 4%);
        }
    }
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

h1.heading {
    font-size: $page-heading;
    line-height: 1.25em;

    @media screen and (max-width: 1024px) {
        font-size: $section-heading;
    }

    @media screen and (max-width: 640px) {
        font-size: $page-heading-mobile;
    }
}

h2.section-heading,
h3 {
    font-size: $section-heading;
    line-height: 1.25em;

    @media screen and (max-width: 1024px) {
        font-size: $section-heading-mobile;
    }

    @media screen and (max-width: 640px) {
        font-size: $page-heading-mobile;
    }
}


/*
===========
General end
===========
*/

main {
    display: flex;
    flex-direction: column;

    header,
    .container {
        width: 80%;

        @media screen and (min-width: 1440px) {
            width: 64%;
        }
    }
}

header {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 1.5rem 0;

    span.hiring {
        font-size: 12px;
        font-style: italic;
        text-align: center;
        font-weight: bold;
        color: $pink;
        margin-bottom: 8px;
        margin-right: 8px;
        align-self: flex-end;
    }

    .logo-nav-and-button {
        display: flex;
        justify-content: space-between;
    }

    .logo {
        font-size: 22px;
        font-family: 'Junction', Arial, Helvetica, sans-serif;
        display: flex;
        align-items: center;
        border-bottom: none;

        img {
            max-width: 56px;
            margin-right: 8px;
        }
    }

    ul.header-links {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        li.header-link {
            font-size: $body-text;
            margin: 0 20px;

            &:last-child {
                margin-right: 0;
            }
        }

        a {
            padding-bottom: 2px;
            border-bottom: 2px solid;

            &:hover {
                color: $pink;
                border-bottom: 2px solid $pink;
            }
        }
    }
}

.container {
    display: flex;
    flex-direction: column;
    margin: 1.5rem auto;
    margin-bottom: 80px;

    >* {
        margin: 2.5rem 0;
    }
}

.get-in-touch {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 64px;
    background: $blue;

    @media screen and (max-width: 640px) {
        padding: 2.5rem 1.5rem;
    }

    .inner-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;

        @media screen and (min-width: 1440px) {
            width: 64%;
        }
    }

    button,
    .map {
        flex: 1;
        align-self: center;
    }

    h3 {
        font-size: 2.5rem;
        color: $white;
        text-align: center;
        margin-bottom: 1.5rem;
    }

    button.btn.btn-primary {
        padding: 16px 64px;
    }

    .divider {
        outline: none;
        border: none;
        height: 1px;
        background: #869AB8;
        opacity: 0.4;
        margin: 1.5rem 0;
    }

    .address {
        display: flex;
        justify-content: space-between;
        flex: 1;

        >p {
            font-size: 18px;
            color: $white;
            margin: 0;
        }

        @media screen and (max-width: 1334px) {
            flex-direction: column;
            text-align: center;
            align-items: center;

            >*,
            >p {
                margin: 16px 0;
            }
        }

        @media screen and (max-width: 768px) {
            flex-direction: column;
            text-align: center;
            align-items: center;

            >*,
            >p {
                margin: 16px 0;
            }
        }
    }

    .social-link {
        a {
            color: white;
            border-bottom: none;
        }

        i {
            font-size: 1.5rem;
            margin: 0 8px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    .map {
        width: 640px;
        flex: 1;
        align-self: center;
        margin-top: 1.5rem;

        @media screen and (max-width: 1024px) {
            width: 500px;
        }

        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }
}

footer {
    background: $dark-blue;
    padding: 80px 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(1, auto);
    grid-row-gap: 1.5rem;
    grid-template-areas: ". . lg . . fl-1 fl-1 fl-2 fl-2 fl-3 fl-3 .";

    @media screen and (max-width: 640px) {
        display: flex;
        flex-direction: column;
        padding: 2.5rem 1.5rem;
    }

    .logo {
        font-size: 32px;
        font-family: 'Junction', Arial, Helvetica, sans-serif;
        grid-area: lg;
        display: flex;
        align-items: center;
        color: $white;
        border-bottom: none;

        img {
            max-width: 56px;
            margin-right: 8px;
        }
    }

    .footer-links {
        display: flex;
        flex-direction: column;
        color: $body-bg;
        text-transform: uppercase;
        font-size: 10 px;
        font-weight: bold;

        @media screen and (max-width: 640px) {
            text-align: center;
            padding: 16px 0;
            border-bottom: 1px solid rgba($color: $white, $alpha: 0.2);

            &:last-child {
                border-bottom: none;
            }
        }

        li {
            flex: 1;
            margin: 12px 0;
            text-transform: none;
            font-weight: normal;
            font-size: 12px;

            &:first-child {
                margin-top: 16px;
            }
        }

        &.footer-links-1 {
            grid-area: fl-1
        }

        &.footer-links-2 {
            grid-area: fl-2
        }

        &.footer-links-3 {
            grid-area: fl-3
        }
    }
}

.tags {
    display: flex;

    .tag {
        display: inline-block;
        padding: 4px 8px;
        font-size: 12px;
        background: $light-pink;
        margin: 8px;
        margin-left: 0;
    }
}


/*
===========
Home
===========
*/

.hero {
    display: flex;
    align-items: center;
    padding: 96px;
    text-align: center;
    background: $light-pink;
    border-radius: 8px;
    margin: 2.5rem 0;

    @media screen and (max-width: 1024px) {
        flex-direction: column;
        padding: 64px;
    }

    @media screen and (max-width: 640px) {
        flex-direction: column;
        padding: 2.5rem;
    }

    .hero-content {
        flex: 1.5;
    }

    .hero-illustration {
        width: 464px;
    }

    p.byline {
        font-size: 1.5rem;
        line-height: 1.5em;
        margin-top: 8px;

        @media screen and (max-width: 1024px) {
            font-size: 18px;
            margin-top: 16px;
        }

        @media screen and (max-width: 640px) {
            font-size: 16px;
        }
    }

    button.btn.btn-primary {
        margin-top: 1.5rem;
        font-size: $body-text;
        letter-spacing: -0.1px;
    }
}

.exclusive-section {
    background: $body-bg-dark;
    padding: 2.5rem 2.5rem;
    border-radius: 8px;

    h2 {
        font-size: 1.5rem;
        margin-bottom: 8px;
    }

    p {
        font-size: $body-text;
        line-height: 1.55em;
    }
}

p.section-byline {
    font-size: 1.5rem;
    font-family: 'HK Grotesk', Arial, Helvetica, sans-serif;
    margin-top: 8px;
}

.section-content {
    margin-top: 1.5rem;

    @media screen and (min-width: 360px) and (max-width: 1024px) {
        flex-direction: column;
        align-items: center;
    }

    p,
    img {
        flex: 1;
    }

    p {
        font-size: $body-text;
        line-height: 1.65em;
        margin-right: 2.5rem;

        @media screen and (min-width: 360px) and (max-width: 1024px) {
            margin-right: 0;
        }
    }

    img {
        max-width: 416px;

        @media screen and (min-width: 360px) and (max-width: 1024px) {
            margin-top: 1.5rem;
        }
    }
}

.featured {
    margin-top: 1.5rem;

    span {
        color: $blue;
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
    }

    h3.featured-heading {
        font-size: 1.5rem;
        font-weight: normal;
        margin-bottom: 8px;
    }

    hr.divider {
        border: none;
        outline: none;
        width: 2.5rem;
        height: 2px;
        background: lighten($black, 80%);
    }

    .featured-content {
        margin: 16px 0;
        font-size: $body-text;
        line-height: 1.65em;
    }

    .featured-link {
        color: $pink;
    }

    .collage {
        display: flex;
        justify-content: space-between;

        > div {
            display: flex;
            align-items: center;

            margin: 0 1rem;
        }

        img {
            max-width: 100%;
        }
    }
}


/*
===========
Home end
===========
*/


/*
===========
Work
===========
*/

.breadcrumbs {
    display: flex;
    align-items: center;

    li,
    i {
        padding: 0 4px;
    }

    a {
        color: $pink;
    }

    i {
        color: $black;
        opacity: 0.68;
    }
}

.work {
    .exclusive-section {
        p {
            margin: 16px 0;
        }
    }

    .recent-tech {
        p.section-byline {
            margin: 16px 0;
        }
    }
}

.projects:first-child>li:nth-child(3) {
    padding-bottom: 0;
    border-bottom: none;
}

.project {
    display: flex;
    padding: 2.5rem 0;
    border-bottom: 1px solid rgba($color: $black, $alpha: 0.08);

    @media screen and (max-width: 1024px) {
        flex-direction: column;
    }

    .project-heading {
        font-size: 1.5rem;
        line-height: 1.65em;
    }

    .project-content {
        flex: 1;

        ul.links {
            list-style-type: disc;

            li.link {
                display: block;
                margin: 12px 0;
            }
        }
    }

    .featured-link {
        display: inline-block;
        margin-top: 16px;
        color: $pink;
    }

    .project-video {
        background: $white;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid #e1e1e1;
        box-shadow: 0 0 12px rgba($color: $black, $alpha: 0.12);
        height: 320px;
        width: 50%;

        @media screen and (max-width: 1024px) {
            margin-top: 1.5rem;
            width: 80%;
            align-self: center;
        }

        iframe {
            margin-bottom: 8px;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }

        p {
            width: 64%;
            margin: 0 auto;
            text-align: center;
            padding: 8px 0;
        }
    }
}

.call-out {
    background: $light-pink;
    display: flex;
    padding: 80px 64px;
    border-radius: 8px;

    @media screen and (max-width: 1024px) {
        flex-direction: column;
    }

    .call-out-content,
    .call-out-icons {
        flex: 1;
        margin: 0 1.5rem;
    }

    .call-out-content {
        align-self: center;
        width: 80%;
        display: grid;
        grid-auto-rows: auto;
        grid-row-gap: 16px;
    }

    h3 {
        font-size: 32px;
        color: $blue;
        line-height: 1.5em;
    }

    button.btn-secondary {
        background: $blue;
        color: $white;
        width: 152px;
    }

    .call-out-icons {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(152px, 1fr));
        grid-auto-rows: auto;
        grid-row-gap: 2.5rem;
        grid-column-gap: 1.5rem;

        @media screen and (max-width: 1024px) {
            margin-top: 2.5rem;
        }

        .call-out-icon {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        i {
            padding: 16px;
            background: $body-bg;
            margin-bottom: 16px;
        }
    }
}

.paginations {
    display: flex;

    @media screen and (max-width: 768px) {
        flex-direction: column;
    }

    .pagination {
        background: $light-pink;
        margin: 0 1.5rem;
        border-radius: 8px;
        flex: 1;

        @media screen and (max-width: 768px) {
            margin: 8px 0;

            &:first-child {
                margin-top: 0;
            }
        }

        .pagination-link {
            color: $black;
            display: block;
            padding: 2.5rem;
            border-bottom: none;
            border: 1px solid transparent;
            min-height: 218px; // hack for single-line pagination links. If all pagination links are multi-line, remove this line of code

            &:hover {
                border: 1px solid $pink;
                border-radius: 8px;
            }
        }

        h4.pagination-heading {
            font-size: 1.5rem;

            i {
                margin-right: 8px;
                color: $blue;
            }
        }

        p {
            margin: 16px 0;
        }
    }
}


/*
===========
Work End
===========
*/


/*
===========
Team
===========
*/

ul.team-member-thumbnails {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(48px, 1fr));
    grid-auto-rows: auto;
    grid-gap: 16px;

    li.team-member-thumbnail {
        img {
            opacity: 0.5;
            padding-bottom: 8px;
            max-width: 100%;

            &.active {
                opacity: 1;
                border-bottom: 1px solid $pink;
            }
        }
    }
}

.team-members {
    display: flex;
    flex-direction: column;

    .team-member {
        display: flex;
        flex-direction: column;
        padding: 2.5rem 0;
        border-bottom: 1px solid rgba($color: $black, $alpha: 0.08);

        &:last-child {
            border-bottom: none;
            padding-bottom: 0;
        }
    }

    p {
        margin-bottom: 16px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .team-member-photo-and-name {
        display: flex;
        margin-bottom: 32px;

        img {
            width: 144px;
            margin-right: 2.5rem;
        }

        .team-member-photo {
            border-radius: 5px;
        }

        .team-member-name {
            align-self: center;
            font-size: 32px;
        }

        hr.divider {
            width: 2.5rem;
            height: 1px;
            outline: none;
            border: none;
            background: rgba($color: $black, $alpha: 0.24);
            margin: 12px 0;
        }
    }

    .social-link {
        i {
            color: $blue;
        }

        a {
            border-bottom: none;
        }
    }
}


/*
===========
Team end
===========
*/


/*
===========
Careers
===========
*/

.working-with-nilenso {
    .section-content {
        margin-top: 2.5rem;
        flex-direction: column;

        h4 {
            font-size: 1.5rem;
            line-height: 1.5em;

            +p {
                margin-bottom: 16px;
            }
        }
    }

    .section-heading {
        margin-bottom: 16px;

        +p {
            font-size: $body-text;
            line-height: 1.65em;
        }
    }
}

.sweet-perks {
    p.section-byline {
        margin-bottom: 1.5rem;

        +p {
            font-size: $body-text;
            line-height: 1.65em;
        }
    }
}

.perks {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
    grid-auto-rows: auto;
    grid-gap: 1.5rem;
    padding: 0 2.5rem;

    i {
        margin-right: 16px;
    }
}

.call-out.featured-perks {
    margin: 2.5rem 0;

    li.featured-perk {
        margin: 16px;

        i {
            margin-right: 16px;
        }

        hr.divider {
            margin: 16px 0;
            border: none;
            outline: none;
            width: 100%;
            height: 1px;
            background: rgba($color: $black, $alpha: 0.12);
        }

        p {
            line-height: 1.65em;
        }
    }
}


/*
===========
Careers end
===========
*/


/*
===========
Talks
===========
*/

.talk {
    margin: 1.5rem 0;

    @media screen and (max-width: 1200px) {
        flex-direction: column;
    }

    iframe {
        min-height: 320px;
        border-radius: 8px;
    }

    .talk-video {
        padding: 1.5rem 2.5rem;
        padding-top: 0;
        border-radius: 8px;
    }

    .talk-video,
    .talk-content {
        flex: 1;
        margin: 0 16px;

        @media screen and (max-width: 1200px) {
            padding: 12px 1.5rem;
            padding-top: 0;
        }
    }

    .talk-content {
        h3 {
            font-size: 1.5rem;
            line-height: 1.5em;
        }

        .talk-host {
            font-size: $body-text;
            color: $blue;
        }

        .talk-speaker {
            a {
                color: $pink;
            }
        }
    }
}


/*
===========
Talks end
===========
*/


/*
===========
BDRs
===========
*/

.all-decisions {
    display: flex;
    justify-content: space-around;
}

.decisions {
    li {
        font-size: $body-text;
        margin: 8px 0;
        padding: 4px 8px;
    }
}

ol.units {
    list-style: none;
    counter-reset: my-awesome-counter;

    li.unit {
        counter-increment: my-awesome-counter;

        &::before {
            content: "0"counter(my-awesome-counter) ". ";
            font-weight: bold;
        }
    }
}

ol.tens {
    list-style-type: none;
    counter-reset: lis;
    counter-reset: lis 9;

    li {
        counter-increment: lis;

        &::before {
            content: counter(lis)". ";
            font-weight: bold;
        }

        &.highlight {
            background: $pink;
            color: $white;
            border-radius: 4px;
        }
    }
}


/*
===========
BDRs end
===========
*/


/*
===========
Open Source
===========
*/

.oss-projects {
    display: flex;
    flex-wrap: wrap;

    .oss-project {
        flex: 1 0 45%;
        margin: 1.5rem;
        padding: 1.5rem;
        border: 1px dotted $pink;
        border-radius: 4px;
    }

    .oss-project-content {
        display: flex;
        flex-direction: column;

        .img-and-heading {
            display: flex;

            img {
                max-width: 64px;
                height: 64px;
                margin-right: 1.5rem;
            }
        }

        .link a {
            margin-right: 8px;
        }
    }
}

.human {
    width: 80px;
    height: 80px;
    border-radius: 4px;
}

.slick-slider {
    @media screen and (max-width: 1024px) {
        margin-bottom: 1.5rem !important;
    }
}

.slick-next,
.slick-prev {
    background: $white !important;
    border-radius: 50% !important;
    width: 2.5rem !important;
    height: 2.5rem !important;
    z-index: 999 !important;
    box-shadow: 0 0 8px rgba($color: $black, $alpha: 0.10);

    &::before {
        color: $dark-blue !important;
    }
}

.slick-next {
    right: -20px !important;
}

.slick-prev {
    left: -20px !important;
}

.slick-dots {
    bottom: -40px !important;

    li button::before {
        font-size: 16px !important;
    }
}

.slick-initialized .slick-slide {
    display: flex !important;
    justify-content: center !important;
}

.client-carousel {
    .slick-initialized .slick-slide {
        margin: 0 8px !important;
    }

    .slick-track {
        display: flex !important;
        align-items: center !important;

        >div {
            margin: 0 16px;
        }
    }
}


/*
===========
Open Source end
===========
*/