<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Nilenso Software <%= title_of_the_page_if_it_needs_to_be_shown %></title>
  <!-- Font awesome -->
  <script src="https://kit.fontawesome.com/f98a8c4afc.js"></script>
  <!-- Font -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:700&display=swap" rel="stylesheet">
  <!-- CSS -->
  <%= stylesheet_link_tag "nilenso" %>
</head>

<body>
  <main>
    <header>
      <span class="hiring">We're Hiring</span>
      <div class="logo-nav-and-button">
        <a href="" class="logo"><img src="https://nilenso.com/nilenso-200.png" alt="enso"> nilenso</a>
        <ul class="header-links">
          <li class="header-link"><a href="work.html">Work</a></li>
          <li class="header-link active"><a href="team.html">People</a></li>
          <li class="header-link"><a href="fundamentals.html">Company</a></li>
          <li class="header-link"><button class="lets-talk btn btn-secondary">Let's Talk</button></li>
        </ul>
      </div>
    </header>

    <%= yield %>

    <section class="got-a-project">
      <h3>Got a Project?</h3>
      <button class="btn btn-primary">Let's talk</button>
    </section>
    
    <footer>
      <a href="" class="logo"><img src="img/nilenso-icon.png" alt="enso"> nilenso</a>
      <ul class="footer-links footer-links-1">
        Work
        <li class="footer-link"><a href="work.tml">Projects</a></li>
        <li class="footer-link"><a href="open-source.html">Open Source</a></li>
        <li class="footer-link"><a href="talks.html">Talks</a></li>
      </ul>
      <ul class="footer-links footer-links-2">
        People
        <li class="footer-link"><a href="team.html">Team</a></li>
        <li class="footer-link"><a href="careers.html">Careers</a></li>
        <li class="footer-link"><a href="alumini.html">Alumini</a></li>
      </ul>
      <ul class="footer-links footer-links-3">
        Company
        <li class="footer-link"><a href="fundamentals.html">Fundamentals</a></li>
        <li class="footer-link"><a href="bdrs.html">Decision</a></li>
        <li class="footer-link"><a href="blog.html">Blog</a></li>
      </ul>

      <hr class="divider" />

      <div class="address">
        <p>+91 80 4093 7123</p>
        <p>Nilenso Software LLP, #105, 10th Cross, Indiranagar Stage 1, Bangalore, India, 560038</p>
        <ul class="social-links">
          <li class="social-link"><a href="https://www.facebook.com/nilenso/"><i class="fab fa-facebook-square"></i></a>
          </li>
          <li class="social-link"><a href="https://twitter.com/nilenso"><i class="fab fa-twitter-square"></i></a></li>
          <li class="social-link"><a href="https://github.com/nilenso"><i class="fab fa-github-square"></i></a></li>
        </ul>
      </div>

      <iframe class="map" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
        src="https://www.openstreetmap.org/export/embed.html?bbox=77.63687789440156%2C12.980980998527064%2C77.6396405696869%2C12.982421123390369&amp;layer=mapnik&amp;marker=12.981701062001799%2C77.63825923204422">
      </iframe>
    </footer>
  </main>
</body>
</html>