---
title: Clean Nilenso
---

<div class="logo-section section">
  <img alt="Nilenso logo" class="nilenso-logo" src="/images/nilenso_logos/nilenso_logo_green.png">
</div>

<div class="about bordered-section">
  <h1 class="section-content">Employees at Nilenso are encouraged to use sustainable transportation, keep our neighbourhoods clean, and practice Zero Waste -- both in the office and at home.</h1>
</div>


<div class="zerowaste bordered-section">
  <h2 class="section-heading">Zero Waste</h2>

  <p class="section-content">People tend to be confused about Zero Waste. It is often thought to be futuristic, idealistic, or difficult. Thankfully for Bangalore, none of that is true. Once a household or office is comfortable with basic wet/dry segregation, Zero Waste is a natural next step. In this section, we will publish various documents and videos pertaining to waste segregation and Zero Waste. Please help us by providing translations, remixes, and your feedback/ideas.</p>

  <p class="section-content">You can find all the source files (including necessary fonts) on <a href="https://github.com/nilenso/nilenso.com/tree/master/source/clean">our Github repository</a>. All original/source files have been created in SVG using <a href="http://www.inkscape.org">Inkscape</a> so anyone can modify them. The license (CC-ZERO: public domain) is at the bottom of this page and in the github repository.</p>

  <h3 class="section-miniheading">Zero Waste Guidelines</h3>

  <ul>
    <li>English:
      <a href="/clean/zero_waste_guidelines_en.pdf">pdf</a> |
      <a href="/clean/zero_waste_guidelines_en.svg">svg</a></li>
    <li>Kannada: pdf (todo) | svg (todo) | org (todo)</li>
    <li>Hindi: pdf (todo) | svg (todo) | org (todo)</li>
    <li>Tamil: pdf (todo) | svg (todo) | org (todo)</li>
  </ul>

  <a name="helpful-links"></a>
  <h3 class="section-miniheading">Helpful Links</h3>

  <ul>
    <li>2bin1bag Eco Retailers: <a href="http://www.2bin1bag.in/#!eco-retailers/c1gez">bins, bags, drums, trolleys, wheeled bins</a></li>
    <li>(&#8377; 300) Mesh plastic dustbins: <a href="http://www.flipkart.com/sunshine-big-jalli-light-green-plastic-dustbin/p/itmea6wvqxmedchp?pid=DUBEA6WV7EZBZ3PS&icmpid=reco_pp_same_household_dustbin_4&ppid=DUBEA6WVGMZDYAXC">green</a>, <a href="http://www.flipkart.com/sunshine-big-jalli-dark-blue-plastic-dustbin/p/itmea6wv5dh4crsf?pid=DUBEA6WVGMZDYAXC&ref=L%3A-1446019673108692354&srno=p_166&query=dustbin&otracker=from-search">blue</a>, <a href="http://www.flipkart.com/sunshine-big-jalli-red-plastic-dustbin/p/itmea6wvcejgrhqm?pid=DUBEA6WV4JYVZQTE&icmpid=reco_pp_same_household_dustbin_3&ppid=DUBEA6WVGMZDYAXC">red</a></li>
    <li>(&#8377; 300) Solid plastic dustbins with lip: green <a href="http://www.flipkart.com/tesco-plastic-dustbin/p/itme4fyvspjvkjus">(flipkart)</a> | <a href="http://www.amazon.in/Dustbins-Green-Plastic-15727-Nanson/dp/B00XOZAU30">(amazon)</a>, blue?, red <a href="http://www.flipkart.com/tesco-plastic-dustbin/p/itme4fyvndrnegkc">(flipkart)</a> | <a href="http://www.amazon.in/Dustbins-Pink-Plastic-12708-Nanson/dp/B00XOZANQ4">(amazon)</a></li>
    <li>(&#8377; 400) Solid plastic dustbins: <a href="http://www.flipkart.com/bohra-a172319-plastic-dustbin/p/itme3kkwddefpeey">green</a>, <a href="http://www.flipkart.com/gran-plastic-dustbin/p/itmebwfu4fzhzwav?pid=DUBEBWFUA7FBAEQJ&ref=L%3A-3517570033448761452&srno=p_318&query=dustbin&otracker=from-search">blue</a>, <a href="http://www.flipkart.com/i-hoemz-plastic-dustbin/p/itme3bxddadghqpm">red</a></li>

    <li>(&#8377; 1300) Solid plastic designer dustbins: <a href="http://www.flipkart.com/umbra-bath-touch-waste-can-avocado-plastic-dustbin/p/itmdzchckvjubh7h?pid=DUBDZCHCZ5CZKSGH&ref=L%3A6818192178205769966&srno=p_414&query=dustbin&otracker=from-search">green</a>, <a href="http://www.flipkart.com/umbra-bath-touch-waste-can-blue-plastic-dustbin/p/itmdzchcfkzzzhse?pid=DUBDZCHCUCYGBSUU&ref=L%3A-1605935471210446646&srno=p_13&query=umbra+bath&otracker=from-search">blue</a>, <a href="http://www.flipkart.com/umbra-bath-touch-waste-can-raspberry-plastic-dustbin/p/itmdzchczhchqsy6?pid=DUBDZCHCGJDWVSJE&ref=L%3A-1605935471210446646&srno=p_6&query=umbra+bath&otracker=from-search">red</a>, <a href="http://www.flipkart.com/umbra-bath-touch-waste-can-grey-plastic-dustbin/p/itmdzchcgq2p79xk?pid=DUBDZCHCFHUG2HP9&ref=L%3A8446924857951342181&srno=p_33&query=umbra+bath&otracker=from-search">grey</a> (images are incorrect/rotated)</li>

    <li>(&#8377; 900) Mesh metal dustbins: <a href="http://www.flipkart.com/king-traders-green-open-perforated-12ltr-10-x14-stainless-steel-dustbin/p/itmeazzqfff9hgzf?pid=DUBEAZZQR66HMG4J&ref=L%3A8618872146329749094&srno=p_341&query=dustbin&otracker=from-search">green</a>, <a href="http://www.flipkart.com/king-traders-blue-open-perforated-12-ltr-10x14-stainless-steel-dustbin/p/itmeazzqgmdxyagp?pid=DUBEAZZQKJ2P5TCY&icmpid=reco_pp_historyFooter_household_na_4">blue</a>, <a href="http://www.flipkart.com/king-traders-red-open-perforated-12-ltr-10x14-stainless-steel-dustbin/p/itmeazzqkpx8atru?pid=DUBEAZZQZX8YGVW7&ref=L%3A1167739656450163650&srno=p_474&query=dustbin&otracker=from-search">red</a></li>
    <li>(&#8377; 900) Solid metal dustbins: <a href="http://www.flipkart.com/king-international-stainless-steel-dustbin/p/itmeeubgptxypapw?pid=DUBEEUBGYYMHMAEG&ref=L%3A-8416053065444343237&srno=p_501&query=dustbin&otracker=from-search">green (dome lid)</a>, <a href="http://www.flipkart.com/king-international-stainless-steel-dustbin/p/itmeeubgspbes7w7?pid=DUBEEUBGHQUWBSAM&ref=L%3A-2041730784879623133&srno=p_444&query=dustbin&otracker=from-search">blue (lid)</a> | <a href="http://www.flipkart.com/king-international-stainless-steel-dustbin/p/itmeeubgsfcgvmue?pid=DUBEEUBGYPARYMQN&icmpid=reco_pp_same_household_dustbin_4&ppid=DUBEEUBGYYMHMAEG">blue (dome lid)</a>, <a href="http://www.flipkart.com/king-international-hygeine-8x12-red-swing-bin-stainless-steel-dustbin/p/itme68dyfejasjzq?pid=DUBE68DYYFFBZSK3&icmpid=reco_pp_historyFooter_household_na_3">red (lid)</a> | <a href="http://www.flipkart.com/king-international-hygeine-8x16-stainless-steel-dustbin/p/itme68dyhwmya2hg?pid=DUBE68DYWPXQENG4&ref=L%3A8266670768123760369&srno=p_556&query=dustbin&otracker=from-search">red (dome lid)</a> | <a href="http://www.flipkart.com/king-international-open-garbage-bin-7-litre-8-x12-stainless-steel-dustbin/p/itme9fkzg4wg5gs6?pid=DUBE9FKZTFEG395X&icmpid=reco_pp_historyFooter_household_na_5">red (no lid)</a></li>

    <li>(&#8377; 1100) Square blue recycling bin: <a href="http://www.amazon.in/Geekay-Dustbin-10-Ltrs-Blue/dp/B016F95FWM">10 litre</a>, <a href="http://www.flipkart.com/gis-plastic-dustbin/p/itmeck4qtazpkfmw?pid=DUBECK4QK4ECZVHH&ref=L%3A1905474569283847345&srno=p_184&query=dustbin&otracker=from-search">20 litre</a></li>

    <li>Map of recycling centres in Bangalore (draft: <a href="http://overpass-turbo.eu/s/e9P">Bangalore Recycling Centres</a>)</li>
  </ul>
</div>

<div class="segregation bordered-section">
  <h2 class="section-heading">Basic Waste Segregation</h2>

  <p class="section-content">While not everyone is ready for Zero Waste, basic waste segregation is becoming the norm in every city in the world. Children are taught in Elementary school: the difference between organic and inorganic waste, between renewable resources and non-renewable resources. These lessons are taught at this age because they are essential and axiomatic, not because one should ever forget about them. To help adults in every country and in every language, we have released a poster inspired by the <a href="http://www.2bin1bag.in">2bin1bag</a> initiative here in Karnataka. If you are lucky enough to live in Karnataka, please visit their website for locally-applicable resources.</p>

  <p class="section-content">You can find all the source files (including necessary fonts) on <a href="https://github.com/nilenso/nilenso.com/tree/master/source/clean">our Github repository</a>. All original/source files have been created in SVG using <a href="http://www.inkscape.org">Inkscape</a> so anyone can modify them. The license (CC-ZERO: public domain) is at the bottom of this page and in the github repository.</p>

  <h3 class="section-miniheading">International waste segregation guidelines</h3>

  <ul>
    <li>English:
      <a href="/clean/waste_segregation_guidelines_en.pdf">pdf</a> |
      <a href="/clean/waste_segregation_guidelines_en.svg">svg</a></li>
    <li>Kannada: pdf (todo) | svg (todo) | org (todo)</li>
    <li>Hindi: pdf (todo) | svg (todo) | org</li>
    <li>Tamil: pdf (todo) | svg (todo) | org (todo)</li>
  </ul>
</div>


<div class="clean-neighbourhoods bordered-section">
  <h2 class="section-heading">Clean Neighbourhoods</h2>

  <ul>
    <li>"Leaves Only" (Kannada/English/Hindi/Tamil): <a href="/clean/leaves_only_kn_en_hi_ta.pdf">pdf</a> | <a href="/clean/leaves_only_kn_en_hi_ta.svg">svg</a></li>
    <li>"Do not burn [leaves / garbage]" (Kannada/English/Hindi/Tamil): <a href="/clean/do_not_burn_kn_en_hi_ta.pdf">pdf</a> | <a href="/clean/do_not_burn_kn_en_hi_ta.svg">svg</a></li>
  </ul>

  <h3 class="section-miniheading">TODO</h3>

  <ul>
    <li>"No honking" / "Silence"</li>
  </ul>
</div>

<div class="transportation bordered-section">
  <h2 class="section-heading">Sustainable Transportation</h2>

  <p class="section-content">Depending on where one lives, Bangalore has a few sustainable transportation options:</p>

  <ul class="section-content">
    <li><strong>Walk</strong> - The Bangalore metro area is as large as the major world cities like New York and London. It is not uncommon for people to walk the majority of their commute in these cities and the walking habit is one Bangaloreans will find easier to practice as the metro pulls cars off the road and waste segregation + composting eliminates garbage and leaf fires.</li>

    <li><strong>Bicycle</strong> - Navigation in Bangalore by map (Google or OpenStreetMap) is still tuned to vehicle traffic, but the situation for bicycles is constantly improving. Most roads are comfortable to ride on. Get yourself: good brakes, a helmet, strong nighttime lights, mud guards, and a pollution mask. See <a href="http://blog.deobald.ca/2016/02/howto-bicycle-commute-in-bangalore.html">HOWTO: Bicycle Commute in Bangalore</a></li>

    <li><strong>Metro</strong> - The metro is still under construction, but many of us will take it for the portion of our journey it does cover. The nilenso office is just one street from the Indiranagar metro station.</li>

    <li><strong>Bus</strong> - Bangalore has a healthy bus network. Google Maps will generally get you from A to B by bus without much hassle. You can learn more about Bangalore's extensive bus network from <a href="https://www.mapbox.com/blog/blr-transit-maps/">Sajjad Anwar</a>. Buses still produce local pollution but they are a staple vehicle and electric buses (which will eventually replace them) are common the world over.</li>

    <li><strong>Train</strong> - For those who live toward Bangalore's periphery, a local train may be the best option for the daily commute. Many people don't realize that homes in areas like Tumkur, Whitefield, and Hosur are a short train ride from central Bangalore. Citizen Matters <a href="http://bangalore.citizenmatters.in/articles/trains-for-daily-commute-in-and-around-bengaluru">has written a helpful article on the subject.</a></li>
  </ul>
</div>

<div class="cleanoffice bordered-section">
  <h2 class="section-heading">A Clean Office</h2>

  <p class="section-content">Bangalore, being relatiely cosmopolitan, invites a wide variety of cultural backgrounds. A clean office is often best maintained with a few helpful signs:</p>

  <ul class="section-content">
    <li>On waste: <a href="zero_waste_poster_en.pdf">"This is a Zero Waste building."</a></li>
    <li>On washrooms: <a href="washroom_en.pdf">Please keep this washroom clean.</a></li>
  </ul>
</div>

<div class="bordered-section">
  <h2 class="section-heading">License / Get in touch</h2>
  <p class="section-content">Every document we have published here is licensed Creative Commons Zero (dedicated to the public domain). View <a href="https://creativecommons.org/publicdomain/zero/1.0/">the CC0 license</a>.</p>
  <p class="section-content">If you (1) have questions about any of this (2) would like to work with us to improve awareness or (3) want to build software pertaining to clean energy and clean cities, please mail us at <a class="contact-email" href='mailto:hello@nilenso.com'>hello@nilenso.com</a>.</p>
</div>

<div class="footer">
  <div class="section-content contact-info">
    <p class="contact-phone-number">
      <a class="contact-link email-link" href="mailto:hello@nilenso.com">hello@nilenso.com</a>
      <a class="contact-link contact-social-link" href="http://twitter.com/nilenso">@nilenso</a>
      <a class="contact-link contact-social-link" href="http://github.com/nilenso">github.com/nilenso</a>
     </p>
    <p class="contact-address">Nilenso Software LLP, #105, 10th Cross, Indiranagar Stage 1, Bangalore, India, 560038</p>
  </div>

  <div class="contact-map">
    <iframe width='700' height='250' frameBorder='0' src='https://a.tiles.mapbox.com/v4/touchstoneist.l85kd6ba/attribution,zoompan,zoomwheel,geocoder,share.html?access_token=pk.eyJ1IjoidG91Y2hzdG9uZWlzdCIsImEiOiJ2OGR5bHhjIn0.WA2NKklxU9FyuU2q44MdjQ'></iframe>
    <small>
      view larger map in
      <a target="_blank" href="http://www.openstreetmap.org/?mlat=12.98166&mlon=77.63859#map=19/12.98166/77.63859">OSM</a>,
      <a target="_blank" href="https://www.google.com/maps/place/Nilenso+Software/@12.981954,77.638743,17z/data=!3m1!4b1!4m2!3m1!1s0x3bae16bb228baf85:0xf43ad1d3efbc4a17">GOOG</a>
    </small>
  </div>
</div>
