@font-face {
  font-family: 'Junction';
  src: url('../font/junction-webfont.eot?v=1.0');
  src: url('../font/junction-webfont.eot?#iefix&v=1.0') format('embedded-opentype'), url('../font/junction-webfont.woff?v=1.0') format('woff'), url('../font/junction-webfont.ttf?v=1.0') format('truetype'), url('../font/junction-webfont.svg#junctionregular?v=1.0') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  background-image: url(../images/texture.png);
  background-color: #EEEEEE;
}

small {
  font-size: 12px;
}

header {
  width: 100%;
  height: 56px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  opacity: 0.8;
  overflow: hidden;
  padding: 4px 20px;
  box-sizing: border-box;
  z-index: 10;
}

.page {
  width: 100%;
  padding: 60px 0;
}

.splash-page {
  background: url(../images/splash.png) no-repeat;
  background-size: 100%;
  padding-top: 0px;
  height: 100%;
}

.contact-page {
  overflow: hidden;
}

.padded {
  margin: 0 5% 0 5%;
  width: 90%;
}

.padded-in {
  padding: 0 5% 0 5%;
  width: 90%;
}

.right {
  float: right;
}

.left {
  float: left;
}

.clear {
  clear: both;
}

.logo-image {
  width: 50px;
}

.header-link {
  font-size: 16px;
  font-family: 'Junction';
  color: black;
  line-height: 56px;
  padding: 0 10px;
}

.header-link:hover {
  text-decoration: none;
}

.logo-name {
  font-size: 30px;
  padding: 0 4px;
}

.text-on-image-container {
  position: relative;
  height: 100%;
}

.text-on-image {
  position: absolute;
}

.intro {
  font-size: 20px;
  bottom: 100px;
  left: 66px;
  width: 700px;
  color: black;
  z-index: 10;
  font-family: 'Quattrocento Sans', sans-serif;
  line-height: 22px;
}

.intro p {
  margin: 50px 0 50px 0;
  overflow: hidden;
  font-family: "Quattrocento", serif;
}

.nilenso {
  color: #f8337d;
  font-family: 'Junction';
  text-decoration: none;
}

.nilenso:hover {
  color: white;
  text-decoration: none;
}

/*@media (max-device-width: 799px) {
  section {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
  }

  section p {
    font-size: 1.8em;
  }
}

@media (min-device-width: 800px) {
  section:nth-of-type(2n+1) {
    margin-left: 5%;
    margin-right: 5%;
  }

  section:nth-of-type(2n) {
    margin-left: 0%;
    margin-right: 5%;
  }

  section p {
    font-size: 1.5em;
  }
}
*/
article {
  text-align: center;
}

section {
  display: inline-block;
  vertical-align: top;
  width: 300px;
  text-align: center;
  margin: 30px;
}

section img {
  -moz-border-radius: 300px;
  border-radius: 300px;
}

.person-name-and-social-links {
  display: block;
  padding: 10px 0;
}

.person-name {
  font-size: 20px;
  font-family: "Quattrocento Sans", sans-serif;
  padding-right: 5px;
  font-weight: bolder;
}

section i {
  display: block;
  font-size: 20px;
  color: #999;
  text-decoration: none;
  padding: 0;
}

section i:hover {
  color: black;
}

.social-links {
  display: inline;
  /* margin: 0 20px 0 20px; */
}

.social-link {
  display: inline;
}


.person-desc {
  font-size: 14px;
  font-family: "Quattrocento", serif;
  line-height: 24px;
  margin-right: 10px;
}

.contact {
  font-family: "Quattrocento";
  font-size: 40px;
  background-color: #333;
  color: #EEE;
  padding: 40px;
  box-sizing: border-box;
  overflow: hidden;
}

.huge {
  width: 100px;
}

.phone {
  padding: 27px 0 27px 0;
}
.phone a {
  color: #EEE;
}
.phone a:hover {
  text-decoration: none;
  color: #FFF;
}

.email {
  padding: 0 0 27px 0;
}
.email a {
  color: #EEE;
}
.email a:hover {
  text-decoration: none;
  color: #FFF;
}
.map .map-icon {
  float: left;
}

.map-frame {
  float: right;
}

.address {
  height: 250px;
  line-height: 42px;
  float: left;
}

.copyright {
  font-family: "Quattrocento";
  font-size: 1.5em;
  margin: 27px 0 27px 0;
  text-align: center;
}

/* override `inline` from font-awesome.css. -steven */
a [class^="icon-"],
a [class*=" icon-"],
a [class^="icon-"]:before,
a [class*=" icon-"]:before {
  display: inline-block;
}

.name-page {
  background-color: #f8337d;
  color: #fff;
}

.name {
  background: url("../nilenso-bg.png") #f8337d center no-repeat;
  margin-left: 5%;
  width: 85%;
  height: 100%;
  font-family: "Quattrocento";
}

.name h1 {
  margin: 0.5em 0 0.5em 0;
  font-size: 7em;
  text-align: center;
}

.name p {
  margin-top: 2em;
  font-size: 5em;
  line-height: 1.1em;
  text-align: justify;
}
