@media (min-width: 768px) {
    .md\:max-w-\[1366px\] {
        max-width: 1366px;
    }
}

@media (min-width: 1024px) {
    .lg\:lg\:text-\[3\.5rem\] {
        font-size: 3.5rem;
    }
}

.text-pink-500 {
    --tw-text-opacity: 1;
    color: #FF3D84;
    color: rgba(255, 61, 132, var(--tw-text-opacity));
}

html {
    scroll-behavior: smooth;
}

#menuToggle {
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle a {
    text-decoration: none;
    transition: color 0.3s ease;
}

#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
}

#menuToggle span {
    margin-bottom: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: .25s ease-in-out;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
    margin-bottom: 0;
}

#menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #000;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(2px, -1px);
}

#menu {
    background: #fff;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menuToggle input:checked ~ #menu {
    transform: none;
}

.swiper-container {
    z-index: 0;
}

.tabs-content .swiper-container {
    width: 100%;
}

.tabs-buttons {
    height: auto;
}

.tabs-buttons .swiper-slide {
    padding: 1rem 2rem;
}

.logo-slider .tabs-buttons .active-tab {
    opacity: 1;
}

.avatar-slider .tabs-buttons .swiper-slide {
    padding: 1rem 2rem;
    width: 64px !important;
}

.avatar-slider .tabs-buttons .active-tab {
    opacity: 1;
    border: 1px solid #FF3D84;
}

.swiper-button-next, .swiper-button-prev {
    width: 24px;
    height: 46px;
}

.swiper-button-next {
    right: 30px;
    background-size: 16px;
    background-image: url('images/svg/right-arrow.svg');
}

.swiper-button-prev {
    left: 30px;
    background-size: 16px;
    background-image: url('images/svg/left-arrow.svg');
}

.list-items li {
    counter-increment: ol-counter;
}

.list-items li:before {
    content: counter(ol-counter, decimal-leading-zero);
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    margin-right: 8px;
    line-height: 1;
    position: absolute;
    left: 0;
    top: 4px;
}

.list-items li::marker {
    display: none;
}

.talk-item:first-child {
    border-top: 0px;
}

@media (max-width: 1024px) {
    .logo-slider .tabs-buttons .swiper-slide {
        width: 138px !important;
    }
}

@media (max-width: 991px) {
    .avatar-slider .tabs-buttons .swiper-slide {
        background-size: 100px !important;
    }

    .swiper-button-next {
        right: 15px;
    }

    .swiper-button-prev {
        left: 15px;
    }

    .logo-slider .tabs-buttons .swiper-slide {
        background-size: 100px !important;
        width: 125px !important;
    }
}

@media (max-width: 640px) {
    .swiper-button-next {
        right: 10px;
    }

    .swiper-button-prev {
        left: 10px;
    }

    .avatar-slider .tabs-buttons .swiper-slide {
        background-size: 80px !important;
    }

    .swiper-button-next, .swiper-button-prev {
        width: 12px;
        height: 24px;
        background-size: contain;
        margin-top: -10px;
    }

    .avatar-slider .tabs-buttons .swiper-slide {
        height: 62px;
        width: 62px !important;
    }

    .logo-slider .tabs-buttons .swiper-slide {
        background-size: 80px !important;
        width: 125px !important;
    }

    .list-items li:before {
        font-size: 18px;
    }
}

@media (max-width: 375px) {
    .logo-slider .tabs-buttons .swiper-slide {
        width: 110px !important;
    }
}

