/* CSS generated through twind CLI */
button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;margin:0;padding:0;line-height:inherit;color:inherit}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}html{line-height:1.5;-webkit-text-size-adjust:100%;font-family:ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"}table{text-indent:0;border-color:inherit;border-collapse:collapse}hr{height:0;color:inherit;border-top-width:1px}input::placeholder,textarea::placeholder{opacity:1;color:#9ca3af}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}button{background-color:transparent;background-image:none}body{font-family:inherit;line-height:inherit}*,::before,::after{box-sizing:border-box;border:0 solid #e5e7eb}h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit}a{color:inherit;-webkit-text-decoration:inherit;text-decoration:inherit}::-moz-focus-inner{border-style:none;padding:0}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}pre,code,kbd,samp{font-family:ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;font-size:1em}img,svg,video,canvas,audio,iframe,embed,object{display:block;vertical-align:middle}img,video{max-width:100%;height:auto}body,blockquote,dl,dd,h1,h2,h3,h4,h5,h6,hr,figure,p,pre,fieldset,ol,ul{margin:0}button:focus{outline:1px dotted;outline:5px auto -webkit-focus-ring-color}fieldset,ol,ul,legend{padding:0}textarea{resize:vertical}button,[role=button]{cursor:pointer}:-moz-focusring{outline:1px dotted ButtonText}::-webkit-inner-spin-button,::-webkit-outer-spin-button{height:auto}summary{display:list-item}:root{-moz-tab-size:4;tab-size:4}ol,ul{list-style:none}img{border-style:solid}button,select{text-transform:none}:-moz-ui-invalid{box-shadow:none}progress{vertical-align:baseline}abbr[title]{-webkit-text-decoration:underline dotted;text-decoration:underline dotted}b,strong{font-weight:bolder}sub{bottom:-.25em}sup{top:-.5em}button,[type=button],[type=reset],[type=submit]{-webkit-appearance:button}::-webkit-search-decoration{-webkit-appearance:none}.transform{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1;transform:translateX(var(--tw-translate-x,0)) translateY(var(--tw-translate-y,0)) rotate(var(--tw-rotate,0)) skewX(var(--tw-skew-x,0)) skewY(var(--tw-skew-y,0)) scaleX(var(--tw-scale-x,1)) scaleY(var(--tw-scale-y,1))}.transform-origin{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1;transform:translateX(var(--tw-translate-x,0)) translateY(var(--tw-translate-y,0)) rotate(var(--tw-rotate,0)) skewX(var(--tw-skew-x,0)) skewY(var(--tw-skew-y,0)) scaleX(var(--tw-scale-x,1)) scaleY(var(--tw-scale-y,1))}.transition{transition-property:background-color,border-color,color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter;transition-timing-function:cubic-bezier(.4,0,.2,1);transition-duration:150ms}.text-black{--tw-text-opacity:1;color:#000;color:rgba(0,0,0,var(--tw-text-opacity))}.text-gray-600{--tw-text-opacity:1;color:#828282;color:rgba(130,130,130,var(--tw-text-opacity))}.text-pink-500{--tw-text-opacity:1;color:#FF3D84;color:rgba(255,61,132,var(--tw-text-opacity))}.text-white{--tw-text-opacity:1;color:#fff;color:rgba(255,255,255,var(--tw-text-opacity))}.bg-black{--tw-bg-opacity:1;background-color:#000;background-color:rgba(0,0,0,var(--tw-bg-opacity))}.bg-gray-100{--tw-bg-opacity:1;background-color:#F3F3F3;background-color:rgba(243,243,243,var(--tw-bg-opacity))}.bg-pink-500{--tw-bg-opacity:1;background-color:#FF3D84;background-color:rgba(255,61,132,var(--tw-bg-opacity))}.bg-white{--tw-bg-opacity:1;background-color:#fff;background-color:rgba(255,255,255,var(--tw-bg-opacity))}.border-gray-100{--tw-border-opacity:1;border-color:#F3F3F3;border-color:rgba(243,243,243,var(--tw-border-opacity))}.border-gray-200{--tw-border-opacity:1;border-color:#BDBDBD;border-color:rgba(189,189,189,var(--tw-border-opacity))}.border-gray-700{--tw-border-opacity:1;border-color:#374151;border-color:rgba(55,65,81,var(--tw-border-opacity))}.mx-auto{margin-left:auto;margin-right:auto}.px-6{padding-left:1.5rem;padding-right:1.5rem}.py-10{padding-bottom:2.5rem;padding-top:2.5rem}.py-12{padding-bottom:3rem;padding-top:3rem}.py-3{padding-bottom:.75rem;padding-top:.75rem}.py-6{padding-bottom:1.5rem;padding-top:1.5rem}.text-2xl{font-size:1.5rem;line-height:2rem}.text-base{font-size:1rem;line-height:1.5rem}.text-lg{font-size:1.125rem;line-height:1.75rem}.text-sm{font-size:.875rem;line-height:1.25rem}.text-xl{font-size:1.25rem;line-height:1.75rem}.antialiased{-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.absolute{position:absolute}.appearance-none{-webkit-appearance:none;-moz-appearance:none;appearance:none}.block{display:block}.cursor-pointer{cursor:pointer}.flex{display:flex}.h-0\.5{height:.125rem}.h-16{height:4rem}.h-screen{height:100vh}.hidden{display:none}.inline-block{display:inline-block}.opacity-40{opacity:.4}.relative{position:relative}.w-16{width:4rem}.w-20{width:5rem}.w-36{width:9rem}.w-48{width:12rem}.w-5{width:1.25rem}.w-full{width:100%}.align-items{vertical-align:items}.bg-center{background-position:center}.bg-no-repeat{background-repeat:no-repeat}.bg-transparent{background-color:transparent}.bottom-0{bottom:0px}.delay-100{transition-delay:100ms}.duration-100{transition-duration:100ms}.flex-col{flex-direction:column}.flex-wrap{flex-wrap:wrap}.font-bold{font-weight:700}.font-light{font-weight:300}.font-normal{font-weight:400}.italic{font-style:italic}.items-center{align-items:center}.justify-between{justify-content:space-between}.justify-content{justify-content:content}.justify-end{justify-content:flex-end}.leading-normal{line-height:1.5}.leading-snug{line-height:1.375}.leading-tight{line-height:1.25}.left-0{left:0px}.max-w-\[46rem\]{max-width:46rem}.max-w-\[48rem\]{max-width:48rem}.max-w-full{max-width:100%}.mb-1{margin-bottom:.25rem}.mb-10{margin-bottom:2.5rem}.min-w-full{min-width:100%}.ml-0{margin-left:0px}.ml-4{margin-left:1rem}.mr-10{margin-right:2.5rem}.mr-6{margin-right:1.5rem}.mr-9{margin-right:2.25rem}.mt-8{margin-top:2rem}.mt-9{margin-top:2.25rem}.object-center{object-position:center}.object-cover{object-fit:cover}.pb-0{padding-bottom:0px}.pb-1{padding-bottom:.25rem}.pb-10{padding-bottom:2.5rem}.pb-3{padding-bottom:.75rem}.pb-4{padding-bottom:1rem}.pb-5{padding-bottom:1.25rem}.pb-6{padding-bottom:1.5rem}.pb-8{padding-bottom:2rem}.pb-9{padding-bottom:2.25rem}.pl-10{padding-left:2.5rem}.pl-6{padding-left:1.5rem}.pr-8{padding-right:2rem}.pt-10{padding-top:2.5rem}.pt-11{padding-top:2.75rem}.pt-12{padding-top:3rem}.pt-16{padding-top:4rem}.pt-2{padding-top:.5rem}.pt-4{padding-top:1rem}.pt-6{padding-top:1.5rem}.pt-9{padding-top:2.25rem}.self-end{-ms-grid-row-align:flex-end;align-self:flex-end}.self-identifying{-ms-grid-row-align:space-identifying;align-self:space-identifying}.self-taught{-ms-grid-row-align:taught;align-self:taught}.top-0{top:0px}.tracking-tight{letter-spacing:-.025em}.tracking-wide{letter-spacing:.025em}.tracking-wider{letter-spacing:.05em}.underline{-webkit-text-decoration:underline;text-decoration:underline}.z-10{z-index:10}.z-50{z-index:50}.ease-in{transition-timing-function:cubic-bezier(.4,0,1,1)}.list-items{list-style-type:items}.rounded-full{border-radius:9999px}.rounded-md{border-radius:.375rem}.border-b-1{border-bottom-width:1px}.border-t-1{border-top-width:1px}.hover\:text-pink-500:hover{--tw-text-opacity:1;color:#FF3D84;color:rgba(255,61,132,var(--tw-text-opacity))}.hover\:text-pink-600:hover{--tw-text-opacity:1;color:#db2777;color:rgba(219,39,119,var(--tw-text-opacity))}.hover\:opacity-70:hover{opacity:.7}.focus\:outline-none:focus{outline:2px solid transparent;outline-offset:2px}.mg\:py-16:mg{padding-bottom:4rem;padding-top:4rem}@media (min-width:640px){.sm\:py-8{padding-bottom:2rem;padding-top:2rem}}@media (min-width:640px){.sm\:block{display:block}}@media (min-width:640px){.sm\:flex{display:flex}}@media (min-width:640px){.sm\:flex-nowrap{flex-wrap:nowrap}}@media (min-width:640px){.sm\:max-w-\[12rem\]{max-width:12rem}}@media (min-width:640px){.sm\:max-w-\[46rem\]{max-width:46rem}}@media (min-width:640px){.sm\:mb-0{margin-bottom:0px}}@media (min-width:640px){.sm\:min-w-\[18rem\]{min-width:18rem}}@media (min-width:640px){.sm\:ml-4{margin-left:1rem}}@media (min-width:640px){.sm\:pl-0{padding-left:0px}}@media (min-width:640px){.sm\:pl-10{padding-left:2.5rem}}@media (min-width:640px){.sm\:pl-6{padding-left:1.5rem}}@media (min-width:640px){.sm\:pt-0{padding-top:0px}}@media (min-width:640px){.sm\:self-end{-ms-grid-row-align:flex-end;align-self:flex-end}}@media (min-width:768px){.md\:px-10{padding-left:2.5rem;padding-right:2.5rem}}@media (min-width:768px){.md\:px-12{padding-left:3rem;padding-right:3rem}}@media (min-width:768px){.md\:px-8{padding-left:2rem;padding-right:2rem}}@media (min-width:768px){.md\:py-10{padding-bottom:2.5rem;padding-top:2.5rem}}@media (min-width:768px){.md\:py-12{padding-bottom:3rem;padding-top:3rem}}@media (min-width:768px){.md\:py-16{padding-bottom:4rem;padding-top:4rem}}@media (min-width:768px){.md\:py-20{padding-bottom:5rem;padding-top:5rem}}@media (min-width:768px){.md\:text-2xl{font-size:1.5rem;line-height:2rem}}@media (min-width:768px){.md\:text-3xl{font-size:1.875rem;line-height:2.25rem}}@media (min-width:768px){.md\:text-4xl{font-size:2.25rem;line-height:2.5rem}}@media (min-width:768px){.md\:text-xl{font-size:1.25rem;line-height:1.75rem}}@media (min-width:768px){.md\:flex{display:flex}}@media (min-width:768px){.md\:hidden{display:none}}@media (min-width:768px){.md\:w-1\/2{width:50%}}@media (min-width:768px){.md\:w-32{width:8rem}}@media (min-width:768px){.md\:w-36{width:9rem}}@media (min-width:768px){.md\:w-40{width:10rem}}@media (min-width:768px){.md\:w-44{width:11rem}}@media (min-width:768px){.md\:leading-loose{line-height:2}}@media (min-width:768px){.md\:leading-snug{line-height:1.375}}@media (min-width:768px){.md\:leading-tight{line-height:1.25}}@media (min-width:768px){.md\:max-w-\[1366px\]{max-width:1366px}}@media (min-width:768px){.md\:max-w-\[27rem\]{max-width:27rem}}@media (min-width:768px){.md\:max-w-\[46rem\]{max-width:46rem}}@media (min-width:768px){.md\:min-w-\[20rem\]{min-width:20rem}}@media (min-width:768px){.md\:ml-0{margin-left:0px}}@media (min-width:768px){.md\:ml-6{margin-left:1.5rem}}@media (min-width:768px){.md\:mr-0{margin-right:0px}}@media (min-width:768px){.md\:mt-12{margin-top:3rem}}@media (min-width:768px){.md\:mt-8{margin-top:2rem}}@media (min-width:768px){.md\:pb-0{padding-bottom:0px}}@media (min-width:768px){.md\:pb-12{padding-bottom:3rem}}@media (min-width:768px){.md\:pb-16{padding-bottom:4rem}}@media (min-width:768px){.md\:pb-7{padding-bottom:1.75rem}}@media (min-width:768px){.md\:pb-8{padding-bottom:2rem}}@media (min-width:768px){.md\:pl-12{padding-left:3rem}}@media (min-width:768px){.md\:pl-20{padding-left:5rem}}@media (min-width:768px){.md\:pl-4{padding-left:1rem}}@media (min-width:768px){.md\:pl-8{padding-left:2rem}}@media (min-width:768px){.md\:pr-2{padding-right:.5rem}}@media (min-width:768px){.md\:pr-4{padding-right:1rem}}@media (min-width:768px){.md\:pr-52{padding-right:13rem}}@media (min-width:768px){.md\:pr-8{padding-right:2rem}}@media (min-width:768px){.md\:pt-0{padding-top:0px}}@media (min-width:768px){.md\:pt-10{padding-top:2.5rem}}@media (min-width:768px){.md\:pt-12{padding-top:3rem}}@media (min-width:768px){.md\:pt-16{padding-top:4rem}}@media (min-width:768px){.md\:pt-20{padding-top:5rem}}@media (min-width:768px){.md\:border-b-0{border-bottom-width:0px}}@media (min-width:768px){.md\:border-r-1{border-right-width:1px}}@media (min-width:1024px){.lg\:px-12{padding-left:3rem;padding-right:3rem}}@media (min-width:1024px){.lg\:py-16{padding-bottom:4rem;padding-top:4rem}}@media (min-width:1024px){.lg\:py-20{padding-bottom:5rem;padding-top:5rem}}@media (min-width:1024px){.lg\:text-2xl{font-size:1.5rem;line-height:2rem}}@media (min-width:1024px){.lg\:text-3xl{font-size:1.875rem;line-height:2.25rem}}@media (min-width:1024px){.lg\:text-4xl{font-size:2.25rem;line-height:2.5rem}}@media (min-width:1024px){.lg\:w-40{width:10rem}}@media (min-width:1024px){.lg\:w-48{width:12rem}}@media (min-width:1024px){.lg\:w-\[19\.125rem\]{width:19.125rem}}@media (min-width:1024px){.lg\:justify-start{justify-content:flex-start}}@media (min-width:1024px){.lg\:leading-snug{line-height:1.375}}@media (min-width:1024px){@media (min-width:1024px){.lg\:lg\:text-\[3\.5rem\]{font-size:3.5rem}}}@media (min-width:1024px){.lg\:min-w-\[25\.4375rem\]{min-width:25.4375rem}}@media (min-width:1024px){.lg\:ml-16{margin-left:4rem}}@media (min-width:1024px){.lg\:ml-8{margin-left:2rem}}@media (min-width:1024px){.lg\:mr-0{margin-right:0px}}@media (min-width:1024px){.lg\:mr-20{margin-right:5rem}}@media (min-width:1024px){.lg\:mr-8{margin-right:2rem}}@media (min-width:1024px){.lg\:mt-10{margin-top:2.5rem}}@media (min-width:1024px){.lg\:mt-16{margin-top:4rem}}@media (min-width:1024px){.lg\:pb-16{padding-bottom:4rem}}@media (min-width:1024px){.lg\:pl-12{padding-left:3rem}}@media (min-width:1024px){.lg\:pl-40{padding-left:10rem}}@media (min-width:1024px){.lg\:pr-12{padding-right:3rem}}@media (min-width:1024px){.lg\:pr-28{padding-right:7rem}}@media (min-width:1024px){.lg\:pr-4{padding-right:1rem}}@media (min-width:1024px){.lg\:pt-10{padding-top:2.5rem}}@media (min-width:1024px){.lg\:pt-16{padding-top:4rem}}@media (min-width:1024px){.lg\:pt-24{padding-top:6rem}}@media (min-width:1024px){.lg\:pt-48{padding-top:12rem}}@media (min-width:1024px){.lg\:text-\[3\.5rem\]{font-size:3.5rem}}@media (min-width:1280px){.xl\:py-20{padding-bottom:5rem;padding-top:5rem}}@media (min-width:1280px){.xl\:py-24{padding-bottom:6rem;padding-top:6rem}}@media (min-width:1280px){.xl\:text-3xl{font-size:1.875rem;line-height:2.25rem}}@media (min-width:1280px){.xl\:w-56{width:14rem}}@media (min-width:1280px){.xl\:w-60{width:15rem}}@media (min-width:1280px){.xl\:justify-between{justify-content:space-between}}@media (min-width:1280px){.xl\:ml-10{margin-left:2.5rem}}@media (min-width:1280px){.xl\:ml-12{margin-left:3rem}}@media (min-width:1280px){.xl\:mr-16{margin-right:4rem}}@media (min-width:1280px){.xl\:mr-24{margin-right:6rem}}@media (min-width:1280px){.xl\:mt-16{margin-top:4rem}}@media (min-width:1280px){.xl\:mt-20{margin-top:5rem}}@media (min-width:1280px){.xl\:pl-24{padding-left:6rem}}@media (min-width:1280px){.xl\:pl-32{padding-left:8rem}}@media (min-width:1280px){.xl\:pl-56{padding-left:14rem}}@media (min-width:1280px){.xl\:pr-32{padding-right:8rem}}@media (min-width:1280px){.xl\:pr-8{padding-right:2rem}}


/* Hand-written CSS for menus, carousels, etc */
#menuToggle {
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
}

#menuToggle a {
    text-decoration: none;
    transition: color 0.3s ease;
}



#menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    -webkit-touch-callout: none;
}

#menuToggle span {
    margin-bottom: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    /* transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease; */
        transition: .25s ease-in-out;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
    margin-bottom: 0;
}

#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #000;
}

#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(2px, -1px);
}

#menu {
    background: #fff;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menuToggle input:checked~#menu {
    transform: none;
}



.swiper-container{
    z-index: 0;
}
.tabs-content .swiper-container {
    width: 100%;
}

.tabs-buttons {
    height: auto;
}
.tabs-buttons .swiper-slide {
    padding: 1rem 2rem;
}
.logo-slider .tabs-buttons .active-tab {
    opacity: 1;
}
.avator-slider .tabs-buttons .swiper-slide {
    padding: 1rem 2rem;
    width: 64px !important;
}
.avator-slider .tabs-buttons .active-tab {
    opacity: 1;
    border:1px solid #FF3D84;
}
.swiper-button-next, .swiper-button-prev{
    width: 24px;
    height: 46px;
}
.swiper-button-next{
    right:30px;
    background-size: 16px;
    background-image: url('images/svg/right-arrow.svg');
    

}
.swiper-button-prev{
    left: 30px;
    background-size: 16px;
    background-image: url('images/svg/left-arrow.svg');
}
.list-items li {
    counter-increment: ol-counter;
}
.list-items li:before {
    content: counter(ol-counter,decimal-leading-zero);
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    margin-right: 8px;
    line-height: 1;
    position: absolute;
    left: 0;
    top:4px;
}
.list-items li::marker{
    display: none;
}

@media (max-width: 1024px){
    .logo-slider .tabs-buttons .swiper-slide{
        width:138px !important;
    } 
}

@media (max-width: 991px){
   
    .avator-slider .tabs-buttons .swiper-slide{
        background-size: 100px !important;
    } 
    .swiper-button-next{
        right:15px;
    }
     .swiper-button-prev{
        left: 15px;
    }
    .logo-slider .tabs-buttons .swiper-slide{
        background-size: 100px !important;
        width:125px !important;
    } 
}

@media (max-width: 640px){
     .swiper-button-next{
        right:10px;
    }
    .swiper-button-prev{
        left: 10px;
    }
    .avator-slider .tabs-buttons .swiper-slide{
        background-size: 80px !important;
    } 
    .swiper-button-next, .swiper-button-prev{
        width: 12px;
        height: 24px;
        background-size: contain;
        margin-top: -10px;
    }
    .avator-slider .tabs-buttons .swiper-slide {
    height: 62px;
    width:62px !important;
}

.logo-slider .tabs-buttons .swiper-slide{
    background-size: 80px !important;
    width:125px !important;
} 

.list-items li:before {
    font-size: 18px;
}
}
@media (max-width: 375px){
    .logo-slider .tabs-buttons .swiper-slide{
        width: 110px !important;
    } 
}

