{% extends "base.html" %}
{% block title %} Alumni | nilenso {% endblock title %}

{% block header %}
    <section class="bg-black py-10 md:py-16 lg:py-16 px-6 md:px-10 lg:px-9">
        <div>
            <h2 class="text-pink-500 font-normal text-xl leading-snug md:text-4xl lg:lg:text-[2.8rem] lg:leading-snug md:leading-tight">
                our alumni.
                <span class ="text-white font-light text-xl leading-snug md:text-4xl lg:lg:text-[2.8rem] lg:leading-snug md:leading-tight">
                    we've shared our journey with some great folks.
                </span>
            </h2>
        </div>
    </section>
{% endblock header %}

{% block content %}
    <section class="py-10 px-6 md:py-9 md:px-9">
        <div class="grid grid-flow-row grid-cols-2 sm:grid-cols-3 md:grid-cols-3 lg:grid-cols-5 xl:grid-cols-5 gap-1">
            {% set alumni = load_data(path="content/data/alumni.toml", format="toml") %}
            {% for person in alumni.people %}
                <div class="m-2 md:mt-2 md:m-10">
                    <a href="{{ person.link }}" target="_blank">
                        <figure class="border-transparent border-dotted border-2 rounded-sm hover:border-pink-500">
                            <img src="/{{ person.picture }}" alt="{{ person.name }}" class="hover:rounded-none w-full rounded-sm">
                        </figure>
                    </a>
                    <div class="flex flex-wrap justify-center">
                        <p class="text-black text-base leading-normal mt-2 text-center">
                            {{ person.name }}
                        </p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock content %}
