{% extends "base.html" %}

{% block header %}
    <section class="pt-6 pb-10 px-6 md:py-12 md:px-8 lg:py-20 lg:px-12 bg-gray-100">
        <div>
            <h2 class="font-light text-xl leading-snug tracking-tight md:text-4xl lg:text-[3.5rem] lg:leading-snug text-black md:leading-tight">
                we've shared our journey with some great people.
            </h2>
            <p class="pt-6 lg:pt-10 text-pink-500 font-light text-base md:text-xl lg:text-2xl leading-normal md:leading-tight w-full max-w-[48rem] tracking-tight">
                Our alumni have gone on to work at some of the best known companies of our generation.
            </p>
        </div>
    </section>
{% endblock header %}
{% block content %}
    <section class="py-10 px-6 md:py-20 md:px-12">
        <div>
            <div class="grid grid-flow-row grid-cols-3 md:grid-cols-4 lg:grid-cols-4 xl:grid-cols-4 place-items-center">
                {% set alumni = load_data(path="content/data/alumni.toml", format="toml") %}
                {% for person in alumni.people %}
                    <div class="mr-2 md:mr-2 lg:mr-25 xl:mr-25 mt-9 md:mt-12 lg:mt-16 xl:mt-20 justify-center">
                        <a href="{{ person.twitter }}" target="_blank">
                            <figure class="w-20 md:w-28 lg:w-36 xl:w-48">
                                <img src="/{{ person.picture }}" alt="{{ person.name }}" class="w-full rounded-sm">
                            </figure>

                            <div class="pl-6 sm:pl-0 flex flex-wrap sm:block">
                                <h3 class="sm:py-8 md:pb-8 lg:pb-10 md:text-1xl lg:text-2xl text-pink-500 font-light">
                                    {{ person.name }}
                                </h3>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock content %}
