<!doctype html>
<html  lang="en">      
<head>
    <meta name="robots" content="noindex">
    <meta charset="utf-8">
    <meta name="msapplication-config" content="/browserconfig.xml" />
    <meta name="msapplication-TileColor" content="#FF3D84">
    <meta name="theme-color" content="#FF3D84">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Nilenso{% endblock %}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">
    <link rel="stylesheet" href="https://use.typekit.net/fmw6nmr.css">
    <link rel="stylesheet" href="style.css">
</head>

<body class="antialiased bg-white md:max-w-[1366px] mx-auto w-full" style="font-family: museo-sans, sans-serif;">
    
    <main class=""> 
        <header class="py-12 px-6 md:py-16 xl:py-20 md:px-12 bg-white">
            <div class="md:hidden">
                <nav  class="w-full items-center flex justify-between">
                    <a href="index.html">
                        <figure class="w-20">
                                <img src="images/svg/logo.svg" alt="Logo" class="w-full">
                        </figure>
                    </a>
                    <div id="menuToggle" class="flex items-center">
                        <div>
                            <input type="checkbox">
                                <span class="bg-black w-5 h-0.5	 rounded-md mb-1 block relative z-10"></span>
                                <span class="bg-black w-5 h-0.5	 rounded-md mb-1 block relative z-10"></span>
                                <span class="bg-black w-5 h-0.5	 rounded-md mb-1 block relative z-10"></span>
                                <div id="menu" class="absolute top-0 left-0 w-full h-screen pt-12 ">
                                    <div class="relative">
                                        <a href="index.html" class="px-6 block">
                                            <figure class="w-20">
                                                <img src="images/svg/logo.svg" alt="Logo" class="w-full">
                                            </figure>
                                        </a>
                                        <ul class="pt-16 ">
                                            <li><a href="index.html" class="font-normal text-base leading-tight tracking-wider px-6 py-3 block border-b-1 border-gray-100 text-black hover:text-pink-500 transition ease-in duration-100 delay-100">home</a></li>
                                            <li><a href="work.html" class="font-normal text-base leading-tight tracking-wider px-6 py-3 block border-b-1 border-gray-100 text-black hover:text-pink-500 transition ease-in duration-100 delay-100 ">work</a></li>
                                            <li><a href="conference-talks.html" class="font-normal text-base leading-tight tracking-wider px-6 py-3 block border-b-1 border-gray-100 text-black hover:text-pink-500 transition ease-in duration-100 delay-100 ">talks</a></li>
                                            <li><a href="people.html" class="font-normal text-base leading-tight tracking-wider px-6 py-3 block border-b-1 border-gray-100 text-black hover:text-pink-500 transition ease-in duration-100 delay-100 ">people</a></li>
                                            <li><a href="jobs.html" class="font-normal text-base leading-tight tracking-wider px-6 py-3 block border-b-1 border-gray-100 text-black hover:text-pink-500 transition ease-in duration-100 delay-100 ">jobs</a></li>
                                        </ul>
                                    </div>
                                    <div class="bg-pink-500 absolute bottom-0 py-12 w-full px-6">
                                        <div class="flex justify-between items-center">
                                            <h3 class="text-white font-light text-xl md:text-2xl leading-tight	lg:text-4xl md:leading-loose">india + canada</h3>
                                            <ul>
                                                <li class="text-white font-light text-base md:text-xl lg:text-2xl leading-tight transition ease-in duration-100 delay-100 hover:opacity-70	pb-3"><a href="mailto:hello@nilenso.com">hello@nilenso.com</a></li>
                                                <li class="text-white font-light text-base md:text-xl lg:text-2xl leading-tight transition ease-in duration-100 delay-100 hover:opacity-70	pb-3"><a href="https://twitter.com/nilenso" target="_blank">@nilenso</a></li>
                                                <li class="text-white font-light text-base md:text-xl lg:text-2xl leading-tight transition ease-in duration-100 delay-100 hover:opacity-70"><a href="https://github.com/nilenso" target="_blank">github.com/nilenso</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                              
                        </div>
                    </div>
                </nav>
                </div>
                <nav>
                    <div class="hidden md:flex items-center justify-between">
                        <a href="index.html">
                            <figure>
                                <img src="images/svg/logo.svg" alt="Logo" class="w-full">
                            </figure>
                        </a>
                        <ul class="flex">
                            <li><a href="/" class="font-normal text-base leading-tight tracking-wider md:pr-2 lg:pr-4 xl:pr-8 text-black hover:text-pink-500 transition ease-in duration-100 delay-100 ">h<span class="font-bold text-pink-500">o</span>me</a></li>
                            <li><a href="/work" class="font-normal text-base leading-tight tracking-wider md:pr-2 lg:pr-4 xl:pr-8 text-black hover:text-pink-500 transition ease-in duration-100 delay-100 ">work</a></li>
                            <li><a href="/conference-talks" class="font-normal text-base leading-tight tracking-wider md:pr-2 lg:pr-4 xl:pr-8 text-black hover:text-pink-500 transition ease-in duration-100 delay-100 ">conference talks</a></li>
                            <li><a href="/people" class="font-normal text-base leading-tight tracking-wider md:pr-2 lg:pr-4 xl:pr-8 text-black hover:text-pink-500 transition ease-in duration-100 delay-100 ">people</a></li>
                            <li><a href="/jobs" class="font-normal text-base leading-tight tracking-wider md:pr-2 lg:pr-4 xl:pr-8 text-black hover:text-pink-500 transition ease-in duration-100 delay-100 ">jobs</a></li>
                            <li><a href="/more" class="font-normal text-base leading-tight tracking-wider text-black hover:text-pink-500 transition ease-in duration-100 delay-100 ">contact</a></li>
                        </ul>
                    </div>
                </nav>
        </header>
        {% block header %} {% endblock %}
        {% block content %} {% endblock %}
        {% block footer %}
        <footer class="py-12 pl-6 pr-8 mg:py-16 lg:py-20 bg-pink-500 md:pl-12 md:pr-52">
            <div class="flex justify-between items-center">
                <h3 class="text-white font-light text-xl md:text-2xl leading-tight lg:text-4xl md:leading-loose">india + canada</h3>
                <ul>
                    <li class="text-white font-light text-base md:text-xl lg:text-2xl leading-tight	pb-3 transition ease-in duration-100 delay-100 hover:opacity-70"><a href="mailto:hello@nilenso.com">hello@nilenso.com</a></li>
                    <li class="text-white font-light text-base md:text-xl lg:text-2xl leading-tight	pb-3 transition ease-in duration-100 delay-100 hover:opacity-70"><a href="https://twitter.com/nilenso" target="_blank">@nilenso</a></li>
                    <li class="text-white font-light text-base md:text-xl lg:text-2xl leading-tight transition ease-in duration-100 delay-100 hover:opacity-70"><a href="https://github.com/nilenso" target="_blank">github.com/nilenso</a></li>
                </ul>
            </div>
        </footer>
        {% endblock %}
    </main>
</body>
</html>
