<!doctype html>
<html lang="en">

<head>
    <meta name="robots" content="noindex">
    <meta charset="utf-8">
    <meta name="msapplication-config" content="/browserconfig.xml"/>
    <meta name="msapplication-TileColor" content="#FF3D84">
    <meta name="theme-color" content="#FF3D84">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Nilenso{% endblock %}</title>
    {% block head %}
    {% endblock head %}
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css">
    <link rel="stylesheet" href="/style.css">
</head>

<body class="antialiased bg-white md:max-w-[1092px] mx-auto w-full" style="font-family: 'Poppins', sans-serif; font-weight: bold;">
<main>
    <header class="py-12 pl-6 pr-8 mg:py-16 lg:py-16 md:px-12 bg-white">

        <!-- Mobile Menu -->
        <div class="md:hidden">
            <nav class="w-full items-center flex justify-between">
                <a href="/">
                    <figure class="w-36">
                        <img src="/images/svg/logo.svg" alt="Logo" class="w-full">
                    </figure>
                </a>
                <div id="menuToggle" class="flex items-center">
                    <div>
                        <input id="hamburgerMenuState" type="checkbox">
                        <span class="bg-black w-5 h-0.5 rounded-md mb-1 block relative z-10"></span>
                        <span class="bg-black w-5 h-0.5 rounded-md mb-1 block relative z-10"></span>
                        <span class="bg-black w-5 h-0.5 rounded-md mb-1 block relative z-10"></span>
                        <div id="menu" class="overflow-hidden fixed top-0 left-0 bottom-0 w-full h-screen pt-12">
                            <div class="relative">
                                <a href="/" class="px-6 block">
                                    <figure class="w-36">
                                        <img src="/images/svg/logo.svg" alt="Logo" class="w-full">
                                    </figure>
                                </a>
                                <ul class="pt-16">
                                    {% for tab in config.extra.tabs %}
                                        <li>
                                            <a href="{{ tab.path }}"
                                               class="font-normal text-base leading-tight tracking-wider px-6 py-3 block border-b border-gray-100 text-black hover:text-pink-300">
                                                {{ tab.name }}
                                            </a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <script>
                document.querySelectorAll("#menu li a").forEach(navLink => {
                    navLink.addEventListener("click", () => document.querySelector("#hamburgerMenuState").click());
                });
            </script>
        </div>

        <!-- Desktop Navbar -->
        <nav>
            <div class="hidden md:flex items-center justify-between">
                <a href="/">
                    <figure>
                        <img src="/images/svg/logo.svg" alt="Logo" class="w-4/5">
                    </figure>
                </a>
                <ul class="flex">
                    {% for tab in config.extra.tabs %}
                        {% if tab.nav %}
                            <li>
                                <a href="{{ tab.path }}"
                                   class="font-normal text-base leading-tight tracking-wider md:pr-4 lg:pr-8 xl:pr-8 text-black hover:text-pink-500 ">
                                    {% if current_path == tab.path %}
                                        {{ tab.name | replace(from="o", to="<span class='font-bold text-pink-500'>o</span>") | safe }}
                                    {% else %}
                                        {{ tab.name }}
                                    {% endif %}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </nav>
    </header>

    {% block header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block footer %}
        <footer id="contact" class="py-12 pl-6 pr-8 mg:py-16 lg:py-16 md:px-12 bg-pink-500 ">
            <div class="flex justify-between items-center">
                <h3 class="text-white font-light text-xl md:text-2xl leading-tight lg:text-3xl md:leading-loose">
                    <a href="https://goo.gl/maps/Ywcrdb2bziw2iage6">india</a> + <a
                        href="https://goo.gl/maps/HjgF6V9tBFKpnBTT8">canada</a>
                </h3>

                <div class="grid grid-cols-1 md:grid-cols-2 gap-0 grid-flow-col md:divide-x">
                    <ul class="hidden md:block">
                        <li class="text-white font-light text-base md:text-xl lg:text-lg leading-tight pb-2.5 hover:opacity-70">
                            <a href="/alumni/">alumni</a>
                        </li>

                        <li class="text-white font-light text-base md:text-xl lg:text-lg leading-tight pb-2.5 hover:opacity-70">
                            <a href="/talks/">talks</a>
                        </li>

                        <li class="text-white font-light text-base md:text-xl lg:text-lg leading-tight hover:opacity-70">
                            <a href="https://vyakaran.nilenso.com" target="_blank">vyakaran: handbook</a>
                        </li>
                    </ul>

                    <ul class="pl-6 md:pl-10 lg:pl-10 xl:pl-10">
                        <li class="text-white font-light text-base md:text-xl lg:text-lg leading-tight pb-2.5 hover:opacity-70">
                            <a href="mailto:hello@nilenso.com">hello@nilenso.com</a>
                        </li>

                        <li class="text-white font-light text-base md:text-xl lg:text-lg leading-tight pb-2.5 hover:opacity-70">
                            <a href="https://twitter.com/nilenso" target="_blank">@nilenso</a>
                        </li>

                        <li class="text-white font-light text-base md:text-xl lg:text-lg leading-tight pb-2.5 hover:opacity-70">
                            <a href="https://github.com/nilenso" target="_blank">github.com/nilenso</a>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
    {% endblock %}
</main>
</body>
</html>
