{% extends "base.html" %}

{% block header %}
        <section class="pt-6 pb-10 px-6 md:py-10 md:px-8 lg:py-20 lg:px-12">
            <div >
                <h6 class="font-normal text-gray-600 text-base leading-tight tracking-wider	pb-3 md:pb-7">about</h6>
                <h2 class="font-light text-xl leading-snug	 md:text-4xl lg:lg:text-[3.5rem] lg:leading-snug text-black md:leading-tight"><span class="text-pink-500">nilenso is an employee-owned, boutique technology consultancy based in Bangalore, India.</span> We ship beautiful, fully-tested applications for your organization.</h2>
            </div>
        </section>
{% endblock header %}

{% block content %}
        <section class="px-6 py-10 lg:py-20 md:px-12 md:py-16 border-t-1 border-b-1 border-gray-200">
            <div class="md:flex flex flex-wrap">
                <div class="w-full pb-10 md:pb-0 md:w-1/2 md:pr-8 lg:pr-12 xl:pr-32 border-b-1 md:border-b-0 md:border-r-1 border-gray-200">
                    <h6 class="font-normal text-gray-600 text-base leading-tight tracking-wider pb-5 md:pb-8">what we do</h6>
                    <p class="text-black text-base leading-normal	md:text-xl lg:text-2xl md:leading-snug font-light pb-4 md:pb-7"><span class="text-pink-500">Over the past 7 years, we have worked on projects in e-commerce, logistics, machine learning, data science, healthcare, payments and education</span>, which we delivered in a variety of languages and platforms including:</p>
                    <p class="text-black text-base leading-normal	md:text-xl lg:text-2xl md:leading-snug font-light pb-4 md:pb-7">Clojure/ClojureScript, Ruby/Rails, Haskell/PureScript, Go and Javascript/node.js, among others.</p>
                    <p class="text-black text-base leading-normal	md:text-xl lg:text-2xl md:leading-snug font-light">Our primary goal is to find people and organizations to partner with who feel the same way. If you prefer working on open source, with open data, in open and transparent fields, we want to <a href="/conference-talks"  class="underline font-normal hover:text-pink-500 transition ease-in duration-100 delay-100">talk to you.</a></p>
                </div>
                <div class="pt-10 md:pt-0 w-full md:w-1/2 md:pl-8 lg:pl-12 xl:pl-32">
                    <h6 class="font-normal text-gray-600 text-base leading-tight tracking-wider	pb-5 md:pb-8">people</h6>
                    <p class="text-black text-base leading-normal	md:text-xl lg:text-2xl md:leading-snug font-light pb-4 md:pb-7"><span class="text-pink-500">We are expert developers with extensive experience in Clojure, Ruby, Go, Haskell, Elixir, and Javascript.</span></p>
                    <p class="text-black text-base leading-normal	md:text-xl lg:text-2xl md:leading-snug font-light">We have built and launched products, regularly speak at industry conferences, sing carnatic music, and climb mountains.</p>
                    <p class="text-black text-base leading-normal	md:text-xl lg:text-2xl md:leading-snug font-normal pt-4 md:pt-20 lg:pt-48">take a look at some of our talks <a href="/conference-talks" class="underline hover:text-pink-500 transition ease-in duration-100 delay-100">here</a><br>and <a href="/people"  class="underline hover:text-pink-500 transition ease-in duration-100 delay-100"> meet our team</a></p>
                </div>
            </div>
        </section>
        <section class="py-10 px-6 md:py-20 md:px-12">
            <div>
                <h6 class="font-normal text-gray-600 text-base leading-tight tracking-wide">a selection of recent projects</h6>
                <div class="flex items-center flex-wrap justify-between lg:justify-start">
                    <a href="https://www.gojek.com/en-id/" target="_blank" class="mr-9 mt-9 lg:mr-20  xl:mr-24 md:mt-12 lg:mt-16 xl:mt-20">
                        <figure class="w-20 md:w-36 lg:w-40 xl:w-60">
                            <img src="images/gojek.png" alt="goJek" class="w-full">
                        </figure>
                    </a>
                    <a href="https://insider.in/online" target="_blank" class="mr-9 mt-9 lg:mr-20  xl:mr-24 md:mt-12 lg:mt-16 xl:mt-20">
                        <figure class="w-20  md:w-36 lg:w-40 xl:w-60">
                            <img src="images/paytm-insider.png" alt="paytm-insider" class="w-full">
                        </figure>
                    </a>
                    <a href="https://juspay.in/" target="_blank" class="mt-9 lg:mr-20  xl:mr-24 md:mt-12 lg:mt-16 xl:mt-20">
                        <figure class="w-20 md:w-36 lg:w-40 xl:w-60">
                            <img src="images/juspay.png" alt="juspay" class="w-full">
                        </figure>
                    </a>
                    <a href="https://www.simple.org/" target="_blank" class="mr-9 mt-9 lg:mr-0 md:mt-12 lg:mt-16 xl:mt-20">
                        <figure class="w-20 md:w-36 lg:w-40 xl:w-56">
                            <img src="images/simple.png" alt="simple" class="w-full">
                        </figure>
                    </a>
                    <a href="http://omnyway.com/" target="_blank" class="mr-9 mt-9 lg:mr-20  xl:mr-24 md:mt-12 lg:mt-16 xl:mt-20">
                        <figure class="w-20 md:w-36 lg:w-40 xl:w-60">
                            <img src="images/onmyway.png" alt="onmyway" class="w-full">
                        </figure>
                    </a>
                    <a href="https://www.quintype.com/" target="_blank" class="mt-9 lg:mr-20  xl:mr-24 md:mt-12 lg:mt-16 xl:mt-20">
                        <figure class="w-20 md:w-36 lg:w-40 xl:w-60">
                            <img src="images/quintype.png" alt="quintype" class="w-full">
                        </figure>
                    </a>
                    <a href="http://www.staples.com/" target="_blank" class="mr-9 mt-9 lg:mr-20  xl:mr-24 md:mt-12 lg:mt-16 xl:mt-20">
                        <figure class="w-20 md:w-36 lg:w-40 xl:w-60">
                            <img src="images/staples.png" alt="staples" class="w-full">
                        </figure>
                    </a>
                </div>
            </div>
        </section>
        <section class="py-10 px-6 md:py-20 md:px-12 border-t-1	 border-gray-200">
            <div>
                <h6 class="pb-8 pb-0 font-normal text-gray-600 text-base leading-tight tracking-wide">some of the people we’ve worked with</h6>
                <div class="flex items-center flex-wrap justify-between lg:space-arround xl:justify-between">
                    <a href="https://grofers.com/"  target="_blank" class="mr-6 lg:mr-8 xl:mr-16 md:mt-8 lg:mt-10 xl:mt-16 mt-8">
                        <figure class="w-20 md:w-44">
                            <img src="images/grofers.png" alt="grofers" class="w-full">
                        </figure>
                    </a>
                    <a href="https://www.vitalstrategies.org/" target="_blank" class="mr-6 lg:mr-8 xl:mr-16 md:mt-8 lg:mt-10 xl:mt-16 mt-8">
                        <figure class="w-20 md:w-44">
                            <img src="images/vital-strategies.png" alt="gVital Strategies" class="w-full">
                        </figure>
                    </a>
                    <a href="http://www.oml.in/" target="_blank" class="lg:mr-8 xl:mr-16 md:mt-8 lg:mt-10 xl:mt-16 mt-8">
                        <figure class="w-20 md:w-44">
                            <img src="images/oml-logo.png" alt="OML_Logo_2016" class="w-full">
                        </figure>
                    </a>
                    <a href="https://www.flipkart.com/" target="_blank" class="mr-6 lg:mr-8 xl:mr-16 md:mt-8 lg:mt-10 xl:mt-16 mt-8">
                        <figure class="w-20 md:w-44">
                            <img src="images/flipkart.png" alt="Flipkart" class="w-full">
                        </figure>
                    </a>
                    <a href="https://home.quiklrn.com/" target="_blank" class="mr-6 md:mr-0 md:mt-8 lg:mt-10 xl:mt-16 mt-8">
                        <figure class="w-20 md:w-44">
                            <img src="images/quiklrn.png" alt="quiklrn" class="w-full">
                        </figure>
                    </a>
                    <a href="http://www.ashoka.org/" target="_blank" class=" lg:mr-8 xl:mr-16 md:mt-8 lg:mt-10 xl:mt-16 mt-8">
                        <figure class="w-16 md:w-32">
                            <img src="images/ashoka.png" alt="Ashoka" class="w-full">
                        </figure>
                    </a>
                    <a href="https://getzipline.com/" target="_blank" class="mr-6 lg:mr-8 xl:mr-16 md:mt-8 lg:mt-10 xl:mt-16 mt-8">
                        <figure class="w-20 md:w-44">
                            <img src="images/zipline.png" alt="zipline" class="w-full">
                        </figure>
                    </a>
                    <a href="https://milaap.org/" target="_blank" class="mr-6 lg:mr-8 xl:mr-16 md:mt-8 lg:mt-10 xl:mt-16 mt-8">
                        <figure class="w-20 md:w-44">
                            <img src="images/milaap.png" alt="Milaap" class="w-full">
                        </figure>
                    </a>
                    <a href="https://www.mapbox.com/" target="_blank" class=" lg:mr-8 xl:mr-16 md:mt-8 lg:mt-10 xl:mt-16 mt-8">
                        <figure class="w-20 md:w-44">
                            <img src="images/mapbox.png" alt="mapbox" class="w-full">
                        </figure>
                    </a>
                    <a href="https://mightyhive.com/" target="_blank" class="mr-6 md:mr-0 md:mt-8 lg:mt-10 xl:mt-16 mt-8">
                        <figure class="w-20 md:w-44">
                            <img src="images/mightyhive.png" alt="mghtyhive" class="w-full">
                        </figure>
                    </a>
                </div>
                <p class="font-normal text-sm md:text-xl text-black leading-tight pt-11 md:pt-20 lg:pt-24">Read more about our products and tech <a class="underline hover:text-pink-500 transition ease-in duration-100 delay-100" href="/work">here</a></p>
            </div>
        </section>
{% endblock content %}
