{% extends "base.html" %}

{% block title %} Jobs | nilenso {% endblock title %}
{% block header %}
<section class="bg-black py-10 md:py-16 lg:py-16 px-6 md:px-10 lg:px-9">
    <div>
        <h1
            class="font-normal text-xl leading-snug md:text-4xl lg:lg:text-[2.8rem] lg:leading-snug text-white md:leading-tight">
            working with us.
        </h1>
    </div>
</section>
{% endblock header %}

{% block content %}
<section class="px-6 py-10 lg:py-16 md:px-9 md:py-16">
    <p
        class="pt-1 font-normal text-base lg:text-2xl leading-normal md:leading-tight w-full max-w-[48rem] tracking-tight">
        We would like to thank you for considering to apply to nilenso.<br>We have filled the available positions and
        have <b>paused hiring until 1st April 2024.</b>

        <br><br>
        Please keep an eye on this page and feel free to apply to us when positions open up.
    </p>
</section>
{% endblock content %}
