{% extends "base.html" %}

{% block header %}
    <section class="bg-black py-10 md:py-16 lg:py-16 px-6 md:px-10 lg:px-9">
        <div>
            <h2 class="text-pink-500 font-normal text-xl leading-snug md:text-4xl lg:lg:text-[2.8rem] lg:leading-snug text-white md:leading-tight">
                join us.
                <span class ="text-white font-light text-xl leading-snug md:text-4xl lg:lg:text-[2.8rem] lg:leading-snug md:leading-tight">
                    if you share our interests, we want to hear from you; get in touch at
                    <a href="mailto:careers@nilenso.com" class="underline hover:text-pink-300">
                        careers@nilenso.com.
                    </a>
                </span>
            </h2>             
        </div>
    </section>
{% endblock header %}

{% block content %}
    <section class="px-6 py-10 lg:py-16 md:px-9 md:py-16">
        <div class="md:flex flex flex-wrap">
            <div class="w-full pb-10 md:pb-0 md:w-1/2 md:pr-8 lg:pr-12 xl:pr-24 border-b md:border-b-0 md:border-r border-gray-200">
                <h6 class="font-normal text-gray-600 text-xl md:text-xl leading-tight tracking-wider pb-9 md:pb-8">come, run
                    nilenso with us
                </h6>
                <p class="text-pink-500 text-base leading-normal lg:text-xl md:leading-snug font-light pb-4 md:pb-7">
                    We are keen on hearing from women and other under-represented communities.
                </p>
                <p class="text-black text-base leading-normal lg:text-xl md:leading-snug font-light pb-4 md:pb-7">
                    At nilenso, we want to work on ideas that have the power to transform the world. Along the way,
                    we're building a kind, nurturing community of people who care about doing things the “right way”,
                    while learning and improving constantly.
                </p>
                <p class="text-black text-base leading-normal lg:text-xl md:leading-snug font-light pb-4 md:pb-7">
                    As an employee-owned cooperative, we don't need to justify how
                    happy employees impact the bottom line. Here, you have the unique opportunity to chart your own path
                    in a stable environment that provides financial and emotional security.
                </p>
                <p class="text-black text-base leading-normal lg:text-xl md:leading-snug font-light pb-4 md:pb-7">
                    We’re a growing team of friendly people across India with one member in Canada, and are hiring in
                    both of these geographies. Last year amidst COVID-19, we became a fully remote company. We expect to
                    continue to operate remotely in 2022.
                </p>
                <p class="text-black text-base leading-normal lg:text-xl md:leading-snug font-light pb-4 md:pb-7">
                    We believe in transparency: our finances, salaries and reviews are fully open. We have no corporate secrets.
                </p>
            </div>
            <div class="pt-10 md:pt-0 w-full md:w-1/2 md:pl-8 lg:pl-12 xl:pl-16">
                <h6 class="font-normal text-gray-600 text-xl md:text-xl leading-tight tracking-wider pb-9 md:pb-8">essentials and
                    perks
                </h6>
                <p class="text-pink-500 text-base leading-normal lg:text-xl md:leading-snug font-light pb-4 md:pb-7">
                    If you think companies should be run the way nilenso is, write to us!
                </p>
                <p class="text-black text-base leading-normal lg:text-xl md:leading-snug font-light pb-4 md:pb-7">
                    We are passionate about our work, but believe that balance is essential. We normalise working reasonable hours with breaks. We do not work weekends, and offer paid menstrual leave, paid parental leave plus additional <a href="https://vyakaran.nilenso.com/policy/leaves" target="_blank"
                                                             class="underline hover:text-pink-500">paid time off</a>.
                </p>
                <p class="text-black text-base leading-normal lg:text-xl md:leading-snug font-light pb-4 md:pb-7">
                    We also have a flexible expense account with an <a href="https://vyakaran.nilenso.com/policy/expense-account" target="_blank"
                                  class="underline hover:text-pink-500">unlimited learning budget</a>. An extensive
                    library (buy any book, no questions asked) and frequent conference attendance is our baseline.
                    We care about your well-being, and offer <a href="https://vyakaran.nilenso.com/health-and-safety/health-policy" target="_blank"
                    class="underline hover:text-pink-500">full physical and mental health cover</a> for you and your family. In addition to these, we also 
                    <a href="https://vyakaran.nilenso.com/policy/tbd-donation" target="_blank" class="underline hover:text-pink-500"> 1:1 match your donations </a>
                    to your favorite charities.
                </p>
                <p class="text-black text-base leading-normal lg:text-xl md:leading-snug font-light pb-4 md:pb-7">
                    We, of course, cover the basics: a <a href="https://vyakaran.nilenso.com/office/workstation" target="_blank"
                    class="underline hover:text-pink-500">full workstation</a>, and any software licenses you need. 
                </p>
                <p class="text-black text-base leading-normal lg:text-xl md:leading-snug font-light pb-4 md:pb-7">
                    If there's anything else we can do to make your work more enjoyable or your life easier, just ask, we'll try.
                </p>
            </div>
        </div>
    </section>

    <section class="xl:py-24 md:py-16 py-10 md:px-12 border-t border-gray-200 px-6">

        <p class="text-pink-500 text-base leading-normal lg:text-xl md:leading-snug font-light pb-4 md:pb-7">
            We're always hiring! Grow with us. Check out our open positions below.
        </p>

        <h5 class="font-normal text-sm md:text-xl text-black leading-tight w-full md:max-w-[46rem]">
            <a href="/jobs/intermediate-developer/" class="underline hover:text-pink-500">Intermediate developer</a>
        </h5>
        <br>
        <h5 class="font-normal text-sm md:text-xl text-black leading-tight w-full md:max-w-[46rem]">
            <a href="/jobs/senior-developer/" class="underline hover:text-pink-500">Senior developer</a>
        </h5>
    </section>
{% endblock content %}
