{% extends "base.html" %}

{% block title %} Jobs | nilenso {% endblock title %}
{% block header %}
<section class="bg-black py-10 md:py-16 lg:py-16 px-6 md:px-10 lg:px-9">
    <div>
        <h1
            class="font-normal text-xl leading-snug md:text-4xl lg:lg:text-[2.8rem] lg:leading-snug text-pink-500 md:leading-tight">
            working with us.
            <span class ="text-white font-light text-xl leading-snug md:text-4xl lg:lg:text-[2.8rem] lg:leading-snug md:leading-tight">
                come own and run nilenso.
            </span>
        </h1>
    </div>
</section>
{% endblock header %}

{% block content %}
<section class="px-6 py-10 lg:py-16 md:px-9 md:py-16">
    <p
        class="text-black text-base leading-normal md:text-xl lg:text-xl md:leading-snug font-light pb-4 md:pb-7">
        Thank you for considering a career at nilenso.<br>Currently, <strong>we do not have any open positions.</strong>

        <br><br>
        Do keep an eye on this page and feel free to apply to us when positions open up.<br>
        You may read about our
        <a href="/perks" class="underline hover:text-pink-300 transition ease-in duration-100 delay-100">perks</a> or
        <a href="https://blog.nilenso.com/blog/2022/08/07/everyday-recipes-for-cooking-noobs/"
        class="underline hover:text-pink-300 transition ease-in duration-100 delay-100">a few of our recipes</a> in the meantime.
    </p>
</section>
{% endblock content %}
