{% macro talk(title, video_id, speakers, venue, duration) %}
<div class="sm:flex pb-6 md:pb-16">
    <figure onclick="showVideo(this)" class="min-w-full sm:min-w-[18rem] md:min-w-[20rem] lg:min-w-[25.4375rem]">
      <img style="width:480px" src="https://img.youtube.com/vi/{{video_id}}/sddefault.jpg" />
      <iframe id="ytplayer"
              loading="lazy"
              type="text/html"
              class="hidden"
              width="480"
              height="240"
              src="https://www.youtube.com/embed/{{ video_id }}?autoplay=0"
              frameborder="0"></iframe>
    </figure>
    <div class="pt-4 md:pt-0 sm:pl-6 flex flex-wrap">
        <div>
          <h3 class="text-black font-normal lg:text-3xl md:text-xl text-base leading-normal">{{title}}</h3>
          <p class="text-black font-light lg:text-2xl md:text-xl text-base leading-tight pt-2">{{duration}}</p>
    </div>
    <div class="w-full sm:self-end pt-4">
      <h3 class="text-pink-500 font-normal lg:text-3xl md:text-xl text-base leading-normal">
      {{speakers | safe}}
      </h3>
      <p class="text-black font-light lg:text-2xl md:text-xl text-base leading-tight pt-2">{{venue}}</p>
    </div>
    </div>
</div>
{% endmacro input %}
{% macro speaker(name, slug) %}<a href="/people/#{{slug}}" class="inline-block underline">{{name}}</a>{% endmacro input %}
