{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
{% endblock head %}

{% block header %}
    <section class="bg-black py-10 md:py-16 lg:py-16 px-6 md:px-10 lg:px-9">
        <div>
            <h2 class="text-pink-500 font-normal text-xl leading-snug md:text-4xl lg:lg:text-[2.8rem] lg:leading-snug text-white md:leading-tight">
                our tribe.
                <span class ="text-white font-light text-xl leading-snug md:text-4xl lg:lg:text-[2.8rem] lg:leading-snug md:leading-tight">
                    we build and launch products, sing carnatic music, and climb mountains.
                </span>
            </h2>
        </div>
    </section>
{% endblock header %}

{% block content %}

    {% set data = load_data(path="content/data/people.toml", format="toml") %}
    {% set tileset = data.people | slice(end=6) %}
    <section class="people-tiles">
    {% for person in tileset %}
        <div class="person">
            <img src="/{{ person.picture }}">
            <p>{{ person.name }}</p>
            <p class="sub">Magical problem-solver who makes the impossible happen and sings while he does it.</p>
        </div>
    {% endfor %}

    <div class="bigsquare">
        <a href="" style="font-size: 0.7em; font-style: italic;">From the fertile soil of discomposure and ennui sprouts a new article by @jysandilya</a>
    </div>

    {% set tileset = data.people | slice(start=6, end=9) %}
    {% for person in tileset %}
        <div class="person">
            <img src="/{{ person.picture }}">
            <p>{{ person.name }}</p>
            <p class="sub">Magical problem-solver who makes the impossible happen and sings while he does it.</p>
        </div>
    {% endfor %}

    <div class="misctile">
        <img src="https://images.hasgeek.com/embed/file/a876d4c67dfa44eeafbbfc3da7d46007?size=700">
    </div>

    {% set tileset = data.people | slice(start=9, end=16) %}
    {% for person in tileset %}
        <div class="person">
            <img src="/{{ person.picture }}">
            <p>{{ person.name }}</p>
            <p class="sub">Magical problem-solver who makes the impossible happen and sings while he does it.</p>
        </div>
    {% endfor %}

    <div class="bigsquare">
        <img src="https://blog.nilenso.com/images/blog/everyday-recipes-for-cooking-noobs/khichdi.jpg" alt="khichdi" />
    </div>
    <div class="bigsquare">
        <a href="">We are hiring!</a>
    </div>

    {% set tileset = data.people | slice(start=16) %}
    {% for person in tileset %}
        <div class="person">
            <img src="/{{ person.picture }}">
            <p>{{ person.name }}</p>
            <p class="sub">Magical problem-solver who makes the impossible happen and sings while he does it.</p>
        </div>
    {% endfor %}
    </section>
    <!--testing -->
    <!--section class="people-tiles"
        <div class="person">
            <img src="https://nilenso.com/images/people/neena.webp">
            <p>Ravi Chandra "neena" Padmala</p>
            <p class="sub">Magical problem-solver who makes the impossible happen and sings while he does it.</p>
        </div>
        <div class="person">
            <img src="https://nilenso.com/images/people/akshatha.webp">
            <p>Ravi Chandra "neena" Padmala</p>
            <p class="sub">The operations engine at nilenso who can get you anything you want.</p>

        </div>

        <div class="person">
            <img src="https://nilenso.com/images/people/atharva.webp">
            <p>Ravi Chandra "neena" Padmala</p>
            <p class="sub">A deadpan humourist electronics engineer turned programmer.</p>
        </div>

        <div class="person">
            <img src="https://nilenso.com/images/people/sandy.webp">
            <p>Ravi Chandra "neena" Padmala</p>
            <p class="sub">A craftsperson and stoic debugger who creates questionable art.</p>
        </div>

        <div class="person">
            <img src="https://nilenso.com/images/people/kiran.webp">
            <p>Ravi Chandra "neena" Padmala</p>
            <p class="sub">She speaks half a dozen languages and knows everyone you know.</p>
        </div>

        <div class="person">
            <img src="https://nilenso.com/images/people/deepa.jpg">
            <p>Ravi Chandra "neena" Padmala</p>
            <p class="sub">Secretly a biologist; always follow him to a classical music performance.</p>
        </div>

        <div class="bigsquare">
            <p>#cool consultants 4 hire</p>
        </div>

        <div class="person">
            <img src="https://nilenso.com/images/people/olttwa.webp">
            <p>Ravi Chandra "neena" Padmala</p>
            <p class="sub">A chemistry professor turned PM; also an aspiring Martian.</p>
        </div>

        <div class="person">
            <img src="https://nilenso.com/images/people/priyanga.webp">
            <p>Ravi Chandra "neena" Padmala</p>
        </div>

        <div class="person">
            <img src="https://nilenso.com/images/people/neena.webp">
            <p>Ravi Chandra "neena" Padmala</p>
        </div>

        <div class="person">
            <img src="https://nilenso.com/images/people/sezal.webp">
            <p>Ravi Chandra "neena" Padmala</p>
        </div>

        <div class="misctile">
            <img src="https://images.hasgeek.com/embed/file/a876d4c67dfa44eeafbbfc3da7d46007?size=700">
        </div>

        <div class="person">
            <img src="https://nilenso.com/images/people/yogi.webp">
            <p>Ravi Chandra "neena" Padmala</p>
        </div>

        <div class="person">
            <img src="https://nilenso.com/images/people/alisha.webp">
            <p>Ravi Chandra "neena" Padmala</p>
        </div>

        <div class="person">
            <img src="https://nilenso.com/images/people/shivam.webp">
            <p>Ravi Chandra "neena" Padmala</p>
        </div>

        <div class="person">
            <img src="https://nilenso.com/images/people/neena.webp">
            <p>Ravi Chandra "neena" Padmala</p>
        </div>

        <div class="person">
            <img src="https://nilenso.com/images/people/dan.webp">
            <p>Ravi Chandra "neena" Padmala</p>
        </div>

        <div class="person">
            <img src="https://nilenso.com/images/people/srihari.webp">
            <p>Ravi Chandra "neena" Padmala</p>
        </div>

    </section>-->
    <!--testing -->

    <section class="xl:py-24 md:py-16 py-10 md:px-12 border-t border-gray-200 px-6">
        <h5 class="font-normal text-sm md:text-xl text-black leading-tight w-full md:max-w-[46rem]">
            Meet our alumni <a href="/alumni" class="underline hover:text-pink-500">here</a>.
        </h5>
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.min.js"></script>
    <script>
        const peopleList = document.getElementById('people-list');

        for (let personNum = 0, len = peopleList.children.length; personNum < len; personNum++) {
            peopleList.children[personNum].onclick = function () {
                peopleContent.slideTo(personNum);
            }
        }

        const peopleContent = new Swiper('.people-content', {
            hashnav: true,
            autoHeight: false,
            onSlideChangeStart: function (swiper, _evt) {
                peopleList.children[swiper.previousIndex].children[0].classList.remove('active', 'active-tab');
                peopleList.children[swiper.activeIndex].children[0].classList.add('active', 'active-tab');
            }
        });

        new Swiper('.swiper-container', {hashNav: true, autoHeight: false});
    </script>
{% endblock content %}
