{% extends "base.html" %}

{% block header %}
<section class="bg-black py-10 md:py-16 lg:py-16 px-6 md:px-10 lg:px-9">
  <div>
    <h2
      class="text-pink-500 font-normal text-xl leading-snug md:text-4xl lg:lg:text-[2.8rem] lg:leading-snug text-white md:leading-tight">
      the perks of being an Ens<span class="text-pink-500">o</span>nian.
    </h2>
  </div>
</section>
{% endblock header %}

{% block content %}
<section class="px-6 py-10 lg:py-20 md:px-12 md:py-16">
  <p class="pt-1 font-normal text-base lg:text-xl leading-normal md:leading-tight w-full max-w-[48rem] tracking-tight">
    nilenso is a fully remote, employee-owned co-operative software consultancy based in India and Canada with more than
    10 years of experience building thoughtful, well-crafted products. And we’re <a href="http://nilenso.com/jobs"
      class="underline hover:text-pink-300 transition ease-in duration-100 delay-100">hiring</a> right now!
  <ul
    class="mt-2 pt-1 list-disc text-black text-base leading-normal lg:text-xl md:leading-snug font-normal pl-4 md:pl-7 space-y-2 md:space-y-4">
    <li> We place employee happiness first.</li>
    <li> We strive to be a progressive organization, which is often years ahead of present policies.</li>
    <li> We place a lot of trust in our employees to do the right thing.</li>
  </ul>
  </p>
  <br>
  <h1 class="text-gray-600 text-3xl md:text-10xl leading-tight tracking-wider mb-4">
    A great place to work
  </h1>
  <ul
    class="mt-2 pt-1 list-disc text-black text-base leading-normal lg:text-xl md:leading-snug font-normal pl-4 md:pl-7 space-y-2 md:space-y-4">
    <li> We are a company filled with people who are kind, understanding and passionate about programming.</li>
    <li>We care about collaboration, not internal competition.</li>
    <li>We deeply care about our craft, and focus on personal and professional growth.</li>
    <li>We believe in internal transparency and workplace democracy. Our salaries and annual reviews are open to
      everyone in the organization. We have no corporate secrets.</li>
    </li>
  </ul>
  <br>
  <h1 class="text-gray-600 text-3xl md:text-10xl leading-tight tracking-wider mb-4">
    A track record for doing challenging work
  </h1>
  <ul
    class="mt-2 pt-1 list-disc text-black text-base leading-normal lg:text-xl md:leading-snug font-normal pl-4 md:pl-7 space-y-2 md:space-y-4">
    <li> We have solved challenging business problems, at scale for a host of organizations ranging from fast-moving
      start-ups, to stable fintechs, to global healthcare NGOs.</li>
    <li>Historically, the majority of our projects have been staff-augmentation. While being a consultant, we own
      product/business outcomes, work deeply with the team, be on-call and participate in resolving production issues.
    </li>
    <li>We see ourselves as insiders, not outsiders. We will work with or as a team-lead, and collaborate with product
      managers and stakeholders.</li>
  </ul>
  <br>
  <h1 class="text-gray-600 text-3xl md:text-10xl leading-tight tracking-wider mb-4">
    Work-life balance
  </h1>
  <ul
    class="mt-2 pt-1 list-disc text-black text-base leading-normal lg:text-xl md:leading-snug font-normal pl-4 md:pl-7 space-y-2 md:space-y-4">
    <li> We normalize working reasonable hours with breaks. Except to deal with the odd production issue, we don't work
      late evenings or on weekends.</li>
    <li>Ensonians enjoy 33 days of paid leave annually.</li>
    <li>We offer <a href="https://blog.nilenso.com/blog/2016/05/16/i-have-cramps/"
        class="underline hover:text-pink-300 transition ease-in duration-100 delay-100">paid menstrual leave</a> for
      anyone who needs it, no questions asked. This does not count as leave.</li>
    <li>We believe that parenting is a joy and a responsibility that should be shared by all parents. Anyone (regardless
      of gender) welcoming a newborn (biological or adopted) is offered 6 months paid and a further 6 months unpaid
      leave.</li>
    </li>
  </ul>
  <br>
  <h1 class="text-gray-600 text-3xl md:text-10xl leading-tight tracking-wider mb-4">
    Remote-friendly policies
  </h1>
  <ul
    class="mt-2 pt-1 list-disc text-black text-base leading-normal lg:text-xl md:leading-snug font-normal pl-4 md:pl-7 space-y-2 md:space-y-4">
    <li> We cover the basic requirements to make your work more enjoyable by providing a full workstation, which
      includes, but is not limited to:
      <ul
        class="mt-2 pt-1 list-disc text-black text-base leading-normal lg:text-xl md:leading-snug font-normal pl-4 md:pl-7 space-y-2 md:space-y-4">
        <li> A Mac/Linux machine.</li>
        <li> A standing desk and a comfortable chair.</li>
        <li>A monitor, mechanical keyboard, mouse, and webcam.</li>
        <li>Best-in-class headphones.</li>
        <li>If you need anything else, just ask, we'll try.</li>
    </li>
  </ul>
  </li>
  <li>We offer a monthly co-working space budget of ₹ 25,000.</li>
  <li>Ensonians like to collaborate in person. We hold annual company-wide retreats to foster in-person connections and
    team integration.
  </li>
  </li>
  </ul>
  <br>
  <h1 class="text-gray-600 text-3xl md:text-10xl leading-tight tracking-wider mb-4">
    Growth and mentorship </h1>
  <ul
    class="mt-2 pt-1 list-disc text-black text-base leading-normal lg:text-xl md:leading-snug font-normal pl-4 md:pl-7 space-y-2 md:space-y-4">
    <li> Ensonians have a flexible expense account with an <a href="https://vyakaran.nilenso.com/policy/expense-account"
        class="underline hover:text-pink-300 transition ease-in duration-100 delay-100">unlimited learning budget</a>.
    </li>
    <li>An extensive library (buy any book, no questions asked) and frequent conference attendance is our baseline.</li>
    <li> Senior Ensonians care about mentoring and helping each-other grow. </li>
  </ul>
  <br>
  <h1 class="text-gray-600 text-3xl md:text-10xl leading-tight tracking-wider mb-4">
    Health and Well-being
  </h1>
  <ul
    class="mt-2 pt-1 list-disc text-black text-base leading-normal lg:text-xl md:leading-snug font-normal pl-4 md:pl-7 space-y-2 md:space-y-4">
    <li> Health insurance for you and your family of ₹ 6 lakhs per person.</li>
    <li>nilenso also <a href="https://vyakaran.nilenso.com/health-and-safety/health-policy#psychological-care"
        class="underline hover:text-pink-300 transition ease-in duration-100 delay-100">reimburses any expenses</a>
      (consultation, therapy, medication and any other expenses relating to your
      mental well being) up to ₹ 1L/year for you, your partner, parents or children. </li>
  </ul>
  <br>


</section>

{% endblock content %}