{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block header %}
    <section class="bg-black py-10 md:py-16 lg:py-16 px-6 md:px-10 lg:px-9">
        <div>
            <h2 class="font-light text-xl leading-snug md:text-4xl lg:lg:text-[2.8rem] lg:leading-snug text-white md:leading-tight">
                telling stories.
            </h2>
            <p class="pt-6 lg:pt-10 text-pink-500 font-light text-base md:text-l lg:text-xl leading-normal md:leading-tight w-full max-w-[48rem] tracking-tight">
                our members regularly speak at conferences around the world
            </p>
        </div>
    </section>
{% endblock header %}

{% block content %}
    <script>
        function showVideo(target) {
            let thumbnail = target.getElementsByTagName("img")[0];
            target.removeChild(thumbnail);
            let videoIframe = target.getElementsByTagName("iframe")[0];
            videoIframe.width = thumbnail.width;
            videoIframe.height = thumbnail.height;
            videoIframe.removeAttribute("class");
        }
    </script>

    {% set data = load_data(path="content/data/talks.toml", format="toml") %}
    <section class="lg:py-16 md:py-16 py-10 md:px-9 px-6">
        {% for talk in data.talks %}
            <div class="talk-item sm:flex py-6 md:py-16 border-t">
                <figure onclick="showVideo(this)"
                        class="min-w-full md:min-w-max lg:min-w-max xl:min-w-max sm:min-w-[18rem] md:min-w-[20rem] lg:min-w-[25rem]">
                    <img alt="talk_image" src="/images/talks/{{ talk.youtube_id }}.jpg"/>
                    <iframe id="ytplayer"
                            loading="lazy"
                            type="text/html"
                            class="hidden w-52"
                            src="https://www.youtube.com/embed/{{ talk.youtube_id }}?autoplay=0"
                            frameborder="0">
                    </iframe>
                </figure>
                <div class="pt-4 md:pt-0 sm:pl-6 flex flex-wrap">
                    <div>
                        <h3 class="text-black font-normal md:text-xl lg:text-2xl text-base leading-normal">
                            {{ talk.title }}
                        </h3>
                        <p class="text-black font-light md:text-l lg:text-l text-base leading-tight pt-2">
                            ⏱ {{ talk.duration }}
                        </p>
                    </div>

                    <div class="w-full sm:self-end pt-4">
                        <h4 class="text-pink-500 font-normal md:text-l text-base leading-normal">
                            {% if talk.speakerhash %}
                                <a href="/people/#{{ talk.speakerhash }}" class="inline-block underline">
                            {% endif %}
                            {{ talk.speakers }}
                            {% if talk.speakerhash %}</a>{% endif %}
                        </h4>
                        <p class="text-black font-light md:text-l text-base leading-tight pt-2">
                            {{ talk.venue }}
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock content %}
