{% extends "base.html" %}

{% block header %}
        <section class="bg-black py-10 md:py-16 lg:py-20 px-6 md:px-10 lg:px-12">
            <div>
            <h2 class="font-light text-xl leading-snug	 md:text-4xl lg:lg:text-[3.5rem] lg:leading-snug text-white md:leading-tight">our expertise is in delivering highly available, scalable systems in high throughput environments.</h2>
            <p class="pt-6  lg:pt-10 text-pink-500 font-light text-base md:text-xl lg:text-2xl leading-normal	 md:leading-tight w-full max-w-[48rem] tracking-tight">Some of the major services we've built include a multivariate testing/ experimentation platform, a ride-share driver-allocation service, multiple machine learning runtimes, and a variety of ETL and analytics systems. Take a look at a selection of recent projects below</p>
            </div>
        </section>
{% endblock header %}

{% block content %}
        <section class="logo-slider">
            
           <div class="swiper-container tabs-buttons md:py-16 py-10 lg:py-20 bg-gray-100 md:px-12 px-6">
            <div class="swiper-wrapper flex justify-between items-center">
              <div  class="swiper-slide active-tab bg-no-repeat opacity-40 bg-center" style="background-image: url(images/gojek.png); background-size: 119px;"></div>
              <div   class="swiper-slide bg-no-repeat opacity-40 bg-center" style="background-image: url(images/paytm-insider.png); background-size: 119px;"></div>
              <div  class="swiper-slide bg-no-repeat opacity-40 bg-center" style="background-image: url(images/juspay.png); background-size: 119px;"></div>
              <div  class="swiper-slide bg-no-repeat opacity-40 bg-center" style="background-image: url(images/simple.png); background-size: 119px;"></div>
              <div  class="swiper-slide bg-no-repeat opacity-40 bg-center" style="background-image: url(images/onmyway.png); background-size: 119px;"></div>
              <div  class="swiper-slide bg-no-repeat opacity-40 bg-center" style="background-image: url(images/quintype.png); background-size: 119px;"></div>
              <div  class="swiper-slide bg-no-repeat opacity-40 bg-center" style="background-image: url(images/staples.png); background-size: 119px;"></div>
            </div>
            <div class="swiper-button-prev z-50"></div>
             <div class="swiper-button-next z-50"></div>
          </div>
          <div class="swiper-container tabs-content">
            <div class="swiper-wrapper">
              <div class="swiper-slide" data-hash="gojek">
                <div class="py-10 md:py-16 lg:py-20 px-6 md:px-12 ">
                    <div class="flex flex-wrap sm:flex-nowrap">
                        <div class="flex flex-wrap">
                            <figure class="w-36	md:w-40 lg:w-48	md:ml-0 lg:ml-16 mb-10 sm:mb-0">
                                <img src="images/gojek.png" alt="goJek" class="w-full">
                            </figure>
                            <div class="hidden sm:block flex flex-col self-end	w-full">
                                <h6 class="font-normal text-gray-600 text-base leading-tight tracking-wider pb-10">talks</h6>
                                <p class="text-2xl md:text-xl	text-pink-500 leading-tight	 font-light pb-8">
                                    EuroClojure<br>
                                    <span class="underline hover:text-pink-600 cursor-pointer	 transition ease-in duration-100 delay-100"> Moving people with Clojure</span></p>
                                <p class="text-2xl md:text-xl	text-pink-500 leading-tight	 font-light"> ClojureD<br>
                                    <span class="underline hover:text-pink-600 cursor-pointer	 transition ease-in duration-100 delay-100"> Reducing Accretion in Monoliths</span></p>
                            </div>
                    </div>
        
                        <div class="w-full ml-0 sm:ml-4 xl:ml-10">
                            <p class="text-black text-base leading-normal	md:text-xl lg:text-2xl  xl:text-3xl font-normal pb-10 w-full max-w-[46rem] w-full">Gojek is the uber + swiggy + dunzo + grofers of south-east Asia. It is operational in 4 countries, and impacts 10s of millions of customers, millions of drivers, and half a million merchants/restaurants. </p>
                            <div class="border-t-1 border-b-1 border-gray-200 py-10">
                                <p class="text-pink-500 text-base leading-normal	md:text-xl lg:text-2xl md:leading-snug font-light pb-4 md:pb-7">We have been working with Gojek since 2015, and on multiple products: </p>
                                <p class="text-black text-base leading-normal	md:text-xl lg:text-2xl md:leading-snug font-normal">   Allocation / match-making, and pooling <br>Food, and transport CMS, and OMS<br>Pricing<br>Experimentation, notiﬁcations, and bundles</p>
                            </div>
                            <div class="md:pt-12 md:pb-0 py-10">
                                <p class="text-black text-base leading-normal	md:text-xl lg:text-2xl md:leading-snug font-light pb-4 md:pb-7">Rewrote, and architected their central driver allocation system in a few months, with a generative testing suite.</p>
                                <p class="text-black text-base leading-normal	md:text-xl lg:text-2xl md:leading-snug font-light pb-4 md:pb-7"> Brought Clojure expertise to Gojek, trained multiple teams in Clojure, and continue to advise on language semantics.</p>
                                <p class="text-black text-base leading-normal	md:text-xl lg:text-2xl md:leading-snug font-light pb-4 md:pb-7"> Led, and supervised teams and product initiatives from the technical front, while working with product, business, ops, design, research, and data-science teams.</p>
                                <p class="text-black text-base leading-normal	md:text-xl lg:text-2xl md:leading-snug font-light pb-4 md:pb-7"> Established processes and practices around designing architectures, project management, and tech debt management.</p>
                                <p class="text-black text-base leading-normal	md:text-xl lg:text-2xl md:leading-snug font-light ">Engineered large scale, low-latency, stateful systems, and data pipelines for ML runtimes.</p>
                                
                            </div>
                            <div class="md:hidden block border-t-1 border-gray-200 pt-9">
                                <h6 class="font-normal text-gray-600 text-base leading-tight tracking-wider pb-8">talks</h6>
                                <p class="text-sm text-pink-500 leading-tight	 font-light pb-4">
                                    EuroClojure<br>
                                    <span class="underline hover:text-pink-600 cursor-pointer	 transition ease-in duration-100 delay-100">Moving people with Clojure</span></p>
                                <p class="text-sm text-pink-500 leading-tight	 font-light"> ClojureD<br>
                                    <span class="underline hover:text-pink-600 cursor-pointer	 transition ease-in duration-100 delay-100">Reducing Accretion in Monoliths</span></p>
                            </div>
                        </div>
        
                    </div>
        
                </div>
              </div>
              <div class="swiper-slide" data-hash="paytm-insider">
                <div class="py-10 md:py-16 lg:py-20 px-6 md:px-12 ">
                    <div class="flex flex-wrap sm:flex-nowrap">
                        <div class="flex flex-wrap">
                            <figure class="w-36	md:w-40 lg:w-48	md:ml-0 lg:ml-16 mb-10 sm:mb-0">
                                <img src="images/paytm-insider.png" alt="paytm-insider" class="w-full">
                            </figure>
                            <div class="hidden sm:block flex flex-col self-end	w-full">
                                <h6 class="font-normal text-gray-600 text-base leading-tight tracking-wider pb-10">talks</h6>
                                <p class="text-2xl md:text-xl	text-pink-500 leading-tight	 font-light pb-8">
                                    FnConf<br>
                                    <span class="underline hover:text-pink-600 cursor-pointer	 transition ease-in duration-100 delay-100">After the crash</span> </p>
                                <p class="text-2xl md:text-xl	text-pink-500 leading-tight	 font-light"> RootConf<br>
                                    <span class="underline hover:text-pink-600 cursor-pointer	 transition ease-in duration-100 delay-100">Scalable distributed systems in Elixir</span></p>
                            </div>
                    </div>
        
                        <div class="w-full ml-0 sm:ml-4 xl:ml-10">
                            <p class="text-black text-base leading-normal	md:text-xl lg:text-2xl  xl:text-3xl font-normal pb-10 w-full max-w-[46rem] w-full">PayTM Insider is India's largest online ticketing and events company. Insider approached nilenso with a concept for an entirely new business model: to bring their live events online.  </p>
                            <div class="border-t-1 border-b-1 border-gray-200 py-10">
                                <p class="text-black text-base leading-normal	md:text-xl lg:text-2xl md:leading-snug font-light text-black pb-4 md:pb-7">  <span class="text-pink-500"> We worked with Insider from 2018 to 2019 to build their live platform that hosts digital events, with the objective of</span> “Streaming interactive video to one million concurrent users”.</p>
                                <p class="text-black text-base leading-normal	md:text-xl lg:text-2xl md:leading-snug font-light text-black">     Even to begin with, this involved building a real-time quiz coupled with the event where hundreds of thousands of participants needed to see the questions at the exact same time. </p>
                            </div>
                            <div class="md:pt-12 md:pb-0 py-10">
                                <p class="text-black text-base leading-normal	md:text-xl lg:text-2xl md:leading-snug font-light pb-4 md:pb-7">Designed and implemented a fault-tolerant distributed system in Elixir, and Erlang's OTP tooling. And built video transcoding and streaming into the platform, using mimoLive and Wowza Cloud.</p>
                                <p class="text-black text-base leading-normal	md:text-xl lg:text-2xl md:leading-snug font-light pb-4 md:pb-7"> Built a Mob Simulator, that simulated concurrent users ordering in the hundreds of thousands, to load test the system.</p>
                                <p class="text-black text-base leading-normal	md:text-xl lg:text-2xl md:leading-snug font-light pb-4 md:pb-7"> Synchronised the quiz and video by stamping metadata onto the stream, self-identifying sync time, and compensated for server-side transcoding delays on mobile clients.</p>
                                <p class="text-black text-base leading-normal	md:text-xl lg:text-2xl md:leading-snug font-light pb-4 md:pb-7"> Built a dashboard to create the quiz, publish questions and answers to the massive live audience, and coordinate transitions from one question to the next.</p>
                                <p class="text-black text-base leading-normal	md:text-xl lg:text-2xl md:leading-snug font-light ">Transitioned to an in-house team over months, while coaching them on Elixir, and OTP as well.</p>
                                
                            </div>
                            <div class="md:hidden block border-t-1 border-gray-200 pt-9">
                                <h6 class="font-normal text-gray-600 text-base leading-tight tracking-wider pb-8">talks</h6>
                                <p class="text-sm text-pink-500 leading-tight	 font-light pb-4">
                                    FnConf<br>
                                    <span class="underline hover:text-pink-600 cursor-pointer	 transition ease-in duration-100 delay-100">After the crash</span> </p>
                                <p class="text-sm text-pink-500 leading-tight	 font-light"> RootConf<br>
                                    <span class="underline hover:text-pink-600 cursor-pointer	 transition ease-in duration-100 delay-100">Scalable distributed systems in Elixir</span></p>
                            </div>
                        </div>
        
                    </div>
        
                </div>
              </div>
              <div class="swiper-slide" data-hash="juspay">
                <div class="py-10 md:py-16 lg:py-20 px-6 md:px-12 ">
                    <div class="flex flex-wrap sm:flex-nowrap">
                        <div class="flex flex-wrap">
                            <figure class="w-36	md:w-40 lg:w-48	md:ml-0 lg:ml-16 mb-10 sm:mb-0">
                                <img src="images/juspay.png" alt="juspay" class="w-full">
                            </figure>
                            <div class="hidden sm:block flex flex-col self-end	w-full">
                                <h6 class="font-normal text-gray-600 text-base leading-tight tracking-wider pb-10">talks</h6>
                                <p class="text-2xl md:text-xl	text-pink-500 leading-tight	 font-light pb-8">
                                    FnConf<br>
                                    <span class="underline hover:text-pink-600 cursor-pointer	 transition ease-in duration-100 delay-100">After the crash</span> </p>
                                <p class="text-2xl md:text-xl	text-pink-500 leading-tight	 font-light"> RootConf<br>
                                    <span class="underline hover:text-pink-600 cursor-pointer	 transition ease-in duration-100 delay-100">Scalable distributed systems in Elixir</span></p>
                            </div>
                    </div>
        
                        <div class="w-full ml-0 sm:ml-4 xl:ml-10">
                            <p class="text-black text-base leading-normal	md:text-xl lg:text-2xl  xl:text-3xl font-normal pb-10 w-full max-w-[46rem] w-full"> Insider is India's largest online ticketing and events company. Insider approached nilenso with a concept for an entirely new business model: to bring their live events online.  </p>
                            <div class="border-t-1 border-b-1 border-gray-200 py-10">
                                <p class="text-black text-base leading-normal	md:text-xl lg:text-2xl md:leading-snug font-light text-black pb-4 md:pb-7">  <span class="text-pink-500"> We worked with Insider from 2018 to 2019 to build their live platform that hosts digital events, with the objective of</span> “Streaming interactive video to one million concurrent users”.</p>
                                <p class="text-black text-base leading-normal	md:text-xl lg:text-2xl md:leading-snug font-light text-black">     Even to begin with, this involved building a real-time quiz coupled with the event where hundreds of thousands of participants needed to see the questions at the exact same time. </p>
                            </div>
                            <div class="md:pt-12 md:pb-0 py-10">
                                <p class="text-black text-base leading-normal	md:text-xl lg:text-2xl md:leading-snug font-light pb-4 md:pb-7">Designed and implemented a fault-tolerant distributed system in Elixir, and Erlang's OTP tooling. And built video transcoding and streaming into the platform, using mimoLive and Wowza Cloud.</p>
                                <p class="text-black text-base leading-normal	md:text-xl lg:text-2xl md:leading-snug font-light pb-4 md:pb-7"> Built a Mob Simulator, that simulated concurrent users ordering in the hundreds of thousands, to load test the system.</p>
                                <p class="text-black text-base leading-normal	md:text-xl lg:text-2xl md:leading-snug font-light pb-4 md:pb-7"> Synchronised the quiz and video by stamping metadata onto the stream, self-identifying sync time, and compensated for server-side transcoding delays on mobile clients.</p>
                                <p class="text-black text-base leading-normal	md:text-xl lg:text-2xl md:leading-snug font-light pb-4 md:pb-7"> Built a dashboard to create the quiz, publish questions and answers to the massive live audience, and coordinate transitions from one question to the next.</p>
                                <p class="text-black text-base leading-normal	md:text-xl lg:text-2xl md:leading-snug font-light ">Transitioned to an in-house team over months, while coaching them on Elixir, and OTP as well.</p>
                                
                            </div>
                            <div class="md:hidden block border-t-1 border-gray-200 pt-9">
                                <h6 class="font-normal text-gray-600 text-base leading-tight tracking-wider pb-8">talks</h6>
                                <p class="text-sm text-pink-500 leading-tight	 font-light pb-4">
                                    FnConf<br>
                                    <span class="underline hover:text-pink-600 cursor-pointer	 transition ease-in duration-100 delay-100">After the crash</span> </p>
                                <p class="text-sm text-pink-500 leading-tight	 font-light"> RootConf<br>
                                    <span class="underline hover:text-pink-600 cursor-pointer	 transition ease-in duration-100 delay-100">Scalable distributed systems in Elixir</span></p>
                            </div>
                        </div>
        
                    </div>
        
                </div>
              </div>
              <div class="swiper-slide" data-hash="simple">
                <div class="py-10 md:py-16 lg:py-20 px-6 md:px-12 ">
                    <div class="flex flex-wrap sm:flex-nowrap">
                        <div class="flex flex-wrap">
                            <figure class="w-36	md:w-40 lg:w-48	md:ml-0 lg:ml-16 mb-10 sm:mb-0">
                                <img src="images/simple.png" alt="simple" class="w-full">
                            </figure>
                            <div class="hidden sm:block flex flex-col self-end	w-full">
                                <h6 class="font-normal text-gray-600 text-base leading-tight tracking-wider pb-10">talks</h6>
                                <p class="text-2xl md:text-xl	text-pink-500 leading-tight	 font-light pb-8">
                                    FnConf<br>
                                    <span class="underline hover:text-pink-600 cursor-pointer	 transition ease-in duration-100 delay-100">After the crash</span> </p>
                                <p class="text-2xl md:text-xl	text-pink-500 leading-tight	 font-light"> RootConf<br>
                                    <span class="underline hover:text-pink-600 cursor-pointer	 transition ease-in duration-100 delay-100">Scalable distributed systems in Elixir</span></p>
                            </div>
                    </div>
        
                        <div class="w-full ml-0 sm:ml-4 xl:ml-10">
                            <p class="text-black text-base leading-normal	md:text-xl lg:text-2xl  xl:text-3xl font-normal pb-10 w-full max-w-[46rem] w-full">PayTM Insider is India's largest online ticketing and events company. Insider approached nilenso with a concept for an entirely new business model: to bring their live events online.  </p>
                            <div class="border-t-1 border-b-1 border-gray-200 py-10">
                                <p class="text-black text-base leading-normal	md:text-xl lg:text-2xl md:leading-snug font-light text-black pb-4 md:pb-7">  <span class="text-pink-500"> We worked with Insider from 2018 to 2019 to build their live platform that hosts digital events, with the objective of</span> “Streaming interactive video to one million concurrent users”.</p>
                                <p class="text-black text-base leading-normal	md:text-xl lg:text-2xl md:leading-snug font-light text-black">     Even to begin with, this involved building a real-time quiz coupled with the event where hundreds of thousands of participants needed to see the questions at the exact same time. </p>
                            </div>
                            <div class="md:pt-12 md:pb-0 py-10">
                                <p class="text-black text-base leading-normal	md:text-xl lg:text-2xl md:leading-snug font-light pb-4 md:pb-7">Designed and implemented a fault-tolerant distributed system in Elixir, and Erlang's OTP tooling. And built video transcoding and streaming into the platform, using mimoLive and Wowza Cloud.</p>
                                <p class="text-black text-base leading-normal	md:text-xl lg:text-2xl md:leading-snug font-light pb-4 md:pb-7"> Built a Mob Simulator, that simulated concurrent users ordering in the hundreds of thousands, to load test the system.</p>
                                <p class="text-black text-base leading-normal	md:text-xl lg:text-2xl md:leading-snug font-light pb-4 md:pb-7"> Synchronised the quiz and video by stamping metadata onto the stream, self-identifying sync time, and compensated for server-side transcoding delays on mobile clients.</p>
                                <p class="text-black text-base leading-normal	md:text-xl lg:text-2xl md:leading-snug font-light pb-4 md:pb-7"> Built a dashboard to create the quiz, publish questions and answers to the massive live audience, and coordinate transitions from one question to the next.</p>
                                <p class="text-black text-base leading-normal	md:text-xl lg:text-2xl md:leading-snug font-light ">Transitioned to an in-house team over months, while coaching them on Elixir, and OTP as well.</p>
                                
                            </div>
                            <div class="md:hidden block border-t-1 border-gray-200 pt-9">
                                <h6 class="font-normal text-gray-600 text-base leading-tight tracking-wider pb-8">talks</h6>
                                <p class="text-sm text-pink-500 leading-tight	 font-light pb-4">
                                    FnConf<br>
                                    <span class="underline hover:text-pink-600 cursor-pointer	 transition ease-in duration-100 delay-100">After the crash</span> </p>
                                <p class="text-sm text-pink-500 leading-tight	 font-light"> RootConf<br>
                                    <span class="underline hover:text-pink-600 cursor-pointer	 transition ease-in duration-100 delay-100">Scalable distributed systems in Elixir</span></p>
                            </div>
                        </div>
        
                    </div>
        
                </div>
              </div>
              <div class="swiper-slide" data-hash="omnyway">
                <div class="py-10 md:py-16 lg:py-20 px-6 md:px-12 ">
                    <div class="flex flex-wrap sm:flex-nowrap">
                        <div class="flex flex-wrap">
                            <figure class="w-36	md:w-40 lg:w-48	md:ml-0 lg:ml-16 mb-10 sm:mb-0">
                                <img src="images/onmyway.png" alt="onmyway" class="w-full">
                            </figure>
                            <div class="hidden sm:block flex flex-col self-end	w-full">
                                <h6 class="font-normal text-gray-600 text-base leading-tight tracking-wider pb-10">talks</h6>
                                <p class="text-2xl md:text-xl	text-pink-500 leading-tight	 font-light pb-8">
                                    FnConf<br>
                                    <span class="underline hover:text-pink-600 cursor-pointer	 transition ease-in duration-100 delay-100">After the crash</span> </p>
                                <p class="text-2xl md:text-xl	text-pink-500 leading-tight	 font-light"> RootConf<br>
                                    <span class="underline hover:text-pink-600 cursor-pointer	 transition ease-in duration-100 delay-100">Scalable distributed systems in Elixir</span></p>
                            </div>
                    </div>
        
                        <div class="w-full ml-0 sm:ml-4 xl:ml-10">
                            <p class="text-black text-base leading-normal	md:text-xl lg:text-2xl  xl:text-3xl font-normal pb-10 w-full max-w-[46rem] w-full">PayTM Insider is India's largest online ticketing and events company. Insider approached nilenso with a concept for an entirely new business model: to bring their live events online.  </p>
                            <div class="border-t-1 border-b-1 border-gray-200 py-10">
                                <p class="text-black text-base leading-normal	md:text-xl lg:text-2xl md:leading-snug font-light text-black pb-4 md:pb-7">  <span class="text-pink-500"> We worked with Insider from 2018 to 2019 to build their live platform that hosts digital events, with the objective of</span> “Streaming interactive video to one million concurrent users”.</p>
                                <p class="text-black text-base leading-normal	md:text-xl lg:text-2xl md:leading-snug font-light text-black">     Even to begin with, this involved building a real-time quiz coupled with the event where hundreds of thousands of participants needed to see the questions at the exact same time. </p>
                            </div>
                            <div class="md:pt-12 md:pb-0 py-10">
                                <p class="text-black text-base leading-normal	md:text-xl lg:text-2xl md:leading-snug font-light pb-4 md:pb-7">Designed and implemented a fault-tolerant distributed system in Elixir, and Erlang's OTP tooling. And built video transcoding and streaming into the platform, using mimoLive and Wowza Cloud.</p>
                                <p class="text-black text-base leading-normal	md:text-xl lg:text-2xl md:leading-snug font-light pb-4 md:pb-7"> Built a Mob Simulator, that simulated concurrent users ordering in the hundreds of thousands, to load test the system.</p>
                                <p class="text-black text-base leading-normal	md:text-xl lg:text-2xl md:leading-snug font-light pb-4 md:pb-7"> Synchronised the quiz and video by stamping metadata onto the stream, self-identifying sync time, and compensated for server-side transcoding delays on mobile clients.</p>
                                <p class="text-black text-base leading-normal	md:text-xl lg:text-2xl md:leading-snug font-light pb-4 md:pb-7"> Built a dashboard to create the quiz, publish questions and answers to the massive live audience, and coordinate transitions from one question to the next.</p>
                                <p class="text-black text-base leading-normal	md:text-xl lg:text-2xl md:leading-snug font-light ">Transitioned to an in-house team over months, while coaching them on Elixir, and OTP as well.</p>
                                
                            </div>
                            <div class="md:hidden block border-t-1 border-gray-200 pt-9">
                                <h6 class="font-normal text-gray-600 text-base leading-tight tracking-wider pb-8">talks</h6>
                                <p class="text-sm text-pink-500 leading-tight	 font-light pb-4">
                                    FnConf<br>
                                    <span class="underline hover:text-pink-600 cursor-pointer	 transition ease-in duration-100 delay-100">After the crash</span> </p>
                                <p class="text-sm text-pink-500 leading-tight	 font-light"> RootConf<br>
                                    <span class="underline hover:text-pink-600 cursor-pointer	 transition ease-in duration-100 delay-100">Scalable distributed systems in Elixir</span></p>
                            </div>
                        </div>
        
                    </div>
        
                </div>
              </div>
               <div class="swiper-slide" data-hash="quintype">
                <div class="py-10 md:py-16 lg:py-20 px-6 md:px-12 ">
                    <div class="flex flex-wrap sm:flex-nowrap">
                        <div class="flex flex-wrap">
                            <figure class="w-36	md:w-40 lg:w-48	md:ml-0 lg:ml-16 mb-10 sm:mb-0">
                                <img src="images/quintype.png" alt="quintype" class="w-full">
                            </figure>
                            <div class="hidden sm:block flex flex-col self-end	w-full">
                                <h6 class="font-normal text-gray-600 text-base leading-tight tracking-wider pb-10">talks</h6>
                                <p class="text-2xl md:text-xl	text-pink-500 leading-tight	 font-light pb-8">
                                    FnConf<br>
                                    <span class="underline hover:text-pink-600 cursor-pointer	 transition ease-in duration-100 delay-100">After the crash</span> </p>
                                <p class="text-2xl md:text-xl	text-pink-500 leading-tight	 font-light"> RootConf<br>
                                    <span class="underline hover:text-pink-600 cursor-pointer	 transition ease-in duration-100 delay-100">Scalable distributed systems in Elixir</span></p>
                            </div>
                    </div>
        
                        <div class="w-full ml-0 sm:ml-4 xl:ml-10">
                            <p class="text-black text-base leading-normal	md:text-xl lg:text-2xl  xl:text-3xl font-normal pb-10 w-full max-w-[46rem] w-full">PayTM Insider is India's largest online ticketing and events company. Insider approached nilenso with a concept for an entirely new business model: to bring their live events online.  </p>
                            <div class="border-t-1 border-b-1 border-gray-200 py-10">
                                <p class="text-black text-base leading-normal	md:text-xl lg:text-2xl md:leading-snug font-light text-black pb-4 md:pb-7">  <span class="text-pink-500"> We worked with Insider from 2018 to 2019 to build their live platform that hosts digital events, with the objective of</span> “Streaming interactive video to one million concurrent users”.</p>
                                <p class="text-black text-base leading-normal	md:text-xl lg:text-2xl md:leading-snug font-light text-black">     Even to begin with, this involved building a real-time quiz coupled with the event where hundreds of thousands of participants needed to see the questions at the exact same time. </p>
                            </div>
                            <div class="md:pt-12 md:pb-0 py-10">
                                <p class="text-black text-base leading-normal	md:text-xl lg:text-2xl md:leading-snug font-light pb-4 md:pb-7">Designed and implemented a fault-tolerant distributed system in Elixir, and Erlang's OTP tooling. And built video transcoding and streaming into the platform, using mimoLive and Wowza Cloud.</p>
                                <p class="text-black text-base leading-normal	md:text-xl lg:text-2xl md:leading-snug font-light pb-4 md:pb-7"> Built a Mob Simulator, that simulated concurrent users ordering in the hundreds of thousands, to load test the system.</p>
                                <p class="text-black text-base leading-normal	md:text-xl lg:text-2xl md:leading-snug font-light pb-4 md:pb-7"> Synchronised the quiz and video by stamping metadata onto the stream, self-identifying sync time, and compensated for server-side transcoding delays on mobile clients.</p>
                                <p class="text-black text-base leading-normal	md:text-xl lg:text-2xl md:leading-snug font-light pb-4 md:pb-7"> Built a dashboard to create the quiz, publish questions and answers to the massive live audience, and coordinate transitions from one question to the next.</p>
                                <p class="text-black text-base leading-normal	md:text-xl lg:text-2xl md:leading-snug font-light ">Transitioned to an in-house team over months, while coaching them on Elixir, and OTP as well.</p>
                                
                            </div>
                            <div class="md:hidden block border-t-1 border-gray-200 pt-9">
                                <h6 class="font-normal text-gray-600 text-base leading-tight tracking-wider pb-8">talks</h6>
                                <p class="text-sm text-pink-500 leading-tight	 font-light pb-4">
                                    FnConf<br>
                                    <span class="underline hover:text-pink-600 cursor-pointer	 transition ease-in duration-100 delay-100">After the crash</span> </p>
                                <p class="text-sm text-pink-500 leading-tight	 font-light"> RootConf<br>
                                    <span class="underline hover:text-pink-600 cursor-pointer	 transition ease-in duration-100 delay-100">Scalable distributed systems in Elixir</span></p>
                            </div>
                        </div>
        
                    </div>
        
                </div>
               </div>
              <div class="swiper-slide" data-hash="staples">
                <div class="py-10 md:py-16 lg:py-20 px-6 md:px-12 ">
                    <div class="flex flex-wrap sm:flex-nowrap">
                        <div class="flex flex-wrap">
                            <figure class="w-36	md:w-40 lg:w-48	md:ml-0 lg:ml-16 mb-10 sm:mb-0">
                                <img src="images/staples.png" alt="staples" class="w-full">
                            </figure>
                            <div class="hidden sm:block flex flex-col self-end	w-full">
                                <h6 class="font-normal text-gray-600 text-base leading-tight tracking-wider pb-10">talks</h6>
                                <p class="text-2xl md:text-xl	text-pink-500 leading-tight	 font-light pb-8">
                                    FnConf<br>
                                    <span class="underline hover:text-pink-600 cursor-pointer	 transition ease-in duration-100 delay-100">After the crash</span> </p>
                                <p class="text-2xl md:text-xl	text-pink-500 leading-tight	 font-light"> RootConf<br>
                                    <span class="underline hover:text-pink-600 cursor-pointer	 transition ease-in duration-100 delay-100">Scalable distributed systems in Elixir</span></p>
                            </div>
                    </div>
        
                        <div class="w-full ml-0 sm:ml-4 xl:ml-10">
                            <p class="text-black text-base leading-normal	md:text-xl lg:text-2xl  xl:text-3xl font-normal pb-10 w-full max-w-[46rem] w-full">PayTM Insider is India's largest online ticketing and events company. Insider approached nilenso with a concept for an entirely new business model: to bring their live events online.  </p>
                            <div class="border-t-1 border-b-1 border-gray-200 py-10">
                                <p class="text-black text-base leading-normal	md:text-xl lg:text-2xl md:leading-snug font-light text-black pb-4 md:pb-7">  <span class="text-pink-500"> We worked with Insider from 2018 to 2019 to build their live platform that hosts digital events, with the objective of</span> “Streaming interactive video to one million concurrent users”.</p>
                                <p class="text-black text-base leading-normal	md:text-xl lg:text-2xl md:leading-snug font-light text-black">     Even to begin with, this involved building a real-time quiz coupled with the event where hundreds of thousands of participants needed to see the questions at the exact same time. </p>
                            </div>
                            <div class="md:pt-12 md:pb-0 py-10">
                                <p class="text-black text-base leading-normal	md:text-xl lg:text-2xl md:leading-snug font-light pb-4 md:pb-7">Designed and implemented a fault-tolerant distributed system in Elixir, and Erlang's OTP tooling. And built video transcoding and streaming into the platform, using mimoLive and Wowza Cloud.</p>
                                <p class="text-black text-base leading-normal	md:text-xl lg:text-2xl md:leading-snug font-light pb-4 md:pb-7"> Built a Mob Simulator, that simulated concurrent users ordering in the hundreds of thousands, to load test the system.</p>
                                <p class="text-black text-base leading-normal	md:text-xl lg:text-2xl md:leading-snug font-light pb-4 md:pb-7"> Synchronised the quiz and video by stamping metadata onto the stream, self-identifying sync time, and compensated for server-side transcoding delays on mobile clients.</p>
                                <p class="text-black text-base leading-normal	md:text-xl lg:text-2xl md:leading-snug font-light pb-4 md:pb-7"> Built a dashboard to create the quiz, publish questions and answers to the massive live audience, and coordinate transitions from one question to the next.</p>
                                <p class="text-black text-base leading-normal	md:text-xl lg:text-2xl md:leading-snug font-light ">Transitioned to an in-house team over months, while coaching them on Elixir, and OTP as well.</p>
                                
                            </div>
                            <div class="md:hidden block border-t-1 border-gray-200 pt-9">
                                <h6 class="font-normal text-gray-600 text-base leading-tight tracking-wider pb-8">talks</h6>
                                <p class="text-sm text-pink-500 leading-tight	 font-light pb-4">
                                    FnConf<br>
                                    <span class="underline hover:text-pink-600 cursor-pointer	 transition ease-in duration-100 delay-100">After the crash</span> </p>
                                <p class="text-sm text-pink-500 leading-tight	 font-light"> RootConf<br>
                                    <span class="underline hover:text-pink-600 cursor-pointer	 transition ease-in duration-100 delay-100">Scalable distributed systems in Elixir</span></p>
                            </div>
                        </div>
        
                    </div>
        
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="xl:py-24 md:py-16 py-10 md:px-12 border-t-1 border-gray-200 px-6">
            <h5 class="font-normal text-sm md:text-xl text-black leading-tight ">Want to know more? our open source is available <a href="https://github.com/nilenso" target="_blank" class="underline hover:text-pink-500 transition ease-in duration-100 delay-100">here</a></h5>
        </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.min.js"></script>
    <script>
        var tabs = document.querySelector('.tabs-buttons .swiper-wrapper');

var tabButtons = new Swiper('.tabs-buttons', {
  slidesPerView: '8',
  freeMode: true,
  hashNavigation: {
          watchState: true,
        },
        nextButton: '.swiper-button-next',
        prevButton: '.swiper-button-prev',
        paginationClickable: true,
          //hash navigation attributes
    
        breakpoints: {
            580: {
                slidesPerView: 3,
                spaceBetween: 10
            },
            991: {
                slidesPerView: 5,
                spaceBetween: 20
            },
            1024:{
                slidesPerView: 6,
                spaceBetween: 20
            }
        },
  // scrollbar: '.swiper-scrollbar',
  mousewheelControl: true,
  onTap: function(swiper, event) {
    if ( event.target.classList.contains('swiper-slide') && !event.target.classList.contains('active-tab') ) {
      event.target.parentElement.querySelector('.active-tab').classList.remove('active-tab');
      event.target.classList.add('active-tab');
      tabContent.slideTo(swiper.clickedIndex);
    }
  }
});

var tabContent = new Swiper('.tabs-content', {
    hashnav: true,
  onSlideChangeStart: function(swiper, event) {
    tabs.children[swiper.previousIndex].classList.remove('active','active-tab');
    tabs.children[swiper.activeIndex].classList.add('active','active-tab');
    tabButtons.slideTo(swiper.activeIndex);
  }
});
    </script>
{% endblock content %}
