{% extends "base.html" %}

{% block header %}
    <section class="bg-black py-10 md:py-16 lg:py-16 px-6 md:px-10 lg:px-9">
        <div>
            <h2 class="font-normal text-xl leading-snug md:text-4xl lg:lg:text-[2.8rem] lg:leading-snug text-white md:leading-tight">
                job post: intermediate developer.
            </h2>
            
            <p class="pt-6 lg:pt-10 text-pink-500 font-normal text-base lg:text-xl leading-normal md:leading-tight w-full max-w-[48rem] tracking-tight">
                if you share our interests, we want to hear from you; get in touch at
                <a href="mailto:careers@nilenso.com" class="underline hover:text-pink-300 transition ease-in duration-100 delay-100">
                careers@nilenso.com
                </a>
            </p>
        </div>
    </section>
{% endblock header %}
{% block content %}
    <section class="px-6 py-10 lg:py-20 md:px-12 md:py-16">
        <h6 class="font-normal text-gray-600 md:text-xl leading-tight tracking-wider pb-5 md:pb-8">
            Why join us?
        </h6>
        In a nutshell, we have a transparent work culture, offer challenging work, pay well, maintain work-life balance and are remote-friendly.
        <br>
        <br>
        <ul class="list-disc text-black text-base leading-normal lg:text-xl md:leading-snug font-normal pb-4 md:pb-7 pl-4 md:pl-7 space-y-2 md:space-y-4">
            <!-- TODO: Link "technical details" to our client case studies -->
            <li>
                Take-home salary for this role ranges from <b> 35 to 50 LPA. </b></li>
            <li>
                We are in a good position financially; have never had layoffs in the past 10 years since our inception; and even gave regular increments for FY 23-24, despite a weak global economic condition.</li>
            <li>
                We have owned challenging business outcomes at scale for fast moving start-ups like Gojek, Flipkart and many more.</li>
            <li>
                We believe in internal transparency and workplace democracy. Our salaries and annual reviews are open to everyone in the organization. We have no corporate secrets.</li>
            <li>
                Being a small closely-knit company makes forming life-long bonds easier, hence our average employment duration is 4+ years and attrition is super-low.</li>
            <li>
                We normalize working reasonable hours with breaks. We do not work weekends, have a no-questions-asked paid menstrual leave policy, and offer a 6-month paid-parental leave irrespective of gender.</li>
            <li> 
                We have a per employee co-working space budget & colocate and work together annually. </li>
        </li>
        
        <br>
        You can find all the perks of working at nilenso here.

        </ul>

        <h6 class="text-gray-600 text-l md:text-xl leading-tight tracking-wider pb-5 md:pb-8">
            you'd be a good fit if
        </h6>
        <ul class="list-disc text-black text-base leading-normal lg:text-xl md:leading-snug font-normal pb-4 md:pb-7 pl-4 md:pl-7 space-y-2 md:space-y-4">
            <li>
                You really care about quality of work as much as timely delivery.</li>
            <li>
                You have 3+ years of experience in developing & managing services, preferably at scale.</li>
            <li>
                You have a good grip on at least 1 programming language and tool among the following:
                <ul class="list-disc text-black text-base leading-normal lg:text-xl md:leading-snug font-normal md:pl-7 space-y-2 md:space-y-4"> <li> Clojure, Haskell, Elixir, Golang, Ruby, Python, Javascript, Java or similar languages for backend development. </li>
                <li>PostgreSQL/MySQL, Redis, Kafka, RabbitMQ or similar tools</li> </ul> </li>
            <li>
                You have owned major parts of a product’s lifecycle from ideation -> development -> production -> monitoring -> maintenance.</li>
            <li>You can reason about the systems you have built, the tech-choices you have made, its trade-offs and are comfortable to dig at least a layer deep to understand how things are working.</li>
            <li>You are comfortable ramping up on a new language or tool quickly, adapt to newer patterns to fit client requirements, and propose optimal solutions.</li>
            <li>You enjoy mentoring junior developers and doing pair-programming occasionally.</li>
            <li>You have good verbal and written communication skills.</li>
            <li>You are comfortable working with a distributed team remotely.</li>
        
        <br>
        Here are some FAQs on what it’s like to work with us; we’re happy to talk more about what this entails during the interview.
        </ul>
        <h6 class="font-normal text-gray-600 text-l md:text-xl leading-tight tracking-wider pb-5 md:pb-8">
            This is not the right role for you if…
        </h6>
        <ul class="list-disc text-black text-base leading-normal lg:text-xl md:leading-snug font-normal pb-4 md:pb-7 pl-4 md:pl-7 space-y-2 md:space-y-4">
            <li> You are looking for an exclusively managerial or leadership position.</li>
            <li> You are not passionate about programming on a daily basis.</li>
            <li> Your experience has been primarily in QA, Frontend, DevOps or Enterprise Java roles.</li>
            <li> You are not comfortable in a remote work environment.</li>
        </ul>
        <h6 class="font-normal text-gray-600 text-l md:text-xl leading-tight tracking-wider pb-5 md:pb-8">
            Our recruitment process
        </h6>
        <p class="text-black text-base"> We understand that time is of essence to everyone. You can expect the interviews to conclude in less than 2 weeks, and if all goes well you'll receive an offer letter within 2 business days of the final round.</p>            
        <ul class="list-disc text-black text-base leading-normal lg:text-xl md:leading-snug font-normal pb-4 md:pb-7 pl-4 md:pl-7 space-y-2 md:space-y-4">
            
            <br>
            <li> 30-minute Introductory call</li>
            <li> 2 hours Pair Programming</li>
            <li> 1.5 hours Technical interview round #1</li>
            <li> 1.5 hours Technical interview round #2</li>
            
        </ul>
    </section>

{% endblock content %}
