{% extends "base.html" %}

{% block header %}
<section class="bg-black py-10 md:py-16 lg:py-16 px-6 md:px-10 lg:px-9">
    <div>
        <h2
            class="font-normal text-xl leading-snug md:text-4xl lg:lg:text-[2.8rem] lg:leading-snug text-white md:leading-tight">
            job post: senior developer.
        </h2>
    </div>
</section>
{% endblock header %}
{% block content %}
<section class="px-6 py-10 lg:py-20 md:px-12 md:py-16">
    <p
        class="pt-1 font-normal text-base lg:text-2xl leading-normal md:leading-tight w-full max-w-[48rem] tracking-tight">
        Thank you for considering a career at nilenso.<br><strong>Currently, we do not have any open positions.</strong>

        <br><br>
        Do keep an eye on this page and feel free to apply to us when positions open up.<br>
        You may read about our
        <a href="/perks" class="underline hover:text-pink-300 transition ease-in duration-100 delay-100">perks</a> or
        <a href="https://blog.nilenso.com/blog/2022/08/07/everyday-recipes-for-cooking-noobs/"
        class="underline hover:text-pink-300 transition ease-in duration-100 delay-100">a couple of recipes</a> from
        ensonians in the meantime.
    </p>
</section>

{% endblock content %}
