{% extends "base.html" %}

{% block header %}
<section class="bg-black py-10 md:py-16 lg:py-16 px-6 md:px-10 lg:px-9">
    <div>
        <h2
            class="font-normal text-xl leading-snug md:text-4xl lg:lg:text-[2.8rem] lg:leading-snug text-white md:leading-tight">
            <span class="text-pink-500">job post:</span> senior developer.
        </h2>
    </div>
</section>
{% endblock header %}
{% block content %}
<section class="px-6 md:px-9 py-10 md:py-12 md:pb-8">
    <p
        class="font-normal text-base lg:text-xl leading-normal md:leading-tight w-full max-w-[48rem] tracking-tight">
        nilenso is an employee-owned co-operative software consultancy based in India and Canada. At nilenso, we have
        struck the perfect balance between the financial security and stability that a large company offers, and the
        community and well being that comes with being a small organization where everyone knows your name.
    </p>
    <br>
    <h1 class="">
        Why join us?
    </h1>
    <p
        class="mt-2 font-normal text-base lg:text-xl leading-normal md:leading-tight w-full max-w-[48rem] tracking-tight mb-0 pb-0">
        In a nutshell, we have a transparent work culture, offer challenging work, pay well, maintain work-life balance
        and are remote-friendly.
    </p>
    <ul
        class="mt-2 pt-1 list-disc text-black text-base leading-normal lg:text-xl md:leading-snug font-normal pl-4 md:pl-7 space-y-2 md:space-y-4">
        <li>
            We have owned challenging business outcomes at scale for fast moving start-ups like Gojek, Flipkart and
            <a href="https://nilenso.com/work/"
                class="underline hover:text-pink-300 transition ease-in duration-100 delay-100">many
                more</a>.
        </li>
        <li>
            We believe in internal transparency and workplace democracy. Our salaries and annual reviews are open to
            everyone in the organization. We have no corporate secrets.</li>
        <li>
            Being a small closely-knit company makes forming life-long bonds easier, hence our average employment
            duration is around 4 years and attrition is super-low.</li>
        <li>
            We normalize working reasonable hours with breaks. Except to deal with the odd production issue, we don't
            work late evenings or on weekends. We have a no-questions-asked
            paid menstrual leave policy, and offer a 6-month paid-parental leave irrespective of gender.</li>
        <li>
            We are in a good position financially; have never had layoffs in the past 10 years since our inception;
            and even gave regular increments for FY 23-24, despite a weak global economic condition.</li>
        <li>
            We have a per employee co-working space budget & colocate and work together annually. </li>
        </li>
    </ul>
    <p
        class="mt-4 font-normal text-base lg:text-xl leading-normal md:leading-tight w-full max-w-[48rem] tracking-tight">
        You can find all the <a href="https://nilenso.com/perks/"
            class="underline hover:text-pink-300 transition ease-in duration-100 delay-100">perks of being an Ensonian
            here</a>.
    </p>
    <br>
    <h1 class="">
        You'd be a good fit if
    </h1>
    <ul
        class="mt-2 pt-1 list-disc text-black text-base leading-normal lg:text-xl md:leading-snug font-normal pl-4 md:pl-7 space-y-2 md:space-y-4">
        <li>
            You really care about quality of work as much as timely delivery.</li>
        <li>
            You have 5+ years of experience in developing & managing services, preferably at scale.</li>
        <li>
            You have a first principles approach to problem-solving, and can reason about systems holistically, taking
            into account maintainability, speed of delivery, and performance goals.</li>
        <li>
            You have an in-depth knowledge of at least 1 programming language, have shipped production code on multiple
            languages, and an understanding of the tools in the backend web development ecosystem, including but not
            limited to the following:
            <ul
                class="mt-3 list-disc list-inside text-black text-base leading-normal lg:text-xl md:leading-snug font-normalmd:pb-0 pl-4 md:pl-7 space-y-2 md:space-y-4 mb-0 pb-0">
                <li> Clojure, Haskell, Elixir, Golang, Ruby, Python, Javascript, Java or similar languages for backend
                    development.</li>
                <li>PostgreSQL/MySQL, Redis, Kafka, RabbitMQ, Elasticsearch, MongoDB or similar tools.</li>
            </ul>
        </li>
        <li> You have experience profiling your application, refactoring and resolving tech debt, understanding
            compilers, optimizing your code, debugging and tackling production issues.</li>
        <li>You are comfortable ramping up on a new language or tool quickly, adapt to newer patterns to fit client
            requirements, and propose optimal solutions.</li>
        <li>You have good verbal and written communication skills required for leading a team and communicating with
            stakeholders.</li>
        <li>You enjoy mentoring junior developers and doing pair-programming occasionally.</li>
        <li>You are interested in working with us on running the company.</li>
        <li>You are comfortable working with a distributed team remotely.</li>
    </ul>
    <p
        class="mt-4 font-normal text-base lg:text-xl leading-normal md:leading-tight w-full max-w-[48rem] tracking-tight">
        Here are some <a
            href="https://vyakaran.nilenso.com/career/faqs#how-are-company-responsibilities-shared-at-nilenso"
            class="underline hover:text-pink-300 transition ease-in duration-100 delay-100">FAQs</a> on what it’s like
        to work
        with us; we’re happy to talk more about what this entails
        during
        the interview.
    </p>
    <br>
    <h1 class="">
        This is not the right role for you if
    </h1>
    <ul
        class="mt-2 pt-1 list-disc text-black text-base leading-normal lg:text-xl md:leading-snug font-normal pl-4 md:pl-7 space-y-2 md:space-y-4">
        <li> You are looking for an exclusively managerial or leadership position.</li>
        <li>You don’t look forward to spending some of your time mentoring junior folks.</li>
        <li> You are not passionate about programming on a daily basis.</li>
        <li> Your experience has been primarily in Frontend, DevOps, QA or Enterprise Java roles.</li>
        <li> You are not comfortable in a remote work environment.</li>
    </ul>
    <br>
    <h1 class="">
        Our recruitment process
    </h1>
    <p
        class="mt-2 font-normal text-base lg:text-xl leading-normal md:leading-tight w-full max-w-[48rem] tracking-tight mb-0 pb-0">
        We understand that time is of essence to everyone. You can expect the
        interviews to
        conclude in less than 2 weeks, and if all goes well you'll receive an offer letter within 2 business days of
        the
        final round.
    </p>
    <ul
        class="mt-2 pt-1 list-disc text-black text-base leading-normal lg:text-xl md:leading-snug font-normal pl-4 md:pl-7 space-y-2 md:space-y-4">
        <li> 30-minute Introductory call</li>
        <li> 2 hours Pair Programming</li>
        <li> 1h 45m Technical interview round #1</li>
        <li> 1h 45m Technical interview round #2</li>
        <li> 45m Soft skills round</li>
    </ul>
    <br><br>
</section>

{% endblock content %}
