{% extends "base.html" %}

{% block header %}
    <section class="bg-black py-10 md:py-16 lg:py-20 px-6 md:px-10 lg:px-12">
        <div>
            <h2 class="font-light text-xl leading-snug md:text-4xl lg:lg:text-[3.5rem] lg:leading-snug text-white md:leading-tight">
                job post: senior developer.
            </h2>
            <p class="pt-6 lg:pt-10 text-pink-500 font-light text-base md:text-xl lg:text-2xl leading-normal md:leading-tight w-full max-w-[48rem] tracking-tight">
                if you share our interests, we want to hear from you; get in touch at
                <a href="mailto:careers@nilenso.com" class="underline hover:text-pink-300 transition ease-in duration-100 delay-100">
                careers@nilenso.com
                </a>
            </p>
        </div>
    </section>
{% endblock header %}
{% block content %}
    <section class="px-6 py-10 lg:py-20 md:px-12 md:py-16">
        <h6 class="font-normal text-gray-600 text-base leading-tight tracking-wider pb-9 md:pb-8">about nilenso</h6>
        <p class="text-black text-base leading-normal md:text-xl lg:text-2xl md:leading-snug font-light pb-4 md:pb-7">
            We are an 8 year old boutique technology consulting firm. We care about the impact that we make in the world. As an employee-owned cooperative,
            we all are stakeholders in how nilenso is run and can prioritise employee happiness: we don’t need to justify how happy employees impact the
            bottom line. We’re currently a fully remote team of friendly people across India with one member in Canada, and are hiring folks based in
            either of these geographies.
        </p>
        <p class="text-black text-base leading-normal md:text-xl lg:text-2xl md:leading-snug font-light pb-4 md:pb-7">
            Check out our <a href="/">website</a> and <a href="https://vyakaran.nilenso.com">handbook</a> to learn more about us.
        </p>

        <h6 class="font-normal text-gray-600 text-base leading-tight tracking-wider pb-9 md:pb-8">
            our work
        </h6>
        <ul class="list-disc text-black text-base leading-normal md:text-xl lg:text-2xl md:leading-snug font-light pb-4 md:pb-7 pl-4 md:pl-7 space-y-2 md:space-y-4">
            <!-- TODO: Link "technical details" to our client case studies -->
            <li>
                We want to work on hard technical problems, and have a track record of doing deeply technical work. We have designed, built, and delivered
                complex, distributed, scalable backend systems for the web that have stood the test of time. You can read about some of our
                <a href="https://github.com/nilenso/media/blob/master/presentations/generic-client-deck/nilenso-deck.pdf">projects</a>, their
                <a>technical details</a>, and check out the <a href="/conference-talks/">talks</a> we’ve given to know more.
            </li>
            <li>
                We are product engineers. We collaborate with business, product, data science, design and other engineering teams to figure out the whys,
                whats and hows of product. We understand trade-offs.
            </li>
            <li>
                We build teams. We make incremental improvements to processes, upskill the people we work with, maintain open lines of communication, and
                build long lasting client relationships.
            </li>
            <li>
                We create high level designs, write down <a href="https://www.cognitect.com/blog/2011/11/15/documenting-architecture-decisions">architecture decisions</a>
                / tech specs / <a href="https://en.wikipedia.org/wiki/Product_requirements_document">product specs</a> where necessary, break them down into user
                stories, pair on building and writing tests, take things into production, and iterate.
            </li>
            <li>
                We have written production code in Clojure/ClojureScript, Haskell, Elixir, Ruby/Rails, Python, Go, and Javascript, and are partial to
                a functional approach to programming.
            </li>
            <li>
                While every project is a little different, all our engineers, regardless of seniority, ship code, and are responsible for keeping it
                running in production.
            </li>
        </ul>

        <h6 class="font-normal text-gray-600 text-base leading-tight tracking-wider pb-9 md:pb-8">
            we think you'd be a good fit if
        </h6>
        <ul class="list-disc text-black text-base leading-normal md:text-xl lg:text-2xl md:leading-snug font-light pb-4 md:pb-7 pl-4 md:pl-7 space-y-2 md:space-y-4">
            <li>
                Everything you’ve read so far resonates with you, including running a company like nilenso. Here are some <a href="https://vyakaran.nilenso.com/career/faqs#how-are-company-responsibilities-shared-at-nilenso">faqs</a>
                on what it’s like to work with us; we’re happy to talk more about what this entails during the interview.
            </li>
            <li>
                You have one or two programming languages under your belt that you are very comfortable in. You can reflect on the language runtime,
                developer ecosystem, choice of libraries, and quality of code and tests.
            </li>
            <li>
                You can reason about systems holistically, taking into account maintainability, speed of delivery, and performance goals.
            </li>
            <li>
                You are comfortable ramping up on unfamiliar tech stacks, digging into legacy codebases, identifying the good, bad and ugly parts of a
                codebase and making improvements incrementally.
            </li>
            <li>You have mentored folks either formally through training or informally, while working with them.</li>
        </ul>


        <h6 class="font-normal text-gray-600 text-base leading-tight tracking-wider pb-9 md:pb-8">
            why join us?
        </h6>
        <ul class="list-disc text-black text-base leading-normal md:text-xl lg:text-2xl md:leading-snug font-light pb-4 md:pb-7 pl-4 md:pl-7 space-y-2 md:space-y-4">
            <li>
                You get to work on <a href="https://github.com/nilenso/media/blob/master/presentations/generic-client-deck/nilenso-deck.pdf">interesting and impactful projects</a>
                across varied domains, through which you’re able to pursue your interests.
            </li>
<!--            TODO: Link to the new blog-->
            <li>
                You will be able to <a href="https://blog.nilenso.com/blog/2017/04/06/black-mirror-or-a-review-of-the-review-process-at/">grow in the direction you want</a>,
                rather than conform to a rigid growth rubric.
            </li>
            <li>
                You get to work with people who are kind, smart, and care about doing things the “right way”, while learning and improving constantly.
                We're also fully transparent and are constantly working on people centric policies.
            </li>
            <li>
                You get to see and participate in the challenges of the business, and get creative about solving them. All while having the stability and security
                of a large company.
            </li>
            <li>
                This combination of working on interesting things, with the right people, in the right setting often results in accelerated career growth,
                satisfaction at work, and a good balance of life and work.
            </li>
        </ul>

        <h6 class="font-normal text-gray-600 text-base leading-tight tracking-wider pb-9 md:pb-8">
            essentials and perks
        </h6>
        <ul class="list-disc text-black text-base leading-normal md:text-xl lg:text-2xl md:leading-snug font-light pb-4 md:pb-7 pl-4 md:pl-7 space-y-2 md:space-y-4">
            <li>
                Comfortable <a href="https://vyakaran.nilenso.com/office/workstation">home office</a>, including a laptop (currently the Apple M1 or Dell Precision 5550
                but we’re happy to accommodate preferences), full workstation and any software licenses you need.
            </li>
            <li>
                Flexible <a href="https://vyakaran.nilenso.com/policy/expense-account">expense account</a> to buy any books (that you can’t find in our library),
                courses or tickets to conferences you’d like to attend.
            </li>
            <li>
                Open salaries, finances, and reviews.
            </li>
            <li>
                Generous <a href="https://vyakaran.nilenso.com/policy/leaves">leave policy</a>, including a no questions asked paid menstrual leave policy.
            </li>
            <li>
                Full <a href="https://vyakaran.nilenso.com/health-and-safety/medical-insurance">physical and mental health insurance cover</a> for your family.
            </li>
        </ul>
    </section>

    <section class="xl:py-24 md:py-16 py-10 md:px-12 border-t border-gray-200 px-6">
        <h5 class="font-normal text-sm md:text-xl text-black leading-tight w-full md:max-w-[46rem]">
            Read more about the essentials and decisions
            <a href="/jobs/more" class="underline hover:text-pink-500 transition ease-in duration-100 delay-100">here</a>.
        </h5>
    </section>
{% endblock content %}
