---
title: Fundamentals
---

<section class="container work">
  <ul class="breadcrumbs">
    <li class="breadcrumb"><a href="index.html">Home</a></li> <i class="fas fa-chevron-right"></i>
    <li class="breadcrumb">Business Decision Records</li>
  </ul>

  <div class="hero">
    <div class="hero-content">
      <h1 class="heading">Decisions</h1>
      <p class="byline">
        The decision points for high-level strategy, policy, and company principles. Checkout <a
          href="">Fundamentals</a>
      </p>
    </div>
    <img id="home-hero-illustration" class="hero-illustration" src="img/home-hero-illustration.svg" alt="">
  </div>

  <div class="exclusive-section featured">
    <h2>What are "Business Decision Records"?</h2>
    <p>
      Business Decision Records (BDRs) are documents written to capture significant strategic decisions,
      in the style of software architecture decision records. We have found ADRs to be very useful to
      retrospect and introspect on our software projects. BDRs are an attempt to bring that utility to the
      arc of our business.
    </p>
  </div>

  <div class="">
    <h2 class="section-heading">Our BDRs</h2>
    <p class="section-byline">Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
    <div class="section-content flex-column">
      <p>
        First and foremost, they are immutable. Once a BDR is written, it cannot be modified or removed.
        To alter or "undo" a BDR, nilenso must create another new, immutable BDR. Second, they are
        historical. Because BDRs cannot be modified, they do not represent a policy and they are not a
        living document. They may of course point to a policy or living document which represents the
        most current version of the decision.
      </p>
      <p>
        BDRs are used to identify decision points for high-level strategy, policy, and company
        principles. They should not be used to describe or document specific actions the company or its
        employees take.
      </p>
      <div class="all-decisions">
        <ol class="decisions units">
          <li class="decision unit">
            nilenso is "nilenso"
          </li>
          <li class="decision unit">
            nilenso is a co-operative
          </li>
          <li class="decision unit">
            nilenso is a democracy
          </li>
          <li class="decision unit">
            Incorporated as an LLP
          </li>
          <li class="decision unit">
            Try new things
          </li>
          <li class="decision unit">
            nilenso is international
          </li>
          <li class="decision unit">
            Uses the best tools
          </li>
          <li class="decision unit">
            Run experiments
          </li>
          <li class="decision unit">
            Solve difficult problems
          </li>
        </ol>
        <ol class="decisions tens">
          <label for=""></label>
          <li class="decision ten">
            Do progressive work
          </li>
          <li class="decision ten">
            Prefer "open"
          </li>
          <li class="decision ten">
            Keep no secrets
          </li>
          <li class="decision ten">
            Prefer transparency
          </li>
          <li class="decision ten">
            Provide menstrual leave
          </li>
          <li class="decision ten">
            Provide annual reviews
          </li>
          <li class="decision ten">
            Match clarity and donations
          </li>
          <li class="decision ten">
            Provide (cautious) sabbaticals
          </li>
          <li class="decision ten highlight">
            nilenso will use business decision records
          </li>
        </ol>
      </div>
    </div>
  </div>

  <ul class="paginations">
    <li class="pagination">
      <h4 class="pagination-heading"><i class="fad fa-podium-star"></i>Conference Talks</h4>
      <p>Check our talks on recent technology and work we have done</p>
      <a href="" class="pagination-link">Read more <i class="fas fa-long-arrow-alt-right"></i></a>
    </li>
    <li class="pagination">
      <h4 class="pagination-heading"><i class="fad fa-users-crown"></i>Team</h4>
      <p>Our masterminds behind all successful projects</p>
      <a href="" class="pagination-link">Read more <i class="fas fa-long-arrow-alt-right"></i></a>
    </li>
  </ul>
</section>
