---
title: Careers
---
<div class="bordered-section">
  <h2 class="section-heading">We'd love to work with you</h2>
  <p class="section-content">
    We're passionate, curious folks looking to work with passionate, curious folks.
  </p>
</div>

<div class="bordered-section">
  <h2 class="section-heading">What we care about</h2>
  <div class="section-content">
    <ul>
      <li>Freedom, transparency and respect</li>
      <li>Growing individually and collectively</li>
      <li>Making a meaningful contribution</li>
      <li>Building relationships</li>
    </ul>
  </div>
</div>

<div class="bordered-section">
  <h2 class="section-heading">What we work on</h2>
  <p class="section-content">
    We write Clojure / ClojureScript, Elixir, Go with a dash of Haskell
    /PureScript, Javascript, Java and Ruby / Rails, in the places those languages make sense.
  </p>

  <p class="section-content">
    We've spent significant time scaling and squeezing runtime performance out of Postgres and
    analytics performance out of HBase and Redshift.
  </p>

  <p class="section-content">
    Most of our code is on the backend, and it makes a lot of sense to us to write backend code in a
    LISP on the JVM, but we're not wedded to it. "Best tool for the job" applies at nilenso -- but
    the "best" tool needs to be quantified with facts. We love facts. We might be knee-deep in Swift
    or Rust or C (who knows) next year and we're looking for other open-minded developers to share
    their excitement with us.
  </p>
</div>

<div class="bordered-section">
  <h2 class="section-heading">Essentials</h2>
  <p class="section-content">
    We'll give you all the standard stuff to get your job done: a full workstation and a laptop of
    your choice (most of us have 15" MacBook Pros but we don't discriminate). We'll get you software
    licenses and a 4G data dongle if you need to work from the train.
  </p>

  <p class="section-content">
    An extensive library (buy any book you want, no questions asked) and frequent conference
    attendance (whether that’s a bicycle ride to Jayanagar or a flight halfway around the world) act
    as our baseline. In the last few years, we sponsored and attended a ton of conferences all over
    the world: IN/Clojure, Clojure/conj, Euroclojure, Clojure/West, StrangeLoop, Functional Conf,
    FOSSMeet, RubyConf India, JSFoo, rootconf, RubyConf San Diego, React Conf SF, GCRC, Fifth
    Elephant, and probably one or two we've forgotten. We took the lead in organizing IN/Clojure
    (the only Clojure conference in Asia) two years running.
  </p>
</div>

<div class="bordered-section">
  <h2 class="section-heading">Perks and policies</h2>
  <p class="section-content">
    Work aside, healthy lunch is served in the office every day. In addition, there’s masala chai,
    degree coffee and nimbu pani for those afternoons when nothing else will do. Someone wanted
    Aeropress, so we got one of those too. We’ve always had cut fruit (better for you than deep
    fried basura) to munch on. The pantry is stocked with biscuits and soft drinks, bread and maggi.
    We head out as a team every week, and on company retreats a few times a year.
  </p>

  <p class="section-content">
    We know that not everyone can or wants to work from our office in Bangalore. As of 2019, we have
    two fully remote employees on staff, and plan to hire more.
  </p>

  <p class="section-content">
    A more comprehensive list of our company policies are outlined
    <a href="https://blog.nilenso.com/blog/2017/02/14/nilenso-policies-by-the-people-for-the-people/">
      here
    </a>.
  </p>

  <p class="section-content">
    If there's a way we can make the office more comfortable or fun, we'll do it. If we can help you
    with something else, just ask. We'll try.
  </p>
</div>

<div class="bordered-section">
  <h2 class="section-heading">We ♥</h2>
  <div class="flex-row section-content">
    <ul>
      <li>Knitting</li>
      <li>Rock climbing</li>
      <li>Cycling</li>
      <li>Motorcycling</li>
      <li>Human languages</li>
      <li>Composting</li>
    </ul>

    <ul>
      <li>Board games</li>
      <li>Video games</li>
      <li>Anime</li>
      <li>Blue Planet</li>
      <li>Netflix</li>
      <li>Traveling</li>
    </ul>
  </div>
</div>

<div class="bordered-section">
  <h2 class="section-heading">We're not fans of</h2>
  <div class="flex-row section-content">
    <ul>
      <li>Giving 120%</li>
      <li>Working weekends</li>
    </ul>

    <ul>
      <li>Opaque decision making</li>
      <li>Noisy open offices</li>
    </ul>
  </div>
</div>

<div class="bordered-section">
  <h2 class="section-heading">More about us</h2>

  <p class="section-content">
    nilenso is an employee-owned technology cooperative in Bangalore.
  </p>

  <div class="section-content">
    What this means for you:
    <ul>
      <li>We are a completely transparent organisation that believes in self governance. Being a
        part of nilenso means that there are no corporate secrets: we go out of our way to inform
        everyone in the company of our financial position, salaries and future plans.
      </li>
      <li>Everyone in the company has authority and autonomy. Everyone with authority is responsible
        for how they wield it.
      </li>
    </ul>
  </div>
</div>

<div class="bordered-section">
  <h2 class="section-heading">Get in touch</h2>
  <p class="section-content">
    E-mail us at
    <a class="email-link" href="mailto:careers@nilenso.com">careers@nilenso.com</a>!
  </p>
</div>

<div class="footer">
  <div class="section-content contact-info">
    <p class="contact-phone-number">
      <a class="contact-link email-link" href="mailto:hello@nilenso.com">hello@nilenso.com</a>
      <a class="contact-link contact-social-link" href="http://twitter.com/nilenso">@nilenso</a>
      <a class="contact-link contact-social-link" href="http://github.com/nilenso">github.com/nilenso</a>
      <a class="contact-link" href="tel:+918040937123">+91 80 4093 7123</a>
    </p>
    <p class="contact-address">Nilenso Software LLP, #105, 10th Cross, Indiranagar Stage 1,
      Bangalore, India, 560038</p>
  </div>
</div>
