---
title: Clojure Workshop
---
<div class="bordered-section">
  <h2 class="section-heading">Clojure Workshop</h2>

  <div class="section-content">
    <h4 class="sub-section-heading">Registration</h4>
    <a href="http://nilenso-clojure-workshop.doattend.com" target="_blank">nilenso-clojure-workshop.doattend.com</a>
  </div>

  <div class="section-content">
    <h4 class="sub-section-heading">Motive</h4>
    Over the last 3 years at nilenso, most of our work has been in Clojure. We've given talks about our work, built a few open source projects with it, and watched the changes in the language and ecosystem closely. This has been quite the learning and delivering experience, but this now opens to us, a better opportunity to learn.  An opportunity to learn Clojure by teaching it. We've helped people at nilenso pick up Clojure quickly, and now we feel equipped to help more people do the same.
  </div>

  <div class="section-content">
    <h4 class="sub-section-heading">Objective</h4>
    The workshop will strive to give a solid, and hands-on introduction to Clojure in a weekend's time. This will be sufficient to get you started on say, a side-project, and enable you to read most Clojure code out there. You'd need to learn and write a lot more Clojure to get proficient in it; this workshop won't get you that far. But it will definitely give you a jumpstart in that process.
  </div>

  <div class="section-content">
    <h4 class="sub-section-heading">Content</h4>
    The contents and FAQs are detailed in the <a href="https://github.com/nilenso/clojure-workshop/">github repo</a> for the workshop, but very briefly, we'll learn about:
    <ol class="workshop-contents">
      <li> Numerics, Symbols, Keywords, Vars, Booleans, Bindings </li>
      <li> Clojure's persistent data structures </li>
      <li> Working with Libraries </li>
      <li> Practical Modeling </li>
      <li> Java Interop </li>
      <li> Concurrency and Parallelism </li>
      <li> Macros </li>
    </ol>
  </div>

  <div class="section-content">
    Feel free to write to us at <a class="contact-link email-link" href="mailto:moshimoshi@nilenso.com">moshimoshi@nilenso.com</a> if you have any questions, or need more information.
  </div>
</div>

<div class="footer">
  <div class="section-content contact-info">
    <p class="contact-phone-number">
      <a class="contact-link email-link" href="mailto:hello@nilenso.com">hello@nilenso.com</a>
      <a class="contact-link contact-social-link" href="http://twitter.com/nilenso">@nilenso</a>
      <a class="contact-link contact-social-link" href="http://github.com/nilenso">github.com/nilenso</a>
      <a class="contact-link" href="tel:+918040937123">+91 80 4093 7123</a>
     </p>
    <p class="contact-address">Nilenso Software LLP, #105, 10th Cross, Indiranagar Stage 1, Bangalore, India, 560038</p>
  </div>
</div>
