---
title: Clojure Workshop
---
<div class="bordered-section">
  <h2 class="section-heading">Clojure Workshop</h2>

  <div class="section-content">
    <h4 class="sub-section-heading">When & Where?</h4>
    From 9:30am to 4:00pm on 23-06-2016, and 24-06-2016. <br/>
    At the <a target="_blank" href="https://www.google.com/maps/place/Nilenso+Software/@12.981954,77.638743,17z/data=!3m1!4b1!4m2!3m1!1s0x3bae16bb228baf85:0xf43ad1d3efbc4a17">nilenso office</a>. <br/>
    Lunch and snacks are on us. <br/>
    Register here: <a href="http://nilenso-clojure-workshop.doattend.com" target="_blank">nilenso-clojure-workshop.doattend.com</a>.
  </div>

  <div class="section-content">
    <h4 class="sub-section-heading">What?</h4>
    The workshop will give a solid, and hands-on introduction to Clojure in a weekend's time. The contents and FAQs are detailed in the <a href="https://github.com/nilenso/clojure-workshop/">github repo</a> for the workshop, but very briefly, we'll learn about:
    <ol class="workshop-contents">
      <li> Numerics, Symbols, Keywords, Vars, Booleans, Bindings </li>
      <li> Clojure's persistent data structures </li>
      <li> Working with Libraries </li>
      <li> Practical Modeling </li>
      <li> Java Interop </li>
      <li> Concurrency and Parallelism </li>
      <li> Macros </li>
    </ol>
  </div>

  <div class="section-content">
    <h4 class="sub-section-heading">Why?</h4>
    Over the last 3 years at nilenso, most of our work has been in Clojure. We've built real time systems satisfying sub millisecond SLAs, multiple analytics platforms, data pipelines, and monitoring systems. We've given <a href="./talks.html">talks</a> about our work, built a few <a href="http://github.com/nilenso">open source projects</a>, and watched the changes in the language and ecosystem closely. We've helped people at nilenso pick up Clojure quickly, and now we want to help more people do the same.
  </div>


  <div class="section-content">
    Feel free to write to us at <a class="contact-link email-link" href="mailto:moshimoshi@nilenso.com">moshimoshi@nilenso.com</a> if you have any questions, or need more information.
  </div>
</div>

<div class="footer">
  <div class="section-content contact-info">
    <p class="contact-phone-number">
      <a class="contact-link email-link" href="mailto:hello@nilenso.com">hello@nilenso.com</a>
      <a class="contact-link contact-social-link" href="http://twitter.com/nilenso">@nilenso</a>
      <a class="contact-link contact-social-link" href="http://github.com/nilenso">github.com/nilenso</a>
      <a class="contact-link" href="tel:+918040937123">+91 80 4093 7123</a>
     </p>
    <p class="contact-address">Nilenso Software LLP, #105, 10th Cross, Indiranagar Stage 1, Bangalore, India, 560038</p>
  </div>
</div>
