---
title: Fundamentals
---

<div class="container work">
  <ul class="breadcrumbs">
    <li class="breadcrumb"><a href="index.html">Home</a></li> <i class="fas fa-chevron-right"></i>
    <li class="breadcrumb">Fundamentals</li>
  </ul>

  <div class="hero">
    <div class="hero-content">
      <h1 class="heading">Fundamentals</h1>
      <p class="byline">
        We are a completely transparent organisation that believes in self governance.
        Check our recent <a href="">Blog</a>
      </p>
    </div>
    <img id="home-hero-illustration" class="hero-illustration" src="img/home-hero-illustration.svg" alt="">
  </div>

  <div class="exclusive-section featured">
    <h2>Our Business Decision Records</h2>
    <p>
      Business Decision Records (BDRs) are documents written to capture significant strategic decisions,
      in the style of software architecture decision records. We have found ADRs to be very useful to
      retrospect and introspect on our software projects. BDRs are an attempt to bring that utility to the
      arc of our business.
    </p>
    <a href="" class="featured-link">View all BDRs <i class="fas fa-long-arrow-alt-right"></i></a>
  </div>

  <div class="">
    <h2 class="section-heading">About Us</h2>
    <p class="section-byline">It is our mission to continuously do better</p>
    <div class="section-content flex-column">
      <p>It is our mission to continuously do better. We have grown a small web shop into a team of
        developers and designers tackling challenges in data science and experimentation, machine
        learning runtimes, complex systems integration, large data set analysis, and low-latency
        realtime systems. Our love of technology is born from helping our clients solve difficult
        problems and we would love to hear from you if you have a challenge for us.
      </p>
      <p>
        For us, self-improvement has another facet: impact. We want to improve the world around us.
        Software is emerging as a key component of infrastructure, international development, open
        government, transportation, agriculture, and the arts. The space is endless.
      </p>
      <p>
        Our primary goal is to find people and organizations to partner with who feel the same way. If
        you prefer working on open source, with open data, in open and transparent fields, we want to
        talk to you.
      </p>
    </div>
  </div>

  <ul class="paginations">
    <li class="pagination">
      <h4 class="pagination-heading"><i class="fad fa-podium-star"></i>Conference Talks</h4>
      <p>Check our talks on recent technology and work we have done</p>
      <a href="" class="pagination-link">Read more <i class="fas fa-long-arrow-alt-right"></i></a>
    </li>
    <li class="pagination">
      <h4 class="pagination-heading"><i class="fad fa-users-crown"></i>Team</h4>
      <p>Our masterminds behind all successful projects</p>
      <a href="" class="pagination-link">Read more <i class="fas fa-long-arrow-alt-right"></i></a>
    </li>
  </ul>
</div>
