---
title: Home
---

<div class="logo-section section">
  <img alt="Nilenso logo" class="nilenso-logo" src="images/nilenso_logos/nilenso_logo.png">
</div>

<div class="about bordered-section">
  <p class="section-content">Nilenso (formerly the consulting arm of C42 Engineering) is an employee-owned software
    cooperative based out of Bangalore, India. We ship beautiful, fully-tested applications for you
    everyday.
  </p>
</div>

<div class="startups section">
  <h2 class="section-heading">We work with startups</h2>

  <p class="section-content">
    Building a great tech team takes time. But you need to release your
    product right now to start gathering feedback and iterate.
    Hire us to build your product on a strong foundation, ready to be
    transitioned off as your team grows.
  </p>
</div>

<div class="casestudies bordered-section">
  <div class="casestudy">
    <div class="casestudy-client-logo">
      <img alt="Grasshopper logo" class="client-logo"
           src="images/client_logos/grasshopper_logo.png"/>
    </div>

    <div class="casestudy-client-description first">
      <p class="casestudy-client-description-content section-content">
        <strong>Grasshopper</strong> is a virtual telephony system
        serving
        massive number of calls everyday. They hired us to build the
        version
        2 of their large scale call routing system. We set up a truly
        distributed process and development practices,
        and started shipping from day one.
        <a href="grasshopper">more</a>
      </p>
    </div>
    <div class="clear"></div>
  </div>

  <div class="casestudy">
    <div class="casestudy-client-logo">
      <img alt="Grasshopper logo" class="client-logo"
           src="images/client_logos/weddingtonway_logo.png"/>
    </div>

    <div class="casestudy-client-description">
      <p class='casestudy-client-description-content section-content'>
        <strong>Weddingtonway</strong> hired us to add
        more features to
        their flagship accounting software. We worked through the entire
        stack - from the backend modules, customer engagement and
        front-end
        to deliver valuable features. <a href="weddingtonway">more</a>
      </p>
    </div>
    <div class="clear"></div>
  </div>

  <p class="portfolio-more section-content">
    See our <a href="portfolio.html">portfolio</a> to see a list of the
    clients we have worked with.
  </p>
</div>

<div class="process bordered-section">
  <h2 class="section-heading">We ship everyday</h2>

  <p class='section-content'>
    We follow Extreme Programming (XP) practices to ship reliable
    software fast.
    We work in pairs, test drive code and follow weekly iterations.
  </p>
</div>

<div class="people bordered-section">
  <h2 class="section-heading">We are great people to work with</h2>

  <p class="section-content">
    We are expert web developers with extensive experience in Ruby, Rails and Javascript.
    We have built and launched products, regularly speak at industry conferences, sing
    carnatic music and climb mountains.
  </p>

  <p class="people-more section-content-more">
    <a class="person-link" href="people.html#akshay">
      <img alt="Akshay 200" class="human" src="images/people/akshay-200.png" />
    </a>
    <a class="person-link" href="people.html#aninda">
      <img alt="Aninda 200" class="human" src="images/people/aninda-200.png" />
    </a>
    <a class="person-link" href="people.html#asif">
      <img alt="Asif 200" class="human" src="images/people/asif-200.png" />
    </a>
    <a class="person-link" href="people.html#jasim">
      <img alt="Jasim 200" class="human" src="images/people/jasim-200.png" />
    </a>
    <a class="person-link" href="people.html#jithu">
      <img alt="Jithu 200" class="human" src="images/people/jithu-200.png" />
    </a>
    <a class="person-link" href="people.html#neha">
      <img alt="Neha 200" class="human" src="images/people/neha-200.png" />
    </a>
    <a class="person-link" href="people.html#nid">
      <img alt="Nid 200" class="human" src="images/people/nivedita-200.png" />
    </a>
    <a class="person-link" href="people.html#prashant">
      <img alt="Prashant 200" class="human" src="images/people/prashant-200.png" />
    </a>
    <a class="person-link" href="people.html#srihari">
      <img alt="Srihari 200" class="human" src="images/people/srihari-200.png" />
    </a>
    <a class="person-link" href="people.html#steve">
      <img alt="Steve 200" class="human" src="images/people/steven-200.png" />
    </a>
    <a class="person-link" href="people.html#tejas">
      <img alt="Tejas 200" class="human" src="images/people/tejas-200.png" />
    </a>
    <a class="person-link" href="people.html#timothy">
      <img alt="Timothy 200" class="human" src="images/people/timothy-200.jpg" />
    </a>
  </p>
</div>
<div class="section cta">
  <h2 class="section-heading">Get in touch</h2>
  <p class="section-content">Email us at <a class="contact-email" href='mailto:hello@nilenso.com'>hello@nilenso.com</a>. We'll respond to you within one business day.</p>
</div>
