---
title: Home
---

<section class="container home">
    <div class="hero">
        <div class="hero-content">
            <h1 class="heading">We’re an Employee Owned Software Cooperative</h1>
            <p class="byline">We ship beautiful, fully-tested applications for your organization</p>
        </div>
    </div>

    <%# <div class="exclusive-section">
        <h2>Exlusive Section</h2>
        <p>
            We're passionate, curious folks looking to work with passionate, curious folks.
            We want people to join the team who are as excited as we are to help build the platform that
            empowers
            the future generation of creators to be successful online.
        </p>
    </div> %>

    <div class="we-are-evolving">
        <h2 class="section-heading">We are evolving</h2>
        <p class="section-byline">Sub heading text will come here</p>
        <div class="section-content flex-row">
            <p>
                It is our mission to continuously do better. We have grown a small web shop into a team of
                developers and designers tackling
                challenges in data science and experimentation, machine learning runtimes, complex systems
                integration, large data set
                analysis, and low-latency realtime systems. Our love of technology is born from helping our
                clients solve difficult problems
                and we would love to hear from you if you have a challenge for us.

                For us, self-improvement has another facet: impact. We want to improve the world around us.
                Software is emerging as a key
                component of infrastructure, international development, open government, transportation,
                agriculture, and
                the arts.

                Our primary goal is to find people and organizations to partner with who feel the same way.
                If you prefer working on open source, with open data, in open and transparent fields, we want to
                talk to you.
            </p>
        </div>
    </div>

    <div class="what-we-do">
        <h2 class="section-heading">What we do</h2>
        <p class="section-byline">Sub heading text will come here</p>
        <div class="section-content flex-row">
            <p>It is our mission to continuously do better. We have grown a small web shop into a team of
                developers
                and designers tackling challenges in data science and experimentation, machine learning
                runtimes,
                complex systems integration, large data set analysis, and low-latency realtime systems. Our love
                of technology
                is born from helping our clients solve difficult problems and we would love to hear from you if
                you have a challenge for us.
                It is our mission to continuously do better. Our love of technology is born from helping our
                clients solve difficult
                problems and we would love to hear from you if you have a challenge for us.
            </p>
        </div>

        <p class="section-content">We have worked with some awesome clients</p>
        <div class="featured">
            <div class="client collage client-carousel">
              <% data.portfolios.each do |portfolio| %>
                <div>
                  <img src="<%= portfolio.logo %>">
                </div>
              <% end %>
            </div>
        </div>
        <%# <div class="featured">
            <span for="" class="featured">featured</span>
            <h3 class="featured-heading">Driver Allocation for Go-Jek</h3>
            <hr class="divider">
            <p class="featured-content">
                This service was built for an Indonesian Uber competitor. Matching drivers to riders is perhaps
                the most crucial runtime behaviour of any rideshare business. This is the first interaction any
                customer will have with the application. It is also the most common. Failures quickly multiply
                in the minds of users (riders and drivers, both). We were tasked with rewriting a fragile and
                bug-ridden Allocation Service written in Go. For this project, we convinced the client to use
                Clojure, deploying their first production Clojure code.
            </p>
            <a href="" class="featured-link">View all projects <i class="fas fa-long-arrow-alt-right"></i></a>
        </div> %>
    </div>

    <div class="team">
        <h2 class="section-heading">We are great people to work with</h2>
        <p class="section-byline">Creating some great memories amongst our team</p>
        <div class="section-content">
            <p>
                We are expert developers with extensive experience in Clojure, Javascript, and Ruby.
                We have built and launched products, regularly speak at industry conferences, sing carnatic
                music, and climb mountains.
                Introduce yourself to any one of us. We want to <a href="">talk to you</a>.
            </p>
        </div>
        
        <div class="featured">
          <div class="people-carousel">
            <% data.people.each do |person| %>
              <div>
                <img alt="<%= person.name %> 200" class="human grayscale" src="images/people/<%= person.nick %>-200.png" />
              </div>
            <% end %>
          </div>
        </div>
    </div>

    <ul class="paginations">
      <li class="pagination">
        <a href="/talks.html" class="pagination-link">
          <h4 class="pagination-heading"><i class="fad fa-podium-star"></i>Conference Talks</h4>
          <p>Check our talks on recent technology and work we have done</p>
        </a>
      </li>
      <li class="pagination">
        <a href="https://blog.nilenso.com" class="pagination-link">
          <h4 class="pagination-heading"><i class="fad fa-blog"></i>Blog</h4>
          <p>Our masterminds behind all successful projects</p>
        </a>
      </li>
    </ul>
</section>

<script>
  // Show the Nilenso header logo when you scroll past the main logo
  $(window).scroll(function () {
    var top = $(window).scrollTop();
    var header = $(".header-logo");
    var showLogoAtHeight = 180;
    if(top > showLogoAtHeight) {
      header.addClass("visible");
    } else {
      header.removeClass("visible");
    }
  });
</script>
