---
title: Home
---

<div class="logo-section section">
  <img alt="Nilenso logo" class="nilenso-logo" src="images/nilenso_logos/nilenso_logo.png">
</div>

<div class="about bordered-section">
  <h1 class="section-content"><a class="name-link" href="name.html">Nilenso</a> (formerly the consulting arm of C42 Engineering) is an employee-owned software
    cooperative based out of Bangalore, India. We ship beautiful, fully-tested applications for you
    everyday.
  </h1>

  <p class="section-content books">If you're here from GCRC, and would like to get your free book, <a href="mailto:hello@nilenso">write to us</a></p>
</div>

<div class="startups section">
  <h2 class="section-heading">We work with startups</h2>

  <p class="section-content">
    We engage with you as your technical partner, and can help take
    your product all the way from inception to launch, ensuring consistent
    delivery of well-designed, well-tested software. We can transition to your team as
    you grow, or continue refining your product through ongoing iterations.
  </p>

  <p class="section-content">
    We work with Ruby on Rails and Javascript, build responsive web sites,
    and ship apps on Android.
  </p>
</div>

<div class="casestudies bordered-section">
  <div class="two-column casestudy">
    <div class="column casestudy-client-logo">
      <a href="/portfolio.html#flipkart"><img alt="Flipkart logo" class="client-logo"
           src="images/client_logos/flipkart_logo.png"/></a>
    </div>

    <div class="column casestudy-client-description first">
      <p class="casestudy-client-description-content section-content">
        <i class="quote left">&#8220;</i>
        C42 has been working with our Ruby & Rails teams for the past few months. They've shown a high level of ownership, and have been driving improvements in agile practices and Ruby usage in our teams. They've also been contributing to DevOps and infrastructure pieces where needed...
        <i class="quote right">&#8221;</i>
        <a href="portfolio.html#flipkart" class="more-link">more</a>
      </p>
    </div>
    <div class="clear"></div>
  </div>

  <div class="two-column casestudy">
    <div class="column casestudy-client-logo">
      <a href="/portfolio.html#indinero">
        <img alt="Indinero logo" class="client-logo"
             src="images/client_logos/indinero_logo.png"/>
      </a>
    </div>

    <div class="column casestudy-client-description">
      <p class='casestudy-client-description-content section-content'>
        <i class="quote left">&#8220;</i>
        The coders at C42 are absolutely awesome — they're prolific about writing high quality code, and they've even taught us how to improve our engineering practices. They know how to make offshore development work well, and their communication skills are top-notch...
        <i class="quote right">&#8221;</i>
        <a href="portfolio.html#indinero" class="more-link">more</a>
      </p>
    </div>
    <div class="clear"></div>
  </div>

  <p class="portfolio-more section-content">
    See our <a href="portfolio.html">portfolio</a> to see a list of the
    clients we have worked with.
  </p>
</div>

<div class="process bordered-section">
  <h2 class="section-heading">We ship everyday</h2>

  <p class='section-content'>
    We follow Extreme Programming (XP) practices to build reliable software fast.
    We deploy working software everyday, communicate effectively through daily standups, work in pairs, test drive code,
    and are transparent about everything we do.
  </p>
</div>

<div class="people bordered-section">
  <h2 class="section-heading">We are great people to work with</h2>

  <p class="section-content">
    We are expert web developers with extensive experience in Ruby, Rails, and Javascript.
    We have built and launched products, regularly speak at industry conferences, sing
    carnatic music, and climb mountains.
  </p>

  <p class="people-more section-content-more">
    <% data.people.each do |person| %>
      <a class="person-link" href="people.html#<%= person.nick %>">
        <img alt="<%= person.name %> 200" class="human" src="images/people/<%= person.nick %>-200.png" />
      </a>
    <% end %>
  </p>
</div>
<div class="section get-in-touch">
  <h2 class="section-heading">Get in touch</h2>
  <p class="section-content">Email us at <a class="contact-email" href='mailto:hello@nilenso.com'>hello@nilenso.com</a>. We'll respond to you within one business day.</p>
</div>

<script>
  // Show the Nilenso header logo when you scroll past the main logo
  $(window).scroll(function () {
    var top = $(window).scrollTop();
    var header = $(".header-logo");
    var showLogoAtHeight = 180;
    if(top > showLogoAtHeight) {
      header.addClass("visible");
    } else {
      header.removeClass("visible");
    }
  });
</script>
