---
title: Internship
---
<div class="bordered-section">
  <h2 class="section-heading">Summer Internship, 2020</h2>
  <p class="section-content">
    Nilenso is offering a 6 week paid internship to work on our open source products. The candidates, and their peers will work with a few members from nilenso to build a working product gaining hands-on experience of the best practices in software development.
  </p>
</div>

<div class="bordered-section">
  <div class="section">
    <h2 class="section-subheading">What is the timeline for the internship?</h2>
    <div class="section-content">
      The internship will be organised for a period of 8 weeks, starting from 1st June and ending on 25th July. The candidate can choose 6 continuous weeks during this period to complete their internship.
    </div>
  </div>

  <div class="section">
    <h2 class="section-subheading">Where will it be held? What about Covid-19?</h2>
    <p class="section-content">
      Our original plan for the internship was to have it at our Bangalore office, facilitating in-depth interaction with the interns. However, in light of the ongoing pandemic and related quarantine, it's most likely that the internship will be fully remote. We are closely monitoring the situation and will post updates as we know more.
    </p>

    <p class="section-content">
      To support a fully remote internship we will require the candidate to have access to their own computer along with a decent internet connection. We will provide support in terms of any software tools or licenses as required.
    </p>
  </div>

  <div class="section">
    <h2 class="section-subheading">What is nilenso looking for in a candidate?</h2>
    <p class="section-content">
      This internship is primarily being offered to students going into their final year of engineering. We are looking for candidates who are enthusiastic about learning how software engineering happens in the real world.
    </p>

    <p class="section-content">
      Moreover, our company ethos is to promote diversity in our industry. To this end, we have a preference towards members from under represented groups for offering the internship. 

    </p>
  </div>

  <div class="section">
    <h2 class="section-subheading">Why should you apply for the internship?</h2>
    <p class="section-content">
      nilenso is a software consultancy that works on large scale, high impact, technically challenging projects. We support open source software, and foster an open culture in our organization. All your work will be open source and hosted publically, as a showcase of your skills and experience.
    </p>

    <p class="section-content">
      During the internship you'll get to work on building a project, following the best practices, learn about project management and making trade offs, while using functional programming to make beautiful frontends and scalable backends.
    </p>
  </div>

  <div class="section">
    <h2 class="section-subheading">How to apply?</h2>
    <p class="section-content">
      Send an email to internships@nilenso.com along with your resume, telling us about yourself, what piqued your interest about the internship, what do you want to do in your early career, and what you expect from this internship. 
    </p>
  </div>
</div>

<div class="footer">
  <div class="section-content contact-info">
    <p class="contact-phone-number">
      <a class="contact-link email-link" href="mailto:hello@nilenso.com">hello@nilenso.com</a>
      <a class="contact-link contact-social-link" href="http://twitter.com/nilenso">@nilenso</a>
      <a class="contact-link contact-social-link" href="http://github.com/nilenso">github.com/nilenso</a>
      <a class="contact-link" href="tel:+918040937123">+91 80 4093 7123</a>
    </p>
    <p class="contact-address">Nilenso Software LLP, #105, 10th Cross, Indiranagar Stage 1,
      Bangalore, India, 560038</p>
  </div>
</div>
