---
title: Of the name
---

<div class="name section">
  <h2 class="section-heading">Nilenso?</h2>
  <p class="section-content name-section-content">
    <em>nil</em> is the absence of a value. <em>enso</em> is a circle representing the void.
    <em>nil</em> + <em>enso</em> is the absence of the void, or creation.
  <p class="section-content name-section-content" style="text-align:center;">nilenso. create.</p>
</div>
