---
title: Open Source
---

<div>
  <h2 class="section-heading">Open Source</h2>

  <div class="section">
    <% data.opensource.each do |project| %>
      <p class="section-content">
	<strong>
	  <%= project.name %>
	</strong>
	<br>

	<% if project.website.present? %>
	<a href="<%= project.website %>">Website</a> | <a href="<% project.source %>">Source</a>
	<% else %>
	<a href="<% project.source %>">Source</a>
	<% end %>
	<br>

	<%= project.description %>
      </p >
    <% end %>
  </div>
</div>
