---
title: People
---

<div class="people section">
  <h2 class="section-heading">Our Team</h2>

  <% data.people.each do |f| %>
    <div class="portfolio-testimonial section">
      <a href="#" target="_blank"><img class="testimonial-logo" src="<%= f.picture %>"></img></a>

      <div class="testimonial-quote-container section-content">
        <p class="people-human-description-links">
          <a class="social-link" href="<%= f.twitter %>"><i class="icon-twitter-sign"></i></a>
          <a class="social-link" href="<%= f.linkedin %>"><i class="icon-linkedin-sign"></i></a>
          <a class="social-link" href="<%= f.github %>"><i class="icon-github-sign"></i></a>
        </p>

        <p class="testimonial-quote-text">
          <% f.bio %>
        </p>
      </div>
    </div>
  <% end %>
</div>
