---
title: Technical Details of Recent Projects
---
<section class="container work">
  <ul class="breadcrumbs">
    <li class="breadcrumb"><a href="index.html">Home</a></li> <i class="fas fa-chevron-right"></i>
    <li class="breadcrumb">Projects</li>
  </ul>

  <div class="hero">
    <div class="hero-content">
      <h1 class="heading">Projects</h1>
      <p class="byline">
        We maintain and operate systems we build when they go to production.
        We also love working on <a href="">Open Source</a>
      </p>
    </div>
  </div>

  <div class="recent-tech">
    <h2 class="section-heading">Recent Projects</h2>
    <p class="section-byline">Technical details of recent projects</p>
    <p>Some of the major services we've built include a multivariate testing/experimentation platform, a
      rideshare driver-allocation service, multiple machine learning runtimes.</p>
    <div class="section-content">
      <ul class="projects">
        <li class="project">
          <div class="project-content">
            <h4 class="project-heading">Experimentation platform</h4>
            <ul class="tags">
              <li class="tag">clojure</li>
              <li class="tag">clojurescript</li>
              <li class="tag">react native</li>
            </ul>
            <p>
              This is easily the largest system nilenso has built and owned. With a three-year
              lifespan thus far,
              EP supports a less than 10ms 99.9 percentile SLA and over 500 requests per second as
              a backend service
              to a large e-commerce company. The system involved significant research and the
              incorporation of work
              done by Google, Netflix, and Microsoft (released as white papers), tuning a large
              and fast-moving
              Postgres runtime database as well as a sizable reporting database.
            </p>
            <a href="" class="featured-link">Read more <i class="fas fa-long-arrow-alt-right"></i></a>
          </div>
          <div class="project-video">
            <iframe width="100%" height="80%" src="https://www.youtube.com/embed/YjfXhhxw9Bs" frameborder="0"
              allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>Building an Experimentation Platform in Clojure - Nivedita & Srihari at Functional
              Conf 2015</p>
          </div>
        </li>

        <li class="project">
          <div class="project-content">
            <h4 class="project-heading">Web crawler/scraper</h4>
            <ul class="tags">
              <li class="tag">clojure</li>
              <li class="tag">clojurescript</li>
              <li class="tag">react native</li>
            </ul>
            <p>
              A system which would routinely analyze an unstructured dataset on the web to
              correlate data from internal systems with external.
              This project employed a great deal of error-handling, distribution of the agents
              performing the crawling, and intelligent HTML parsing
            </p>
            <a href="" class="featured-link">Read more <i class="fas fa-long-arrow-alt-right"></i></a>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <section class="call-out">
    <div class="call-out-content">
      <h3>We help our clients in many other ways</h3>
      <p>We focus on helping our clients successfully transform their businesses</p>
      <button class="btn btn-secondary">Contact Us</button>
    </div>
    <ul class="call-out-icons">
      <li class="call-out-icon"><i class="fad fa-comments-alt"></i>IPMs</li>
      <li class="call-out-icon"><i class="fad fa-alicorn"></i>Consulting</li>
      <li class="call-out-icon"><i class="fad fa-calendar-check"></i>Planning</li>
      <li class="call-out-icon"><i class="fad fa-users-class"></i>Staff Augmentation</li>
      <li class="call-out-icon"><i class="fad fa-presentation"></i>Training</li>
      <li class="call-out-icon"><i class="fad fa-hand-holding-seedling"></i>Greenfield Dev</li>
    </ul>
  </section>

  <ul class="paginations">
    <li class="pagination">
      <h4 class="pagination-heading"><i class="fad fa-podium-star"></i>Conference Talks</h4>
      <p>Check our talks on recent technology and work we have done</p>
      <a href="" class="pagination-link">Read more <i class="fas fa-long-arrow-alt-right"></i></a>
    </li>
    <li class="pagination">
      <h4 class="pagination-heading"><i class="fad fa-users-crown"></i>Team</h4>
      <p>Our masterminds behind all successful projects</p>
      <a href="" class="pagination-link">Read more <i class="fas fa-long-arrow-alt-right"></i></a>
    </li>
  </ul>
</section>
